<form class="form-certificados hidden" id="form-confirm-buy">
    <h2>Você precisa de dominios adicionais?</h2>
    {#    <h2>{{ page.product.title }}, linha <span class="line">prime</span>, vigência de <span class="term">1 ano</span></h2>#}
    <p>O certificado selecionado já contempla 5 domínios. Se necessário, contrate domínios adicionais abaixo.</p>
{#    <div>#}
{#      <label for="qtd">Quantidade de certificados</label><input type="text" id="qtd" name="qtd" class="span1" value="1"><span class="info price">R$ 1.000,00</span>#}
{#    </div>#}
{#    <div>#}
{#      <label>Dominios inclusos por certificado</label><input type="text" disabled="disabled" class="span1"><span class="info price">R$ Incluso no valor do certificado</span>#}
{#    </div>#}
    <div>
      <label for="num_domains">Quantidade de dominios adicionais</label><input type="text" id="num_domains" name="num_domains" value="1" class="span1"><span class="info price">R$ 100,00 / Domínio adicional</span>
    </div>

    <button class="btn btn-orange pull-right" id="btn-confirm-buy">Confirmar</button>
</form>