<section class="featurette tabmid">
<table class="table ssltab">
<thead>
<tr>
    <th>ENTENDA NOSSAS LINHAS</th>
    <th>PRIME</th>
    <th>PRO</th>
    <th>BASIC</th>
    <th class="tdbrs">GRÁTIS</th>
</tr>
</thead>
<tbody>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Tempo de Emissão</b></td>
    <td class="tdbls center">Até 24 horas</td>
    <td class="tdbls center">Até 24 horas</td>
    <td class="tdbls center">48 horas</td>
    <td class="tdblrs tdbrs center">48 horas</td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Algoritmo</b></td>
    <td class="tdbls center">RSA 4096 bits</td>
    <td class="tdbls center">RSA 2048 bits</td>
    <td class="tdbls center">RSA 2048 bits</td>
    <td class="tdblrs tdbrs center">RSA 2048 bits</td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Tamanho da Chave</b></td>
    <td class="tdbls center">512 bits</td>
    <td class="tdbls center">256 bits</td>
    <td class="tdbls center">256 bits</td>
    <td class="tdblrs tdbrs center">256 bits</td>
</tr>
<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Instalação em Servidor Adicional sem Custo</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdblrs tdbrs sslwrong"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Emissão Antes do Pagamento</b>*</td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdblrs tdbrs center">N/A</td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Validação Completa</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdblrs tdbrs sslright"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Reemissão Ilimitada</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdblrs tdbrs sslwrong"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Reemissão por 30 dias</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdblrs tdbrs sslright"></td>

</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Emissão Emergencial</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdblrs tdbrs sslwrong"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Suporte 24x7</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdblrs tdbrs sslwrong"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Suporte 8x5</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdblrs tdbrs sslright"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Suporte em Português Gratuito</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdblrs tdbrs sslright"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>SLA de Atendimento (horas úteis)</b></td>
    <td class="tdbls center">4 horas</td>
    <td class="tdbls center">8 horas</td>
    <td class="tdbls center">48 horas</td>
    <td class="tdblrs tdbrs center">48 horas</td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls tdblrs tdbrs"><b>Selo de Segurança Gratuito</b></td>
    <td class="tdbls tdblrs tdbrs sslright"></td>
    <td class="tdbls tdblrs tdbrs sslright"></td>
    <td class="tdblrs tdbrs sslright"></td>
    <td class="tdblrs tdbrs sslwrong"></td>
</tr>

{# Benefícios abaixo escondidos até clicar em 'mais benefícios' #}

<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls"><b>Valor do Seguro</b>**</td>
    <td class="tdbls center">Até US$ 250.000</td>
    <td class="tdbls center">Até US$ 250.000</td>
    <td class="tdblrs tdbrs center">Até US$ 250.000</td>
    <td class="tdblrs tdbrs center">N/A</td>
</tr>
<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls tdblrs tdbrs"><b>Utiliza CSR</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdblrs tdbrs sslright"></td>
</tr>
<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls tdblrs tdbrs"><b>Compatível com SGC</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdblrs tdbrs sslright"></td>
</tr>
<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls"><b>Canais de Atendimento</b></td>
    <td class="tdbls center">Tel, Chat, e-mail, Formulário do Site</td>
    <td class="tdbls center">Tel, Chat, e-mail, Formulário do Site</td>
    <td class="tdbls center">Tel, Chat, e-mail, Formulário do Site</td>
    <td class="tdblrs tdbrs center">Tel, Chat, e-mail, Formulário do Site</td>
</tr>
<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls"><b>Compatível com 99,3% dos navegadores</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdblrs tdbrs sslright"></td>
</tr>
<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls"><b>Nota Fiscal</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdblrs tdbrs center">N/A</td>
</tr>
<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls"><b>Prazo de Validade</b></td>
    <td class="tdbls center">1, 2 ou 3 anos</td>
    <td class="tdbls center">1, 2 ou 3 anos</td>
    <td class="tdblrs center">1, 2 ou 3 anos</td>
    <td class="tdblrs center">até 30 dias</td>
</tr>
<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls"><b>Gerente de Contas Dedicado</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdblrs tdbrs center">N/A</td>
</tr>
<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls"><b>Aviso de Vencimento por e-mail</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdblrs tdbrs sslwrong"></td>
</tr>
<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls"><b>SSL Checker - verificador de SSL</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdblrs tdbrs sslwrong"></td>
</tr>
<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls"><b>CSR Decoder - decodificador de CSR</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdblrs tdbrs sslwrong"></td>
</tr>
<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls"><b>Avaliador de vulnerabilidades semanal</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdblrs tdbrs sslwrong"></td>
</tr>
<tr class="all-body-text5 bbs mais_beneficios">
    <td class="tdbls tdblrs tdbrs"><b>Verificação de malware semanal</b></td>
    <td class="tdbls tdblrs tdbrs sslright"></td>
    <td class="tdbls tdblrs tdbrs sslwrong"></td>
    <td class="tdblrs tdbrs sslwrong"></td>
    <td class="tdblrs tdbrs sslwrong"></td>
</tr>



{#<tr class="as-text1 bbts lasttab">#}
{#    <td class="tdbls"><b>Validade do Certificado</b>#}
{##}
{#        <div class="dropdown minidrop">#}
{#            <a data-toggle="dropdown" class="" href="#">#}
{#                <button class="all-body-text5" type="button"#}
{#                        style="padding:2px 22px; border-color:#000; background-color:#FFF;">1 ano<b#}
{#                        class="caret"></b></button>#}
{#            </a>#}
{#            <ul class="dropdown-menu pull-right" style="text-align:left;">#}
{#                <li><a href="#">1 ano</a></li>#}
{#                <li><a href="#">2 anos</a></li>#}
{#                <li><a href="#">3 anos</a></li>#}
{#                <li><a href="#">30 dias</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </td>#}
{##}
{##}
{#    <td style="padding-left:2px; padding-right:2px;"><p class="subp">#}
{#        <sub class="subm">R$</sub>2430<sup class="superu">00</sup>#}
{#        <sub class="subd">/ano</sub></p></td>#}
{##}
{#    <td style="padding-left:2px; padding-right:2px;"><p class="subp">#}
{#        <sub class="subm">R$</sub>1450<sup class="superu">00</sup>#}
{#        <sub class="subd">/ano</sub></p></td>#}
{##}
{#    <td style="padding-left:2px; padding-right:2px;"><p class="subp">#}
{#        <sub class="subm">R$</sub>390<sup class="superu">00</sup>#}
{#        <sub class="subd">/ano</sub></p></td>#}
{##}
{#    <td style="padding-left:2px; padding-right:2px; text-align: center;"><p class="">30 dias grátis</p></td>#}
{#</tr>#}

</tbody>
</table>


<p style="margin-top: -20px">
    <a id='mais_beneficios_link' onclick='$(".mais_beneficios").show(); $("#mais_beneficios_link").hide(); $("#menos_beneficios_link").show();' href='#mais_beneficios_link'>▾ clique e veja mais benefícios</a>
    <a id='menos_beneficios_link' class="hidden" onclick='$(".mais_beneficios").hide(); $("#mais_beneficios_link").show(); $("#menos_beneficios_link").hide();' href='#mais_beneficios_link'>▴ clique e veja a versão resumida</a>
</p>

<div id="product-price" class="container">

    <div class="tblrp10">
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#lA" data-toggle="tab">1 ano</a></li>
            <li><a href="#lB" data-toggle="tab">2 anos</a></li>
            <li><a href="#lC" data-toggle="tab">3 anos</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="lA">
                <div class="box-price tblrp10">
                    <h3>R$ {{ precos.basic.term1year.price_tpl.0 }}<sup>,{{ precos.basic.term1year.price_tpl.1 }}</sup></h3>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="prime" data-term="1year" class="btn btn-orange">Comprar</a>
                </div>
                <div class="box-price tblrp10">
                    <h3>R$ {{ precos.basic.term2years.price_tpl.0 }}<sup>,{{ precos.basic.term2years.price_tpl.1 }}</sup></h3>
                    <small>{{ precos.basic.term2years.discount }}% de desconto</small>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="pro" data-term="1year" class="btn btn-orange">Comprar</a>
                </div>
                <div class="box-price tblrp10">
                    <h3>R$ {{ precos.basic.term3years.price_tpl.0 }}<sup>,{{ precos.basic.term3years.price_tpl.1 }}</sup></h3>
                    <small>{{ precos.basic.term3years.discount }}% de desconto</small>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="basic" data-term="1year" class="btn btn-orange">Comprar</a>
                </div>
                <div class="box-price tblrp10">
                    <h3>1 mês grátis</h3>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="free" data-term="1year" class="btn">Experimente</a>
                </div>
            </div>
            <div class="tab-pane" id="lB">
                <div class="box-price tblrp10">
                    <h3>R$ {{ precos.pro.term1year.price_tpl.0 }}<sup>,{{ precos.pro.term1year.price_tpl.1 }}</sup></h3>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="prime" data-term="2years" class="btn btn-orange">Comprar</a>
                </div>
                <div class="box-price tblrp10">
                    <h3>R$ {{ precos.pro.term2years.price_tpl.0 }}<sup>,{{ precos.pro.term2years.price_tpl.1 }}</sup></h3>
                    <small>{{ precos.pro.term2years.discount }}% de desconto</small>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="pro" data-term="2years" class="btn btn-orange">Comprar</a>
                </div>
                <div class="box-price tblrp10">
                    <h3>R$ {{ precos.pro.term3years.price_tpl.0 }}<sup>,{{ precos.pro.term3years.price_tpl.1 }}</sup></h3>
                    <small>{{ precos.pro.term3years.discount }}% de desconto</small>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="basic" data-term="2years" class="btn btn-orange">Comprar</a>
                </div>
                <div class="box-price tblrp10">
                    <h3>1 mês grátis</h3>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="free" data-term="2years" class="btn">Experimente</a>
                </div>
            </div>
            <div class="tab-pane" id="lC">
                <div class="box-price tblrp10">
                    <h3>R$ {{ precos.prime.term1year.price_tpl.0 }}<sup>,{{ precos.prime.term1year.price_tpl.1 }}</sup></h3>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="prime" data-term="2years" class="btn btn-orange">Comprar</a>
                </div>
                <div class="box-price tblrp10">
                    <h3>R$ {{ precos.prime.term2years.price_tpl.0 }}<sup>,{{ precos.prime.term2years.price_tpl.1 }}</sup></h3>
                    <small>{{ precos.prime.term2years.discount }}% de desconto</small>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="pro" data-term="2years" class="btn btn-orange">Comprar</a>
                </div>
                <div class="box-price tblrp10">
                    <h3>R$ {{ precos.prime.term3years.price_tpl.0 }}<sup>,{{ precos.prime.term3years.price_tpl.1 }}</sup></h3>
                    <small>{{ precos.prime.term3years.discount }}% de desconto</small>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="basic" data-term="2years" class="btn btn-orange">Comprar</a>
                </div>
                <div class="box-price tblrp10">
                    <h3>1 mês grátis</h3>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="free" data-term="3years" class="btn">Experimente</a>
                </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div id="comprar-message"></div>

    </div>
</div>

<div class="clearfix"></div>

<small>
* Condição não aplicável às compras pelo site  ** Não se aplica para certificados SAN e MDC
</small>

</section>
<div class="site-body-text2 pull-right btn btn-large" style="display:none;">
    <a href='#'>ENTENDA NOSSO PROCESSO DE COMPRA ON-LINE</a>
</div>

<div style='margin-top: 40px;'>
    <a href="{% url 'page' 'certificado-digital' %}">Conheça a linha completa de certificados digitais</a>
</div>