            {% block price %}
                <div class="tab-pane" id="lB">
                    <div class="box-price tblrp10">
                        <div class="line">Basic</div>
                        <h3>R$ {{ precos.basic.term2years.price_tpl.0 }}<sup>,{{ precos.basic.term2years.price_tpl.1 }}</sup></h3>
                        <small>Economia de {{ precos.basic.term2years.discount }}%</small>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="basic" data-additional-product-code="{{ additional_product_code }}"  data-term="2years" data-additional-price="R$ {{ adicional.precos.basic.term2years.price }}" {% if adicional.precos.basic.term2years %} data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Comprar</a>
                    </div>
                    <div class="box-price tblrp10">
                        <div class="line">Pro</div>
                        <h3>R$ {{ precos.pro.term2years.price_tpl.0 }}<sup>,{{ precos.pro.term2years.price_tpl.1 }}</sup></h3>
                        <small>Economia de {{ precos.pro.term2years.discount }}%</small>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="pro" data-additional-product-code="{{ additional_product_code }}"  data-term="2years" data-additional-price="R$ {{ adicional.precos.pro.term2years.price }}" {% if adicional.precos.pro.term2years %} data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Comprar</a>
						<p class="dica">Ligue e consulte valores diferenciados</p>
                    </div>
                    <div class="box-price tblrp10">
                        <div class="line">Prime</div>
                        <h3>R$ {{ precos.prime.term2years.price_tpl.0 }}<sup>,{{ precos.prime.term2years.price_tpl.1 }}</sup></h3>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="prime" data-additional-product-code="{{ additional_product_code }}"  data-term="2years" data-additional-price="R$ {{ adicional.precos.prime.term2years.price }}" {% if adicional.precos.prime.term2years %} data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Comprar</a>
                        <small>Economia de {{ precos.prime.term2years.discount }}%</small>
						<p class="dica">Ligue e consulte valores diferenciados</p>
                    </div>
                </div>
                <div class="tab-pane" id="lC">
                    <div class="box-price tblrp10">
                        <div class="line">Basic</div>
                        <h3>R$ {{ precos.basic.term3years.price_tpl.0 }}<sup>,{{ precos.basic.term3years.price_tpl.1 }}</sup></h3>
                        <small>Economia de {{ precos.basic.term3years.discount }}%</small>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="basic" data-additional-product-code="{{ additional_product_code }}"  data-term="3years" data-additional-price="R$ {{ adicional.precos.basic.term3years.price }}" {% if adicional.precos.basic.term3years %} data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Comprar</a>
						<p class="dica">Ligue e consulte valores diferenciados</p>
                    </div>
                    <div class="box-price tblrp10">
                        <div class="line">Pro</div>
                        <h3>R$ {{ precos.pro.term3years.price_tpl.0 }}<sup>,{{ precos.pro.term3years.price_tpl.1 }}</sup></h3>
                        <small>Economia de {{ precos.pro.term3years.discount }}%</small>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="pro" data-additional-product-code="{{ additional_product_code }}"  data-term="3years" data-additional-price="R$ {{ adicional.precos.pro.term3years.price }}" {% if adicional.precos.pro.term3years %} data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Comprar</a>
						<p class="dica">Ligue e consulte valores diferenciados</p>
                    </div>
                    <div class="box-price tblrp10">
                        <div class="line">Prime</div>
                        <h3>R$ {{ precos.prime.term3years.price_tpl.0 }}<sup>,{{ precos.prime.term3years.price_tpl.1 }}</sup></h3>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="prime" data-additional-product-code="{{ additional_product_code }}"  data-term="3years" data-additional-price="R$ {{ adicional.precos.basic.term3years.price }}" {% if adicional.precos.basic.term3years %} data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Comprar</a>
                        <small>Economia de {{ precos.prime.term3years.discount }}%</small>
						<p class="dica">Ligue e consulte valores diferenciados</p>
                    </div>
                </div>
            {% endblock %}
        