{% load staticfiles %}
<section class="featurette tabmid">
<table class="table ssltab">
<thead>
    <tr>
        <th rowspan="2">
            <div class="textac">ENTENDA NOSSAS LINHAS</div>
        </th>
        <th>BASIC</th>
        <th>PRO</th>
        <th>PRIME</th>
    </tr>
    <tr class="subtitle">
        <td>Para pequenas empresas</td>
        <td>Para médias e grandes empresas</td>
        <td>Para grandes empresas ou aplicações críticas</td>
    </tr>
</thead>
<tbody>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Tempo de Emissão</b></td>
    <td class="tdbls center">48 horas</td>
    <td class="tdbls center">Até 24 horas</td>
    <td class="tdbls tdbrs center">Até 24 horas</td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Algoritmo</b></td>
    <td class="tdbls center">RSA 2048 bits</td>
    <td class="tdbls center">RSA 2048 bits</td>
    <td class="tdbls tdbrs center">RSA 4096 bits</td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Tamanho da Chave</b></td>
    <td class="tdbls center">256 bits</td>
    <td class="tdbls center">256 bits</td>
    <td class="tdbls tdbrs center">512 bits</td>
</tr>
<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Instalação em Servidor Adicional sem Custo</b></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Emissão Antes do Pagamento</b><span data-toggle="tooltip" title="Condição não aplicável às compras pelo site">*</span></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>


<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Reemissão Ilimitada</b></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Reemissão por 30 dias</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Emissão Emergencial</b></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Suporte em Português 24x7</b></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>Suporte em Português 8x5</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls"><b>SLA de Atendimento (horas úteis)</b></td>
    <td class="tdbls center">4 horas</td>
    <td class="tdbls center">8 horas</td>
    <td class="tdbls tdbrs center">48 horas</td>
</tr>

<tr class="all-body-text5 bbs">
    <td class="tdbls tdblrs tdbrs"><b>Selo de Segurança Gratuito</b></td>
    <td class="tdblrs tdbrs sslright"></td>
    <td class="tdbls tdblrs tdbrs sslright"></td>
    <td class="tdbls tdbrs tdblrs tdbrs sslright"></td>
</tr>

{# Benefícios abaixo escondidos até clicar em 'mais benefícios' #}

<tr class="all-body-text5 bbs ">
    <td class="tdbls"><b>Valor do Seguro</b><span data-toggle="tooltip" title="Não se aplica para certificados SAN e MDC">**</span></td>
    <td class="tdblrs tdbrs center">Até US$ 250.000</td>
    <td class="tdbls center">Até US$ 250.000</td>
    <td class="tdbls tdbrs center">Até US$ 250.000</td>
</tr>
<tr class="all-body-text5 bbs ">
    <td class="tdbls tdblrs tdbrs"><b>Compatível com SGC</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>
<tr class="all-body-text5 bbs ">
    <td class="tdbls"><b>Canais de Atendimento</b></td>
    <td class="tdbls center">Tel, Chat, e-mail, Formulário do Site</td>
    <td class="tdbls center">Tel, Chat, e-mail, Formulário do Site</td>
    <td class="tdbls tdbrs center">Tel, Chat, e-mail, Formulário do Site</td>
</tr>
<tr class="all-body-text5 bbs ">
    <td class="tdbls"><b>Compatível com 99,3% dos navegadores</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>
<tr class="all-body-text5 bbs ">
    <td class="tdbls"><b>Prazo de Validade</b></td>
    <td class="tdblrs center">1, 2 ou 3 anos</td>
    <td class="tdbls center">1, 2 ou 3 anos</td>
    <td class="tdbls tdbrs center">1, 2 ou 3 anos</td>
</tr>
<tr class="all-body-text5 bbs ">
    <td class="tdbls"><b>Gerente de Contas Dedicado</b></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>
<tr class="all-body-text5 bbs ">
    <td class="tdbls"><b>Aviso de Vencimento por e-mail</b></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>
<tr class="all-body-text5 bbs ">
    <td class="tdbls"><b>SSL Checker - verificador de SSL</b></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>
<tr class="all-body-text5 bbs ">
    <td class="tdbls"><b>CSR Decoder - decodificador de CSR</b></td>
    <td class="tdbls sslwrong"></td>
    <td class="tdbls sslright"></td>
    <td class="tdbls tdbrs sslright"></td>
</tr>


</tbody>
</table>

<div id="product-price" class="container tabs-3">

    <div>
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#lA" data-toggle="tab">1 ano</a></li>
            <li><a href="#lB" data-toggle="tab">2 anos</a></li>
            <li><a href="#lC" data-toggle="tab">3 anos</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="lA">
                <div class="box-price tblrp10">
                    <div class="line">Basic</div>
                    {% if precos.basic.term1year.price_regular %}
                        <div class="promotion-line">
                            <span class="old-price">de R$ {{ precos.basic.term1year.price_regular }}</span> <span class="new-price">por</span>
                        </div>
                    {% endif %}
                    <h3>R$ {{ precos.basic.term1year.price_tpl.0 }}<sup>,{{ precos.basic.term1year.price_tpl.1 }}</sup></h3>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="basic" data-additional-price="R$ {{ adicional.precos.basic.term1year.price }}" {% if adicional.precos.basic.term1year %}data-additional="true"{% endif %} data-additional-product-code="{{ additional_product_code }}"  data-term="1year" class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                        {% if precos.basic.term1year.label %}
                            <img src="/static/ecommerce/{{ precos.basic.term1year.label }}" />
                        {% endif %}
                    </a>
                </div>
                <div class="box-price tblrp10">
                    <div class="line">Pro</div>
                    {% if precos.pro.term1year.price_regular %}
                        <div class="promotion-line">
                            <span class="old-price">de R$ {{ precos.pro.term1year.price_regular }}</span> <span class="new-price">por</span>
                        </div>
                    {% endif %}
                    <h3>R$ {{ precos.pro.term1year.price_tpl.0 }}<sup>,{{ precos.pro.term1year.price_tpl.1 }}</sup></h3>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="pro" data-additional-price="R$ {{ adicional.precos.pro.term1year.price }}" {% if adicional.precos.pro.term1year %}data-additional="true"{% endif %} data-additional-product-code="{{ additional_product_code }}"  data-term="1year" class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                        {% if precos.pro.term1year.label %}
                            <img src="/static/ecommerce/{{ precos.pro.term1year.label }}" />
                        {% endif %}
                    </a>
                </div>
                <div class="box-price tblrp10">
                    <div class="line">Prime</div>
                    {% if precos.prime.term1year.price_regular %}
                        <div class="promotion-line">
                            <span class="old-price">de R$ {{ precos.prime.term1year.price_regular }}</span> <span class="new-price">por</span>
                        </div>
                    {% endif %}
                    <h3>R$ {{ precos.prime.term1year.price_tpl.0 }}<sup>,{{ precos.prime.term1year.price_tpl.1 }}</sup></h3>
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="prime" data-additional-product-code="{{ additional_product_code }}"  data-term="1year" data-additional-price="R$ {{ adicional.precos.prime.term1year.price }}" {% if adicional.precos.prime.term1year %}data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                        {% if precos.prime.term1year.label %}
                            <img src="/static/ecommerce/{{ precos.prime.term1year.label }}" />
                        {% endif %}
                    </a>
                </div>
            </div>
            {% block price %}
                <div class="tab-pane" id="lB">
                    <div class="box-price tblrp10">
                        <div class="line">Basic</div>
                        {% if precos.basic.term2years.price_regular %}
                            <div class="promotion-line">
                                <span class="old-price">de R$ {{ precos.basic.term2years.price_regular }}</span> <span class="new-price">por</span>
                            </div>
                        {% endif %}
                        <h3>R$ {{ precos.basic.term2years.price_tpl.0 }}<sup>,{{ precos.basic.term2years.price_tpl.1 }}</sup></h3>
                        <small>Economia de {{ precos.basic.term2years.discount }}%</small>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="basic" data-additional-product-code="{{ additional_product_code }}"  data-term="2years" data-additional-price="R$ {{ adicional.precos.basic.term2years.price }}" {% if adicional.precos.basic.term2years %} data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                            {% if precos.basic.term2years.label %}
                                <img src="/static/ecommerce/{{ precos.basic.term2years.label }}" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="box-price tblrp10">
                        <div class="line">Pro</div>
                        {% if precos.pro.term2years.price_regular %}
                            <div class="promotion-line">
                                <span class="old-price">de R$ {{ precos.pro.term2years.price_regular }}</span> <span class="new-price">por</span>
                            </div>
                        {% endif %}
                        <h3>R$ {{ precos.pro.term2years.price_tpl.0 }}<sup>,{{ precos.pro.term2years.price_tpl.1 }}</sup></h3>
                        <small>Economia de {{ precos.pro.term2years.discount }}%</small>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="pro" data-additional-product-code="{{ additional_product_code }}"  data-term="2years" data-additional-price="R$ {{ adicional.precos.pro.term2years.price }}" {% if adicional.precos.pro.term2years %} data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                            {% if precos.pro.term2years.label %}
                                <img src="/static/ecommerce/{{ precos.pro.term2years.label }}" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="box-price tblrp10">
                        <div class="line">Prime</div>
                        {% if precos.prime.term2years.price_regular %}
                            <div class="promotion-line">
                                <span class="old-price">de R$ {{ precos.prime.term2years.price_regular }}</span> <span class="new-price">por</span>
                            </div>
                        {% endif %}
                        <h3>R$ {{ precos.prime.term2years.price_tpl.0 }}<sup>,{{ precos.prime.term2years.price_tpl.1 }}</sup></h3>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="prime" data-additional-product-code="{{ additional_product_code }}"  data-term="2years" data-additional-price="R$ {{ adicional.precos.prime.term2years.price }}" {% if adicional.precos.prime.term2years %} data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                            {% if precos.prime.term2years.label %}
                                <img src="/static/ecommerce/{{ precos.prime.term2years.label }}" />
                            {% endif %}
                        </a>
                        <small>Economia de {{ precos.prime.term2years.discount }}%</small>
                    </div>
                </div>
                <div class="tab-pane" id="lC">
                    <div class="box-price tblrp10">
                        <div class="line">Basic</div>
                        {% if precos.basic.term3years.price_regular %}
                            <div class="promotion-line">
                                <span class="old-price">de R$ {{ precos.basic.term3years.price_regular }}</span> <span class="new-price">por</span>
                            </div>
                        {% endif %}
                        <h3>R$ {{ precos.basic.term3years.price_tpl.0 }}<sup>,{{ precos.basic.term3years.price_tpl.1 }}</sup></h3>
                        <small>Economia de {{ precos.basic.term3years.discount }}%</small>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="basic" data-additional-product-code="{{ additional_product_code }}"  data-term="3years" data-additional-price="R$ {{ adicional.precos.basic.term3years.price }}" {% if adicional.precos.basic.term3years %} data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                            {% if precos.basic.term3years.label %}
                                <img src="/static/ecommerce/{{ precos.basic.term3years.label }}" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="box-price tblrp10">
                        <div class="line">Pro</div>
                        {% if precos.pro.term3years.price_regular %}
                            <div class="promotion-line">
                                <span class="old-price">de R$ {{ precos.pro.term3years.price_regular }}</span> <span class="new-price">por</span>
                            </div>
                        {% endif %}
                        <h3>R$ {{ precos.pro.term3years.price_tpl.0 }}<sup>,{{ precos.pro.term3years.price_tpl.1 }}</sup></h3>
                        <small>Economia de {{ precos.pro.term3years.discount }}%</small>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="pro" data-additional-product-code="{{ additional_product_code }}"  data-term="3years" data-additional-price="R$ {{ adicional.precos.pro.term3years.price }}" {% if adicional.precos.pro.term3years %} data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                            {% if precos.pro.term3years.label %}
                                <img src="/static/ecommerce/{{ precos.pro.term3years.label }}" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="box-price tblrp10">
                        <div class="line">Prime</div>
                        {% if precos.prime.term3years.price_regular %}
                            <div class="promotion-line">
                                <span class="old-price">de R$ {{ precos.prime.term3years.price_regular }}</span> <span class="new-price">por</span>
                            </div>
                        {% endif %}
                        <h3>R$ {{ precos.prime.term3years.price_tpl.0 }}<sup>,{{ precos.prime.term3years.price_tpl.1 }}</sup></h3>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="prime" data-additional-product-code="{{ additional_product_code }}"  data-term="3years" data-additional-price="R$ {{ adicional.precos.prime.term3years.price }}" {% if adicional.precos.prime.term3years %} data-additional="true"{% endif %} class="btn btn-orange"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                            {% if precos.prime.term3years.label %}
                                <img src="/static/ecommerce/{{ precos.prime.term3years.label }}" />
                            {% endif %}
                        </a>
                        <small>Economia de {{ precos.prime.term3years.discount }}%</small>
                    </div>
                </div>
            {% endblock %}
          </div>
        </div>

        <div class="clearfix"></div>

        <div id="comprar-message"></div>

    </div>
</div>

<div class="clearfix"></div>

</section>
<div class="site-body-text2 pull-right btn btn-large" style="display:none;">
    <a href='#'>ENTENDA NOSSO PROCESSO DE COMPRA ON-LINE</a>
</div>