{% load staticfiles %}

<section class="sslcolor" style="display:inline-block; margin-top:20px;">
    <section class="container">
        <section class="featurette boderhide">

            <aside class="bordowns tdbrs boderhide">
                <section class="row-fluid tbm20">

                    <aside class="span3">
                        <div class="as-text1 tblrp10">VOCÊ SABIA?</div>
                        <div class="all-body-text5 tblrp10">70% dos internautas compram somente se a loja virtual apresentar algum selo de segurança” <br>(Fonte: Pesquisa de Crimes Virtuais – IBM)
                        </div>
                        <div class="site-body-text2 tblrp10">
                            <a href="http://ecommercenews.com.br/artigos/cases/seguranca-como-instrumento-de-venda">
                                Entenda quais são as camadas de segurança adicionais que podem aumentar as suas vendas online
                            </a>
                        </div>
                    </aside>

                    <aside class="span6 tdbls tdbrs tm10 textac">
                        <div class="as-text1 tblrp10">SEU CERTIFICADO ESTÁ INSTALADO CORRETAMENTE? TESTE AQUI!</div>
                        <section class="row-fluid">
                            <aside class="span6 site-body-text2 tblrp10">
                                <a href='#'>Verifique a situação do SSL do seu site</a>
                            </aside>
                            <aside class="span6 site-body-text2 tblrp10">
                                <a href='#'>Estou com problemas na instalação</a>
                            </aside>
                        </section>
                    </aside>

                    <aside class="span3">
                        <div class="as-text1 tblrp10">SUPORTE</div>
                        <div class="all-body-text5 tblrp10">Vídeos, tutoriais, manuais e ferramentas de apoio às dúvidas</div>
                        <a href='#'>ACESSAR SUPORTE</a>
                    </aside>

                </section>
            </aside>


            <aside class="boderhide">
                <section class="row-fluid bordowns tdbrs tbm20">

                    <aside class="span4">
                        <div class="ovel-text tblrp10 lm30">Primeira Autoridade Certificadora</br>a emitir chaves de <b>4096</b>
                            bits!
                        </div>
                        <div class="site-body-text2 tblrp10 lm30"><a href='#'>ENTENDA</a></div>
                    </aside>

                    <aside class="span8 textac">
                        <section class="row-fluid tbp10 tdbls" style="margin-bottom:10px;">

                            <aside class="span4" style="margin-left:0; margin-right:0;">
                                <a href="#"><img src="{% static "home/img/cve.png" %}"/></a>
                            </aside>

                            <aside class="span8" style="margin-left:0; margin-right:0;">
                                <div class="ovel-text tbp10"><b>A TrustSign é a única empresa no Brasil a possuir a certificação CVE (Common Vulnerabilities and Exposures)</b>
                                </div>
                                <div class="url-text">http://cve.mitre.org/compatible/compatible.html#TrustSign</div>
                                <div class="site-body-text2 tbp10"><a href="#"> Entenda porque essa certificação é tão importante</a></div>
                            </aside>

                        </section>
                    </aside>

                </section>
            </aside>
        </section>
    </section>
</section>
