{% load staticfiles %}

<section class="sslcolor" style="display:inline-block; margin-top:20px;">
    <section class="container">
        <section class="featurette boderhide">

            <aside class="bordowns tdbrs boderhide">
                <section class="row-fluid">

                    <aside class="span4">
                        <div class="as-text1 tblrp10" style="margin-bottom: -10px">VOCÊ SABIA?</div>
                        <div class="all-body-text5 tblrp10">"70% dos internautas compram somente se a loja virtual
                            apresentar algum selo de segurança”<br><br> <span style="font-size: 10px;">(Fonte: Pesquisa de Crimes Virtuais – IBM)</span>
                        </div>
                        {#                        <div class="site-body-text2 tblrp10">#}
                        {#                            <a href="http://ecommercenews.com.br/artigos/cases/seguranca-como-instrumento-de-venda">#}
                        {#                                Entenda quais são as camadas de segurança adicionais que podem aumentar as suas vendas online#}
                        {#                            </a>#}
                        {#                        </div>#}
                    </aside>

                    <aside class="span4 tdbls">
                        <div class="as-text1 tblrp10" style="margin-bottom: -10px">CHAVES DE 4096 BITS</div>
                        <div class="all-body-text5 tblrp10">Primeira Autoridade Certificadora de raiz internacional a emitir chaves de
                            <b>4096</b>
                            bits no Brasil!
                        </div>
                        <div class="site-body-text2 tblrp10 "><a href='/certificado-digital/chaves-de-4096-bits/'>Entenda</a></div>
                        <br><br>
                    </aside>


                    <aside class="span4 tdbls">
                        <div class="as-text1 tblrp10" style="margin-bottom: -10px">CERTIFICAÇÃO CVE</div>
                        <div class="all-body-text5 tblrp10">A TrustSign é a única empresa no Brasil a possuir a certificação CVE. Confira <a href="http://cve.mitre.org/compatible/compatible.html#TrustSign">clicando aqui</a>
                        </div>
                        <div class="site-body-text2 tblrp10"><a href="/certificado-digital/certificacao-cve/">Entenda</a></div>
                        <br><br>
                    </aside>


                </section>
            </aside>
        </section>
    </section>
</section>
