{% load staticfiles %}

<section class="sslcolor" style="display:inline-block; margin-top:20px;">
    <section class="container">
        <section class="featurette boderhide">

            <aside class="bordowns tdbrs boderhide">
                <section class="row-fluid tbm20">

                    <aside class="span3">
                        <div class="as-text1 tblrp10">VOCÊ SABIA?</div>
                        <div class="all-body-text5 tblrp10">"70% dos internautas compram somente se a loja virtual
                            apresentar algum selo de segurança”<br> <span style="font-size: 7px;">(Fonte: Pesquisa de Crimes Virtuais – IBM)</span>
                        </div>
                        {#                        <div class="site-body-text2 tblrp10">#}
                        {#                            <a href="http://ecommercenews.com.br/artigos/cases/seguranca-como-instrumento-de-venda">#}
                        {#                                Entenda quais são as camadas de segurança adicionais que podem aumentar as suas vendas online#}
                        {#                            </a>#}
                        {#                        </div>#}
                    </aside>

                    <aside class="span4 tdbls">
                        <div class="ovel-text tblrp10">Primeira Autoridade Certificadora</br>a emitir chaves de
                            <b>4096</b>
                            bits!
                        </div>
                        <div class="site-body-text2 tblrp10 "><a href='#'>Entenda</a></div>
                        <br><br>
                    </aside>


                    <aside class="span5 tdbls" style="margin-left:0px; margin-right:0;">
                        <div class="">
                            <a href="#" style="float:left; margin-bottom: 10px; margin-top: 10px;"><img
                                    src="{% static "home/img/cve.png" %}"/></a>
                        </div>
                        <div class="ovel-text tbp10"><b>A TrustSign é a única empresa no Brasil a possuir a
                            certificação CVE</b>
                        </div>
                        <div class="url-text pull-right">http://cve.mitre.org/compatible/compatible.html#TrustSign</div>
                        <div class="site-body-text2 tbp10 pull-right"><a href="#"> Entenda porque essa certificação é
                            tão importante</a></div>
                    </aside>


                </section>
            </aside>
        </section>
    </section>
</section>
