.emissao table{
    width: 100%;
}

.emissao th{
    vertical-align: top;
    text-align: left;
}

.emissao td{
    text-align: right;
}

.emissao input[type=text]{
    width: 270px;
}

.emissao select, .emissao input[type=file]{
    width: 284px;
}

.emissao .nome input[type=text] {
    width: 126px;
}

.emissao th{
    padding: 10px;
}

.emissao.th{
    padding: 10px;
}

ul, li{
    list-style: none;
}

ul.errorlist{
    color: #c33;
    font-weight: bold;
}

table{
    width: 100%;
    border: 1px solid #bbb;
}

th{
    background: #bbb;
}
td{
    text-align: center;
}
tr:nth-child(even) td{
    background: #efefef;
}