{% extends 'certificados/wizard_base.html' %}

{% block coluna-esquerda %}
    {% include 'certificados/includes/dados_cliente.html' %}

    <h3>Dados de Callback</h3>
    <table>
        <tr class="nome"><th>Nome:</th><td>
            <input type="text" disabled="disabled" value="{{ voucher.customer_callback_firstname }}"/>
            <input type="text" disabled="disabled" value="{{ voucher.customer_callback_lastname }}"/>
        </td></tr>
        <tr><th>E-mail:</th><td><input type="text" disabled="disabled" value="{{ voucher.customer_callback_email }}"/></td></tr>
        <tr><th>Telefone fixo:</th><td><input type="text" disabled="disabled" value="{{ voucher.customer_callback_phone }}"/></td></tr>
        <tr><th>Observação:</th><td><input type="text" disabled="disabled" value="{{ voucher.customer_callback_note }}"/></td></tr>
    </table>
{% endblock %}

{% block coluna-direita %}
    <h3>Dados Específicos do Produto Escolhido</h3>

    {{ form.non_field_errors }}

    <table>
        <tr><th>Produto a emitir</th><td><input type="text" value="{{ voucher.get_ssl_product_display }}" disabled="disabled"/></td></tr>
        <tr><th>Linha</th><td><input type="text" value="{{ voucher.get_ssl_line_display }}" disabled="disabled"/></td></tr>
        <tr><th>Validade</th><td><input type="text" value="{{ voucher.get_ssl_term_display }}" disabled="disabled"/></td></tr>
        {% if voucher.ssl_product == voucher.PRODUTO_SAN_UCC %}
            <tr><th>FQDN Principal</th><td><input type="text" value="{{ voucher.emissao.emission_url }}" disabled="disabled"/></td></tr>
            <tr><th>FQDN's Adicionais</th><td><textarea disabled="disabled">{{ voucher.emissao.get_lista_dominios_linha }}</textarea></td></tr>
        {% elif voucher.ssl_product == voucher.PRODUTO_MDC or voucher.ssl_product == voucher.PRODUTO_EV_MDC %}
            <tr><th>Domínio Principal</th><td><input type="text" value="{{ voucher.emissao.emission_url }}" disabled="disabled"/></td></tr>
            <tr><th>Domínios Adicionais</th><td><textarea disabled="disabled">{{ voucher.emissao.get_lista_dominios_linha }}</textarea></td></tr>
        {% else %}
            <tr><th>Domínio</th><td><input type="text" value="{{ voucher.emissao.emission_url }}" disabled="disabled"/></td></tr>
        {% endif %}

        <tr><th>Chave Pública:</th><td><textarea disabled="disabled">{{ voucher.ssl_publickey|safe }}</textarea></td></tr>
    </table>
{% endblock %}


{% block botoes %}{% endblock %}