{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'certificados/css/certificados.css' %}"/>
{% endblock %}

{% block one_row %}
    <form action="" method="POST" class="emissao">
        <div class="span6">
            <h3>Dados do produto a ser emitido</h3>
            <table>
                <tr><th>Produto a emitir:</th><td><input type="text" value="{{ voucher.get_ssl_produto_display }}" disabled="disabled"/></td></tr>
                <tr><th>Linha:</th><td><input type="text" value="{{ voucher.get_ssl_linha_display }}" disabled="disabled"/></td></tr>
                <tr><th>Validade:</th><td><input type="text" value="{{ voucher.get_ssl_periodo_display }}" disabled="disabled"/></td></tr>
            </table>

            <h3>Dados do cliente para emissão</h3>
            <table>
                <tr><th>CNPJ:</th><td><input type="text" value="{{ voucher.cliente_cnpj }}" disabled="disabled"/></td></tr>
                <tr><th>Razão Social:</th><td><input type="text" value="{{ voucher.cliente_razaosocial }}" disabled="disabled"/></td></tr>
                <tr><th>Logradouro:</th><td><input type="text" value="{{ voucher.cliente_logradouro }}" disabled="disabled"/></td></tr>
                <tr><th>Número:</th><td><input type="text" value="{{ voucher.cliente_numero }}" disabled="disabled"/></td></tr>
                <tr><th>Complemento:</th><td><input type="text" value="{{ voucher.cliente_complemento }}" disabled="disabled"/></td></tr>
                <tr><th>Bairro:</th><td><input type="text" value="{{ voucher.cliente_bairro }}" disabled="disabled"/></td></tr>
                <tr><th>Cidade:</th><td><input type="text" value="{{ voucher.cliente_cidade }}" disabled="disabled"/></td></tr>
                <tr><th>UF:</th><td><input type="text" value="{{ voucher.cliente_uf }}" disabled="disabled"/></td></tr>
                <tr><th>CEP:</th><td><input type="text" value="{{ voucher.cliente_cep }}" disabled="disabled"/></td></tr>
                <tr><th>Situação Cadastral:</th><td><input type="text" value="{{ voucher.cliente_situacao_cadastral }}" disabled="disabled"/></td></tr>
            </table>
        </div>
        <div class="span6">
            <h3>Dados de Callback</h3>
            <table>
                <tr><th>Nome:</th><td>{{ form.callback_nome }} {{ form.callback_nome.errors }}</td></tr>
                <tr><th>E-mail:</th><td>{{ form.callback_email }} {{ form.callback_email.errors }}</td></tr>
                <tr><th>Telefone fixo:</th><td>{{ form.callback_telefone }} {{ form.callback_telefone.errors }}</td></tr>
                <tr><th>Observação:</th><td>{{ form.callback_observacao }} {{ form.callback_observacao.errors }}</td></tr>
            </table>

            <h3>Dados Específicos do Produto Escolhido</h3>
            <table>
                <tr><th>Domínio:</th><td>{{ form.emissao_url}} {{ form.emissao_url.errors }}</td></tr>
                <tr><th>CSR:</th><td>{{ form.emissao_csr }} {{ form.emissao_csr.errors }}</td></tr>
            </table>
        </div>
        <input type="submit" value="Enviar" class="pull-right"/>

        <input type="button" value="Voltar" class="pull-right"/>
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ form.crm_hash }}
    </form>

{% endblock %}