{% extends 'certificados/wizard_base.html' %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'certificados/css/certificados.css' %}"/>
{% endblock %}

{% block coluna-esquerda %}
    {% include 'certificados/includes/dados_cliente.html' %}
    {% include 'certificados/includes/dados_callback.html' %}
{% endblock %}

{% block coluna-direita %}
    {{ form.errors }}
    <h3>Dados Específicos do Produto Escolhido</h3>
    <table>
        {% include 'certificados/includes/dados_produto.html' %}
        {% if precisa_carta_cessao %}
            <tr><th>Carta de Cessão:</th><td>{{ form.emissao_carta}} {{ form.emissao_carta.errors }}</td></tr>
        {% endif %}
        <tr><th>E-mail para validação do domínio:</th><td>{{ form.emissao_validacao_email }} {{ form.emissao_validacao_email.errors }}</td></tr>
        <tr><th>E-mail para envio do certificado:</th><td>{{ form.emissao_certificado_envio_email }} {{ form.emissao_certificado_envio_email.errors }}</td></tr>
        <tr><th>Tipo do Servidor:</th><td>{{ form.emissao_servidor_tipo }} {{ form.emissao_servidor_tipo.errors }}</td></tr>
    </table>
    {{ form.emissao_url }}
    {{ form.emissao_csr }}
{% endblock %}