{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block headers %}
    {{ block.super }}
{% endblock %}

{% block title %}
    {% editable page.title %}
        {{ page.title }}
    {% endeditable %}
{% endblock %}

{% block one_row %}
    <div class="span12 left">
        {# YOUTUBE VIDEO #}
        <div style="text-align: center;">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/L2iOcyJMAWg?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

        {# O QUE FAZ NOSSA DIFERENÇA #}
        <p class="as-text1" style="text-align: center; margin: 20px;">O QUE FAZ NOSSA DIFERENÇA</p>

        {# PRINCIPAIS CLIENTES #}
        {% include 'includes/6-customers.html' %}

        {# LINKEDIN E FACEBOOK #}
        {% include 'includes/7-social.html' %}

        {{ page.content }}
        {% editable page.richtextpage.content %}
            {{ page.richtextpage.content|richtext_filter|safe }}
        {% endeditable %}

    </div>
{% endblock %}
