{% extends "base.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block headers %}
    {{ block.super }}
{% endblock %}

{% block title %}
    {% editable page.title %}
        {{ page.title }}
    {% endeditable %}
{% endblock %}

{% block one_row %}
    <div class="span12 left">
        {% editable page.richtextpage.content %}
            {{ page.richtextpage.content|richtext_filter|safe }}
        {% endeditable %}


        <form action="{% url "search" %}" class="navbar-search pull-left">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-search"></i></span>
                <input class="search-query" name="q" type="text" style="border-radius: 0px;"
                       placeholder="Digite aqui a sua busca"/>
            </div>
        </form>

        <div class="clearfix"></div>

        <div class="tabbable ferramentas tm20">
            <ul class="nav nav-tabs">
                <li>
                    <img src="{% static 'home/img/suporte/faq.jpg' %}" alt=""/>
                    <h2 class="tm10"><a href="{% url 'page' 'suporte-trustsign/faq' %}" class="">FAQ</a></h2>
                    <div class="all-body-text5 tblrp10" style="margin-top: -15px">
                        Diversas respostas segmentadas por solução, para auxílio nas dúvidas mais frequentes.
                    </div>
                </li>
                <li>
                    <img src="{% static 'home/img/suporte/video.jpg' %}" alt=""/>
                    <h2 class="tm10"><a href="{% url 'page' 'suporte-trustsign/tutoriais-em-video' %}" class="">Tutoriais em Vídeo</a></h2>
                    <div class="all-body-text5 tblrp10" style="margin-top: -15px">
                        Tutoriais rápidos e práticos para auxilio em instalações de certificados e principais dúvidas.
                    </div>
                </li>
                <li>
                    <img src="{% static 'home/img/suporte/tutoriais.jpg' %}" alt=""/>
                    <h2 class="tm10"><a href="{% url 'page' 'suporte-trustsign/tutoriais' %}" class="">Tutoriais</a></h2>
                    <div class="all-body-text5 tblrp10" style="margin-top: -15px">
                        Tutoriais em PDF para auxílio às instalações de certificados e principais dúvidas.
                    </div>
                </li>
{#                <li>#}
{#                    <img src="{% static 'home/img/suporte/manuais.jpg' %}" alt=""/>#}
{#                    <h2 class="tm10"><a href="{% url 'page' 'suporte-trustsign/manuais' %}" class="">Manuais</a></h2>#}
{#                    <div class="all-body-text5 tblrp10" style="margin-top: -15px">#}
{#                        Diversos documentos segmentados por solução, para auxílio às principais dúvidas.#}
{#                    </div>#}
{#                </li>#}

                <li>
                    <img src="{% static 'home/img/suporte/glossario.jpg' %}" alt=""/>
                    <h2 class="tm10"><a href="{% url 'page' 'suporte-trustsign/glossario' %}" class="">Glossário</a></h2>
                    <div class="all-body-text5 tblrp10" style="margin-top: -15px">
                        Entenda os termos técnicos mais importantes sobre segurança na internet.
                    </div>
                </li>
            </ul>
            <ul class="nav nav-tabs tm10" style="margin-bottom: 30px;">

                <li>
                    <img src="{% static 'home/img/suporte/ferramentas.jpg' %}" alt=""/>
                    <h2 class="tm10"><a href="{% url 'page' 'suporte-trustsign/ferramentas' %}" class="">Ferramentas</a></h2>
                    <div class="all-body-text5 tblrp10" style="margin-top: -15px">
                        SSL Checker, SSL decoder, Certificate Key Matcher e SSL converter.
                    </div>
                </li>
            </ul>
        </div>


{#        <section class="featurette tblrp10" style="display: inline-block;">#}
{#            <section class="span12" style="text-align:center;">#}
{#                <section class="row ytube">#}
{#                    <aside class="span3" style="margin:5px;">#}
{#                        <div style="text-align: center;">#}
{#                            <iframe title="YouTube video player" class="youtube-player" type="text/html" width="180"#}
{#                                    height="100"#}
{#                                    src="//www.youtube.com/embed/pUBKwak7cpg" frameborder="0" allowFullScreen></iframe>#}
{#                        </div>#}
{#                        <p class="home-text4"><b>Tutoriais em vídeo</b><br>Aprenda como instalar e configurar serviços#}
{#                            de forma simples</p>#}
{#                    </aside>#}
{#                    <aside class="span3" style="margin:5px;">#}
{#                        <div style="text-align: center;">#}
{#                            <iframe title="YouTube video player" class="youtube-player" type="text/html" width="180"#}
{#                                    height="100"#}
{#                                    src="//www.youtube.com/embed/pUBKwak7cpg" frameborder="0" allowFullScreen></iframe>#}
{#                        </div>#}
{##}
{#                        <p class="home-text4"><b>Ferramentas</b><br>SSL Checker, CSR Decoder, Certificade Key Matcher e#}
{#                            SSL Converter</p>#}
{#                    </aside>#}
{#                    <aside class="span3" style="margin:5px;">#}
{#                        <div style="text-align: center;">#}
{#                            <iframe title="YouTube video player" class="youtube-player" type="text/html" width="180"#}
{#                                    height="100"#}
{#                                    src="//www.youtube.com/embed/pUBKwak7cpg" frameborder="0" allowFullScreen></iframe>#}
{#                        </div>#}
{##}
{#                        <p class="home-text4"><b>Wiki TrustSign</b><br>Tenha acesso a todo material de suporte da#}
{#                            TrustSign, com as perguntas e#}
{#                            respostas mais frequentes</p>#}
{#                    </aside>#}
{#                    <aside class="span3 home-text4" style="margin:5px;">#}
{#                        <b>Downloads documentos TrustSign (acesso mediante a cadastro)</b><br>#}
{#                        <b>1. Conheça mais sobre as vulnerabilidades web</b></br>#}
{#                        <a href="http://www.trustsign.com.br/blog/?p=360">Entenda quais são as principais#}
{#                            vulnerabilidades#}
{#                            que podem trazer riscos</a><br><br>#}
{#                        <b>2. Dicas de como manter o website + seguro</b></br>#}
{#                        <a href="http://www.trustsign.com.br/blog/?p=266">Entenda quais são as principais ações para#}
{#                            manter#}
{#                            seu site mais seguro</a></aside>#}
{#                </section>#}
{#            </section>#}
{#        </section>#}
    </div>
{% endblock %}
