{% load pages_tags mezzanine_tags staticfiles %}

<div id="myCarousel" class="carousel slide" data-interval=5000 data-cycle=1 style="margin-left:-110px; margin-right:-110px;">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <a href={% url 'page' 'a-trustsign' %}>
                <img src={% static "home/img/banners/1.jpg" %}>
            </a>
        </div>
        <div class="item">
            <a href={% url 'page' 'certificado-digital' %}>
                <img src={% static "home/img/banners/2.jpg" %}>
            </a>
        </div>
        <div class="item">
            <a href={% url 'page' 'pki' %} >
                <img src={% static "home/img/banners/3.jpg" %}>
            </a>
        </div>
        <div class="item">
            <a href={% url 'page' 'site-seguro' %} >
                <img src={% static "home/img/banners/4.jpg" %}>
            </a>
        </div>
        <div class="item">
            <a href={% url 'page' 'site-monitorado' %}>
                <img src={% static "home/img/banners/5.jpg" %}>
            </a>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<script>
    $('#myCarousel').carousel();
</script>