{% load pages_tags mezzanine_tags staticfiles %}

<div id="myCarousel" class="carousel slide" data-interval=5000 data-cycle=1 style="margin-left:-110px; margin-right:-110px;">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
{#        <li data-target="#myCarousel" data-slide-to="2"></li>#}
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <a href="/a-trustsign/">
                <img src={% static "home/img/banners/banner-institucional.jpg" %}>
            </a>
        </div>
        <div class="item">
            <a href="/certificado-digital/">
                <img src={% static "home/img/banners/banner-certificado-digital.jpg" %}>
            </a>
        </div>
{#        <div class="item">#}
{#            <a href="/pki/">#}
{#                <img src={% static "home/img/banners/banner_pki.jpg" %}>#}
{#            </a>#}
{#        </div>#}
        <div class="item">
            <a href="/site-seguro/">
                <img src={% static "home/img/banners/banner-site-mais-seguro.jpg" %}>
            </a>
        </div>
        <div class="item">
            <a href="/site-monitorado/">
                <img src={% static "home/img/banners/banner-site-monitorado.jpg" %}>
            </a>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<script>
    $('#myCarousel').carousel();
</script>