{% load blog_tags keyword_tags i18n future %}
<div>		

{% block blog_categories %}
	{% blog_categories as categories %}
	{% if categories %}
	<ul class="nav nav-list">
		<li class="nav-header">Categorias</li>
		<li class="divider"></li>
		{% for categoria in categories %}
			<li class="{% if categoria == category %}active{% endif %}">
				<a href="{% url 'blog_post_list_category' categoria.slug %}">
					{{ categoria }} ({{ categoria.post_count }})						
				</a>
			</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}

{% block blog_months %}
	{% blog_months as months %}
	{% if months %}
	<ul class="nav nav-list">
		<li class="divider"></li>
		<li class="nav-header">Arquivos do Blog</li>
		<li class="divider"></li>
		<li>
			<select class="arquivos" onchange="if(this.options[this.selectedIndex].value != ''){window.top.location.href=this.options[this.selectedIndex].value}">
				{% for mes in months %}
				<option value="{% url "blog_post_list_month" year=mes.date.year month=mes.date.month %}">
					{{ mes.date.year }} / {{ mes.date|date:"F" }}
					({{ mes.post_count }})
				</option>   				
				{% endfor %}
			</select>
		</li>
		{% if month and year %}
		<script type="text/javascript">
			// Mantem a data selecionada
			$(document).ready(function(){
				var url_arr = window.location.pathname.split('/'),
					mes_act = url_arr[5],
					ano_act = url_arr[4];
					
				$.each($('select.arquivos option'), function() {
					var href_arr = $(this).attr('value').split('/'),
						mes = href_arr[5],
						ano = href_arr[4];
						
					if (mes_act == mes && ano_act == ano) {
						$(this).attr('selected', 'selected');
						return false;
					}							
				});							
			});
		</script>		
		{% endif %}
	</ul>
	{% endif %}
{% endblock %}
</div>