{% extends "oscar/customer/login_registration.html" %}
{% load url from future %}
{% load currency_filters %}
{% load i18n %}

{% block breadcrumbs %}
    {% include "partials/progress-bar.html" with identificacao=True %}
{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="span4 login_form">
            <form id="login_form" action="{{ request.get_full_path }}" method="post" class="form-stacked" >
                <h4>{% trans 'Log In' %}</h4>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=login_form %}
                <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                <button name="login_submit" type="submit" value="Log In" class="btn">{% trans 'Log In' %}</button>
            </form>
        </div>
        <div class="span8 register_form">
            <form id="register_form" action="{{ request.get_full_path }}" method="post" class="form-stacked">
                <h4>{% trans 'Register' %}</h4>
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=registration_form %}
                <button name="registration_submit" type="submit" value="Register" class="btn js-disable-on-click" data-loading-text="{%trans 'Registering...' %}">{% trans 'Register' %}</button>
            </form>
        </div>
    </div>

{% endblock content %}