{% extends "ferramentas_base.html" %}

{% block one_row %}

<div id="tab-certificate-key-matcher" class="ferramentas">
    <form action="" method="POST" enctype='multipart/form-data'>
        <div class="well">
            <p>Com o Certificate Key Matcher é possível validar a chave privada correspondente de um
            certificado digital. Ferramenta útil para quem possui muitos certificados instalados em um mesmo diretório.</p>
            <table>
                {{ form }}
                <tr><td colspan="2"><input type="submit" class="btn btn-primary span2 pull-right" value="Matcher"/></td></tr>
            </table>
            {% csrf_token %}
        </div>
        {% if resultado %}
        <div class="well">

                {% if resultado.ok %}
                    {% if resultado.match %}
                        <p>O certificado e a private key combinam!</p>
                    {% else %}
                        <p>O certificado e a private key não combinam!</p>
                    {% endif %}
                    <p><b>Hash do modulus do certificado:</b> {{ resultado.modulus_certificado }}</p>
                    <p><b>Hash do modulus da private key:</b> {{ resultado.modulus_key }}</p>
                {% else %}
                    <p>Ocorreu um erro durante o processamento.</p>
                {% endif %}

        </div>
        {% endif %}
    </form>
</div>

{% endblock %}