{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static "products/css/comparar.css" %}" rel="stylesheet">
{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block headers %}
    <header>
        {% include 'includes/1-header-logo.html' %}
        {% include 'includes/2-header-atendimento.html' %}
        {% include 'includes/3-header-produtos.html' %}
        <br><br>
    </header>
{% endblock %}

{% block title %}
    {%editable page.tutorialpage.title%}{%endeditable%}
{% endblock %}

{% block one_row %}
    <div class="list-tags">
        <div class="fix-row-margin">
            <div class="row-fluid">
                <div class="span8">
                    <div class="accordion faq" id="accordion2">
                        {% for tutorial in tutoriais %}
                            {% editable tutorial.titulo tutorial.texto %}
                                <div class="accordion-group item" data-tags="[{% for tag in tutorial.tags.all %}{% if forloop.counter > 1 %},{% endif %}{{ tag.tag.id }}{% endfor %}]">
                                    <div class="accordion-heading">
                                        <span class="faq-question"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{forloop.counter}}">{{tutorial.titulo}}</a></span>
                                    </div>
                                    <div id="collapse{{forloop.counter}}" class="accordion-body collapse product-tabs-content">
                                        <div class="accordion-inner">
                                            {{ tutorial.texto|safe }}
                                        </div>
                                    </div>
                                </div>
                            {%endeditable%}
                        {%endfor%}
                    </div>
                </div>
                <div class="span4">
                    <ul class="nav nav-list">
                        <li class="nav-header">
                            CATEGORIAS
                        </li>
                        <li class="divider"></li>
                        {% for tag in tags %}
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" name="tag[]" checked value="{{ tag.id }}"/> {{ tag.texto }}
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'home/js/tags.js' %}"></script>
{% endblock %}