{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static "products/css/comparar.css" %}" rel="stylesheet">
{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block headers %}
    <header>
        {% include 'includes/1-header-logo.html' %}
        {% include 'includes/2-header-atendimento.html' %}
        {% include 'includes/3-header-produtos.html' %}
        <br><br>
    </header>
{% endblock %}

{% block title %}
    {%editable page.videotutorialpage.title%}{%endeditable%}
{% endblock %}

{% block one_row %}

    <div id="modal-video" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
        <a href="#" class="modal-close" data-dismiss="modal">Fechar</a>
        <div class="modal-body youtube-container">
            <iframe src="" class="youtube-player" width="560" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            {% include 'includes/sharebar.html' %}
        </div>
    </div>

    <div class="fix-row-margin">
        <div id="video-tutorial" class="row">

            {% for video in videos %}
                <div class="span6 video">
                    <a onclick="abreVideo('{{ video.video_url }}?rel=0&autoplay=1');" href="#modal-video" data-toggle="modal">
                        <img src="http://www.t.trustsign.com.br{{ video.video_thumb.url }}" alt=""/>
                    </a>
                    <h3><a onclick="abreVideo('{{ video.video_url }}?rel=0&autoplay=1');" href="#modal-video" data-toggle="modal">{{ video.titulo }}</a></h3>
                    <div>{{ video.descricao|richtext_filter|safe  }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'home/js/tags.js' %}"></script>
{% endblock %}