{% extends 'certificados/wizard_base.html' %}

{% block coluna-esquerda %}
    {% include 'certificados/includes/dados_cliente.html' %}

    <h2>Dados de Callback</h2>
    <table>
        <tr><th>Tratamento</th><td><input type="text" disabled="disabled" value="{{ dados_form1.callback_tratamento }}"/></td></tr>
        <tr class="nome"><th>Nome</th><td><input type="text" disabled="disabled" value="{{ dados_form1.callback_nome }}"/> <input type="text" disabled="disabled" value="{{ dados_form1.callback_sobrenome }}"/></td></tr>
        <tr><th>e-mail Corporativo</th><td><input type="text" disabled="disabled" value="{{ dados_form1.callback_email }}"/></td></tr>
        <tr><th>Telefone fixo</th><td><input type="text" disabled="disabled" value="{{ dados_form1.callback_telefone }}"/></td></tr>
        <tr><th>Observação:</th><td><input type="text" disabled="disabled" value="{{ dados_form1.callback_observacao }}"/></td></tr>
    </table>
{% endblock %}

{% block coluna-direita %}
    <h2>Dados Específicos do Produto Escolhido</h2>

    {{ form.non_field_errors }}

    <table>
        {% include 'certificados/includes/dados_produto.html' %}
        <tr><th>Comprov. Telefone</th><td><input type="text" disabled="disabled" value="{{ emissao.emission_phone_proof.name }}"/></td></tr>
    </table>

    {{ form.confirma }}
{% endblock %}

{% block botoes %}
    <input type="submit" value="CONFIRMAR" class="btn btn-success pull-right lm5 span2" />
    <input type="button" value="EDITAR" class="btn pull-right span2" onclick="history.back()"/>
{% endblock %}