<div class="tab-pane {% if op == 'csr-decoder' %}active{% endif %}" id="tab-csr-decoder">
    <form action="" method="POST" >
        <div class="well">
            <p>Com o CSR Decoder é possível decodificar o CSR e conferir informações necessárias para a
            emissão, tais como organização, URL, tamanho de chave, entre outros. Evite o retrabalho e valide as informações
            antes de encaminhar seu CSR para emissão.</p>
            <table>
                {{ form_csr_decoder }}
                <tr><td colspan="2"><input type="submit" class="btn btn-primary span2 pull-right" value="Decoder"/></td></tr>
            </table>
            {% csrf_token %}
        </div>
        <div class="well">
            {% if resultado and op == 'csr-decoder' %}
                {% if resultado.ok %}
                    <p><b>Signature:</b> Válida</p>
                    <p><b>Key Size:</b> {{ resultado.KeySize }}</p>
                    <p><b>Subject</b>: {% if resultado.subject_ok %}Ok, não possui campos em branco.{% else %}Possui campos em branco.{% endif %}</p>
                    <hr>
                    <p><b>Common Name:</b> {{ resultado.CN }}</p>
                    <p><b>Organization Name:</b> {{ resultado.O }}</p>
                    <p><b>Organizational Unit Name:</b> {{ resultado.OU }}</p>
                    <p><b>Post Office Box:</b> {{ resultado.POBox }}</p>
                    <p><b>Street Address 1:</b> {{ resultado.STREET1 }}</p>
                    <p><b>Street Address 2:</b> {{ resultado.STREET2 }}</p>
                    <p><b>Street Address 3:</b> {{ resultado.STREET3 }}</p>
                    <p><b>Locality Name:</b> {{ resultado.L }}</p>
                    <p><b>State or Province Name:</b> {{ resultado.S }}</p>
                    <p><b>Postal Code:</b> {{ resultado.PostalCode }}</p>
                    <p><b>Country Name:</b> {{ resultado.C }}</p>
                    <p><b>Email Address:</b> {{ resultado.Email }}</p>
                    <p><b>Telephone Number:</b> {{ resultado.Phone }}</p>
                    <p><b>DNS:</b> {% for dominio in resultado.dnsNames  %}{{ dominio }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                {% else %}
                    <p>O CSR possui uma assinatura inválida.</p>
                {% endif %}
            {% endif %}
        </div>
    </form>
</div>