<div class="tab-pane {% if op == 'csr-decoder' %}active{% endif %}" id="tab-csr-decoder">
    <form action="" method="POST" >
        <div class="well">
            <p>Com o CSR Decoder é possível decodificar o CSR e conferir informações necessárias para a
            emissão, tais como organização, URL, tamanho de chave, entre outros. Evite o retrabalho e valide as informações
            antes de encaminhar seu CSR para emissão.</p>
            <table>
                {{ form_csr_decoder }}
                <tr><td colspan="2"><input type="submit" class="btn btn-primary span2 pull-right" value="Decoder"/></td></tr>
            </table>

            <script>
                $(function(){
                  $("#id_csr").bind('input propertychange', function(){
                      var p = /^-----BEGIN (NEW )?CERTIFICATE REQUEST-----[\s\S]*-----END (NEW )?CERTIFICATE REQUEST-----$/m;
                      if (p.test($(this).val())){
                          $(this).parents('form').submit();
                      }
                  });
                })
            </script>
            {% csrf_token %}
        </div>
        {% if resultado and op == 'csr-decoder' %}
            <div class="well">
                {% if resultado.ok %}

                    <table class="table">
                        <tr>
                            <th>Signature</th>
                            <td>Válida</td>
                        </tr>
                        {% if resultado.KeySize %}
                        <tr>
                            <th>Key Size</th>
                            <td>{{ resultado.KeySize }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Subject</th>
                            <td>{% if resultado.subject_ok %}Ok, não possui campos em branco.{% else %}Possui campos em branco.{% endif %}</td>
                        </tr>
                        {% if resultado.CN %}
                        <tr>
                            <th>Common Name</th>
                            <td>{{ resultado.CN }}</td>
                        </tr>
                        {% endif %}
                        {% if resultado.O %}
                        <tr>
                            <th>Organization Name</th>
                            <td>{{ resultado.O }}</td>
                        </tr>
                        {% endif %}
                        {% if resultado.OU %}
                        <tr>
                            <th>Organizational Unit Name</th>
                            <td>{{ resultado.OU }}</td>
                        </tr>
                        {% endif %}
                        {% if resultado.POBox %}
                        <tr>
                            <th>Post Office Box</th>
                            <td>{{ resultado.POBox }}</td>
                        </tr>
                        {% endif %}
                        {% if resultado.STREET1 %}
                        <tr>
                            <th>Street Address 1</th>
                            <td>{{ resultado.STREET1 }}</td>
                        </tr>
                        {% endif %}
                        {% if resultado.STREET2 %}
                        <tr>
                            <th>Street Address 2</th>
                            <td>{{ resultado.STREET2 }}</td>
                        </tr>
                        {% endif %}
                        {% if resultado.STREET3 %}
                        <tr>
                            <th>Street Address 3</th>
                            <td>{{ resultado.STREET3 }}</td>
                        </tr>
                        {% endif %}
                        {% if resultado.L %}
                        <tr>
                            <th>Locality Name</th>
                            <td>{{ resultado.L }}</td>
                        </tr>
                        {% endif %}
                        {% if resultado.S %}
                        <tr>
                            <th>State or Province Name</th>
                            <td>{{ resultado.S }}</td>
                        </tr>
                        {% endif %}
                        {% if resultado.PostalCode %}
                        <tr>
                            <th>Postal Code</th>
                            <td>{{ resultado.PostalCode }}</td>
                        </tr>
                        {% endif %}
                        {% if resultado.C %}
                        <tr>
                            <th>Country Name</th>
                            <td>{{ resultado.C }}</td>
                        </tr>
                        {% endif %}
                        {% if resultado.Email %}
                        <tr>
                            <th>Email Address</th>
                            <td>{{ resultado.Email }}</td>
                        </tr>
                        {% endif %}
                        {% if resultado.Phone %}
                        <tr>
                            <th>Telephone Number</th>
                            <td>{{ resultado.Phone }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>DNS:</th>
                            <td>{% for dominio in resultado.dnsNames  %}{{ dominio }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        </tr>

                    </table>
                {% else %}
                    <p>O CSR possui uma assinatura inválida.</p>
                {% endif %}
            </div>
        {% endif %}
    </form>
</div>