{% load i18n staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body>

    <table width="700" border="0">
        <tr>
            <td>
                <font face="Tahoma">
                    <div style="font-family: Tahoma,Geneva,sans-serif; font-size: 12px; padding: 20px; border: 1px solid #DDD; width: 700px; margin: 0 auto; color: #4c4c4c">

                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td>
                                    <img src="http://{{ site.domain }}/static-ecommerce/home/img/icons/mainlogo.png" alt="" width="200px" style="padding: 20px; padding-left: 0; margin-right: 20px; border-right: 1px solid #DDD; margin-bottom:20px;">
                                </td>
                                <td align="center">
                                    <h1 style="color: #4c4c4c; text-align: center; margin-top: -5px; font-size: 18px;">{% block title %}{% endblock %}</h1>
                                </td>
                            </tr>
                        </table>

                        <div style="background: #4c4c4c; padding: 10px; color: #FFF; font-weight: bold; text-align: center; margin-bottom: 20px">
                            Esse e-mail é automático. Não é necessário respondê-lo.
                        </div>

                        {% block body %}{% endblock %}

                        <h3 style="color: #076644; margin-top: 40px;">Informações importantes:</h3>
                        <ul>
                            <li>Contatos do suporte: suporte@trustsign.com.br - (12) 3308-8420</li>
                            <li>Contatos do Financeiro: financeiro@trustsign.com.br - (12) 3308-8420</li>
                            <li>Contatos do Comercial: comercial@trustsign.com.br - (11) 3729-3945</li>
                            <li>Consulte suas compras acessando o link “<a href="https://{{ site.domain }}/ecommerce/accounts/orders/">Minhas Compras</a>”, após realizar seu login de acesso.</li>
                        </ul>
                    </div>
                </font>
            </td>
        </tr>
    </table>
</body>
</html>