{% extends "customer/emails/base.html" %}
{% load staticfiles currency_filters i18n %}

{% block title %}PEDIDO REALIZADO COM SUCESSO!{% endblock %}

{% block body %}
    <p>Olá,</p>






    {% if order.status == 'Pago' %}
        {% if order.vouchers.emitidos|length == 0 %}

            {# Mensagem para pagamento OK #}

            <p>Seu pagamento foi aprovado. Em breve você receberá instruções de como ativar seus serviços ou emitir seus certificados.</p>

            <img src="http://{{ site.domain }}{% static 'ecommerce/img/status/pagto_ok.png' %}" alt="" align="center" />


        {% else %}
            {% if order.vouchers.emitidos|length == order.vouchers.all.count %}

                {# Mensagem para todos os voucher emitidos #}

                <img src="http://{{ site.domain }}{% static 'ecommerce/img/status/vouchers_emitido.png' %}" alt="" align="center" />
            {% else %}

                {# Mensagem para vouchers pendentes #}
                <p>Você já pode emitir seus certificados!</p>
                <p>Acesse: http://{{ site.domain }}/ecommerce/escolha-voucher/</p>
                <img src="http://{{ site.domain }}{% static 'ecommerce/img/status/vouchers_pendente.png' %}" alt="" align="center" />
            {% endif %}

        {% endif %}
    {% else %}

        {# Mensagem para Pagamento Pendente #}
        <p>
            Você acabou de confirmar sua compra!<br/>
            Para acompanhá-la vá em Histórico de Pedidos, localizado em Minha Conta. <br/>
            O número do seu pedido é: <span style="color: #076644;">{{ order.number }}</span>
        </p>

        <p>Assim que o seu pagamento for confirmado pela instituição financeira, você receberá um email e estará apto para ativar seus serviços ou iniciar o processo de emissão do certificado.</p>

        <img src="http://{{ site.domain }}{% static 'ecommerce/img/status/pagto_pendente.png' %}" alt="" align="center" />
    {% endif %}

    <p>{% trans 'Your order contains:' %}</p>

    <table style="width: 100%" cellspacing="0" cellpadding="0">
        <tr>
            <th style="text-align: left; padding:5px; background: #333333; color: #FFFFFF">Produto:</th>
            <th style="text-align: right; padding:5px; background: #333333; color: #FFFFFF">{% trans 'quantity:' %}</th>
            <th style="text-align: right; padding:5px; background: #333333; color: #FFFFFF">{% trans 'price:' %}</th>
        </tr>
        {% for line in order.lines.all %}
            <tr>
                <td style="text-align: left; padding:5px; background: #E5E5E5; border-bottom: 1px solid #dddddd">
                    {{ line.title }}
                </td>
                <td style="text-align: right; padding:5px; background: #E5E5E5; border-bottom: 1px solid #dddddd">
                    {{ line.quantity }}
                </td>
                <td style="text-align: right; padding:5px; background: #E5E5E5; border-bottom: 1px solid #dddddd">
                    {{ line.line_price_incl_tax|currency:order.currency }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>
    {#{% trans 'Basket total:' %} {{ order.basket_total_incl_tax|currency:order.currency }}</br>#}
    {#{% trans 'Shipping:' %} {{ order.shipping_incl_tax|currency:order.currency }}</br>#}
    {% trans 'Order Total:' %} {{ order.total_incl_tax|currency:order.currency }}
    </p>

    <p>{% trans 'Shipping address:' %}</p>
    <p>{% for field in order.shipping_address.active_address_fields %}  {{ field }}<br/>
    {% endfor %}</p>

    <hr/>

    {% if order.basket.tem_contrato_ssl %}
        <div>
            <a href="http://{{ site.domain }}{% static 'contratos/contrato-digital-trustsign.pdf' %}">Termos de uso do Certificado</a>
        </div>
    {% endif %}
    {% if order.basket.tem_contrato_sitemonitorado %}
        <div>
            <a href="http://{{ site.domain }}{% static 'contratos/contrato-digital-trustsign-sitemonitorado.pdf' %}">termos de uso do Site Monitorado</a>
        </div>
    {% endif %}

    {% if order.basket.tem_contrato_siteseguro %}
        <div>
            <a href="http://{{ site.domain }}{% static 'contratos/contrato-digital-trustsign-siteseguro.pdf' %}">termos de uso do Site + Seguro</a>
        </div>
    {% endif %}
    {% if order.basket.tem_contrato_pki %}
        <div>
            <a href="http://{{ site.domain }}{% static 'contratos/contrato-digital-trustsign-pki.pdf' %}">termos de uso do PKI</a>
        </div>
    {% endif %}

    {% if status_url %}
    <p>{% blocktrans %}You can view the status of this order by clicking <a href="{{ status_url }}" title="order status">here</a>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
