{% extends "customer/emails/base.html" %}

{% block title %}BEM-VINDO A TRUSTSIGN{% endblock %}

{% block body %}
        <div style="text-align: center; margin-top: 40px;">
            <div style="text-align: center">
                <strong>
                    <font face="Tahoma">{{user.first_name}} {{user.last_name}},</font>
                </strong><font face="Tahoma"> obrigado por se cadastrar na TrustSign.</font>
            </div>

            <h2 style="color: #015a9c; text-align: center; margin-top: 40px; font-size: 20px">
                <font face="Tahoma">Dados Cadastrais</font>
            </h2>
            <font face="Tahoma">CNPJ: {{ user.get_profile.get_cnpj_formatado }}<br/>
            Senha: ******</font>

		</div>

		<h2 style="color: #015a9c; text-align: center; margin-top: 40px; font-size: 20px">
            <font face="Tahoma">Seu Painel de Controle</font>
        </h2>

		<table align="center" cellspacing="0" cellpadding="0" border="0" width="66%">
			<tbody><tr>
				<td valign="top" align="center" bgcolor="#f0f0f0" width="50%" style="padding: 20px; color: #666; font-size: 12px; border-right: 2px solid #FFF;">
					<a href="https://{{ site.domain }}/ecommerce/accounts/orders/" style="text-decoration: none; color: #606060; font-size: 14px; font-weight: bold;"><font face="Tahoma">Compras</font></a><br>
                    <p><font face="Tahoma">Acesse o histórico de suas compras</font></p>
				</td>
				<td valign="top" align="center" bgcolor="#f7f7f7" width="50%" style="padding: 20px; color: #666; font-size: 12px;">
					<a href="https://{{ site.domain }}/ecommerce/accounts/profile/" style="text-decoration: none; color: #606060; font-size: 14px; font-weight: bold;"><font face="Tahoma">Editar Cadastro</font></a>
                    <p><font face="Tahoma">Mantenha seu cadastro sempre atualizado</font></p>
				</td>
			</tr>
		</tbody></table>

		<h2 style="color: #015a9c; text-align: center; margin-top: 40px; font-size: 20px"><font face="Tahoma">Suporte TrustSign</font></h2>

		<table align="center" cellspacing="0" cellpadding="0" border="0">
			<tbody><tr>
				<td bgcolor="#f0f0f0" valign="top" style="padding: 10px; color: #666; text-align: center; width: 25%;  font-size: 12px; border-right: 2px solid #FFF;">
					<a style="font-weight: bold; text-decoration: none; color: #606060; font-size: 14px;" href="https://{{ site.domain }}/portal/suporte-trustsign/faq/"><font face="Tahoma">FAQ</font></a>
					<p><font face="Tahoma">Diversas respostas segmentadas por solução, para auxílio nas dúvidas mais frequentes. </font></p>
				</td>
				<td bgcolor="#f7f7f7" valign="top" style="padding: 10px; color: #666; text-align: center; width: 25%;  font-size: 12px; border-right: 2px solid #FFF">
					<a style="font-weight: bold; text-decoration: none; color: #606060; font-size: 14px; border-right: 2px solid #FFF;" href="https:/{{ site.domain }}/portal/suporte-trustsign/tutoriais-em-video/"><font face="Tahoma">Tutoriais em vídeo</font></a>
					<p><font face="Tahoma"> Tutoriais rápidos e práticos para auxilio em instalações de certificados e principais dúvidas. </font></p>
				</td>
				<td bgcolor="#f0f0f0" valign="top" style="padding: 10px; color: #666; text-align: center; width: 25%;  font-size: 12px;">
					<a style="font-weight: bold; text-decoration: none; color: #606060; font-size: 14px;" href="https://{{ site.domain }}/portal/suporte-trustsign/ferramentas/"><font face="Tahoma">Ferramentas</font></a>
					<p><font face="Tahoma">  SSL Checker, SSL decoder, Certificate Key Matcher e SSL converter. </font></p>
				</td>
			</tr>
		</tbody></table>
{% endblock %}