{% extends "customer/emails/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}RECUPERAÇÂO DE SENHA{% endblock %}

{% block body %}{% autoescape off %}
<br/>
<p style="font-size: 12px; color: #666;">
    <font face="Tahoma">
        Você está recebendo este e-mail porque solicitou uma mudança de senha para sua conta no Portal da TrustSign. Por favor, acesse o link a seguir e escolha uma nova senha:
    </font>
</p>

<a href="{{ reset_url }}" style="font-size: 12px; color: #666;">
    <font face="Tahoma">
        {{ reset_url }}
    </font>
</a>

{% endautoescape %}{% endblock %}
