{% extends "customer/emails/base.html" %}
{% load staticfiles currency_filters i18n %}

{% block title %}
    {% if order.is_order_paid %}
        PAGAMENTO APROVADO
    {% else %}
        PEDIDO REALIZADO COM SUCESSO
    {% endif %}
{% endblock %}

{% block body %}
    <br/><br/>
    <strong>
        <font face="Tahoma">{{user.first_name}} {{user.last_name}}</font>
    </strong><font face="Tahoma">, obrigado por comprar na TrustSign.</font>

    {% if order.is_order_paid %}
        {% if not order.is_voucher_partially_issued and not order.is_voucher_issued %}
            {# Mensagem para pagamento OK #}
            <p><font face="Tahoma">Seu pagamento foi aprovado. Em breve você receberá instruções de como ativar seus serviços ou emitir seus certificados.</font></p>
            <center><img src="http://{{ site.domain }}{% static 'ecommerce/img/status/pagto_ok.png' %}" alt="" align="center" /></center>
        {% else %}
            {% if order.is_voucher_issued %}
                {# Mensagem para todos os voucher emitidos #}
                <img src="http://{{ site.domain }}{% static 'ecommerce/img/status/vouchers_emitido.png' %}" alt="" align="center" />
            {% else %}
                {# Mensagem para vouchers pendentes #}
                <p><font face="Tahoma">Você já pode emitir seus certificados!</font></p>
                <p><font face="Tahoma">Acesse: http://{{ site.domain }}/ecommerce/escolha-voucher/</font></p>
                <center><img src="http://{{ site.domain }}{% static 'ecommerce/img/status/vouchers_pendente.png' %}" alt="" align="center" /></center>
            {% endif %}
        {% endif %}
    {% else %}
        {# Mensagem para Pagamento Pendente #}
        <p>
            <font face="Tahoma">
                A partir de agora, você será informado(a) por e-mail sobre o andamento do seu pedido até a emissão do certificado ou ativação do serviço.
            </font>
        </p>
        <p>
            <font face="Tahoma">
                No momento estamos aguardando o aviso da instituição financeira sobre a autorização do pagamento, prazo esse que pode variar de acordo com o meio de pagamento escolhido.
            </font>
        </p>
        <p><font face="Tahoma">Assim que o seu pagamento for confirmado pela instituição financeira, você receberá um email e estará apto para ativar seus serviços ou iniciar o processo de emissão do certificado.</font></p>
        <center><img src="http://{{ site.domain }}{% static 'ecommerce/img/status/pagto_pendente.png' %}" alt="" align="center" /></center>
    {% endif %}

    <br/><br/>

    <table cellspacing="0" cellpadding="0" border="0" align="center" width="33%">
        <tbody>
            <tr>
                <td bgcolor="#f0f0f0" align="center" valign="top" style="padding:20px;color:rgb(102,102,102);font-size:12px;border-right:2px solid rgb(255,255,255)">
                    <p align="left"><font face="Tahoma">Número do pedido</font></p>
                    <span style="text-decoration:none;color:rgb(96,96,96);font-size:18px;font-weight:bold"><font face="Tahoma">{{ order.number }}</font></span><br>
                </td>
            </tr>
        </tbody>
    </table>

    <br/><br/>

    {% if not order.is_order_paid %}

        <p>Os itens selecionados do nesse pedido são: </p>

        <table style="width: 100%" cellspacing="0" cellpadding="0">
            <tr>
                <th style="text-align: left; padding:5px; background: #333333; color: #FFFFFF; font-size: 12px;"><font face="Tahoma">{% trans 'Product' %}</font></th>
                <th style="text-align: right; padding:5px; background: #333333; color: #FFFFFF; font-size: 12px;"><font face="Tahoma">{% trans 'Quantity' %}</font></th>
                <th style="text-align: right; padding:5px; background: #333333; color: #FFFFFF; font-size: 12px;"><font face="Tahoma">{% trans 'Price' %}</font></th>
            </tr>
            {% for line in order.lines.all %}
                <tr>
                    <td style="text-align: left; padding:5px; background: #E5E5E5; border-bottom: 1px solid #dddddd; font-size: 12px;">
                        <font face="Tahoma">{{ line.title }}</font>
                    </td>
                    <td style="text-align: right; padding:5px; background: #E5E5E5; border-bottom: 1px solid #dddddd; font-size: 12px;">
                        <font face="Tahoma">{{ line.quantity }}</font>
                    </td>
                    <td style="text-align: right; padding:5px; background: #E5E5E5; border-bottom: 1px solid #dddddd; font-size: 12px;">
                        <font face="Tahoma">{{ line.line_price_incl_tax|currency:order.currency }}</font>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}

    <p>
    {% trans 'Order Total:' %} {{ order.total_incl_tax|currency:order.currency }}
    </p>


{#    <p>{% trans 'Shipping address:' %}</p>#}
{#    <p>{% for field in order.shipping_address.active_address_fields %}  {{ field }}<br/>#}
{#    {% endfor %}</p>#}

    <hr/>

    {% if order.basket.tem_contrato_ssl %}
        <div>
            <a href="https://{{ site.domain }}{% static 'contratos/contrato_certificado_digital.pdf' %}">Termos de uso do Certificado</a>
        </div>
    {% endif %}
    {% if order.basket.tem_contrato_sitemonitorado %}
        <div>
            <a href="http://{{ site.domain }}{% static 'contratos/contrato-digital-trustsign-sitemonitorado.pdf' %}">Termos de uso do Site Monitorado</a>
        </div>
    {% endif %}

    {% if order.basket.tem_contrato_siteseguro %}
        <div>
            <a href="https://{{ site.domain }}{% static 'contratos/contrato-digital-trustsign-siteseguro.pdf' %}">Termos de uso do Site + Seguro</a>
        </div>
    {% endif %}
    {% if order.basket.tem_contrato_pki %}
        <div>
            <a href="https://{{ site.domain }}{% static 'contratos/contrato-digital-trustsign-pki.pdf' %}">Termos de uso do PKI</a>
        </div>
    {% endif %}

    {% if status_url %}
    <p>{% blocktrans %}You can view the status of this order by clicking <a href="{{ status_url }}" title="order status">here</a>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}