<div class="tab-pane {% if op == 'ssl-converter' %}active{% endif %}" id="tab-ssl-converter">
    <form action="" method="POST" enctype='multipart/form-data'>
        <div class="well">
            <p>Com o SSL Converter é possível alterar o tipo de arquivo do certificado. Faça exportações de
            forma rápida e simples e em todos os ambientes desejados.</p>
            <table>
                {{ form_ssl_converter }}
                <tr><td colspan="2"><input type="submit" class="btn btn-orange pull-right" value="Converter"/></td></tr>
            </table>
            {% csrf_token %}
        </div>
        <div class="well">

        </div>
    </form>
</div>