<div class="tab-pane {% if op == 'ssl-checker' or op == '' %}active{% endif %}" id="tab-ssl-checker">
    <form action="" method="POST">
        <div class="well">
            <p>Com o SSL Checker (Verificador de SSL),  é possível identificar a presença de um certificado e
            se ele está corretamente instalado.  Verifique cadeias intermediárias, entidades emissoras e validade do certificado.</p>
            <table>
                {{ form_ssl_checker }}
                <tr><td colspan="2"><input type="submit" class="btn btn-large pull-right" value="Checker"></td></tr>
            </table>
            {% csrf_token %}
        </div>
        <div class="well">
            {% if resultado and op == 'ssl-checker' %}
                {% if resultado.ok %}
                    <p><b>Valid To:</b> {{ resultado.cert_validity_notAfter}}</p>
                    <p><b>Key Size:</b> {{ resultado.cert_key_size }}</p>
                    <p><b>Signature Algorithm:</b> {{ resultado.cert_signature_hash_algorithm }} / {{ resultado.cert_signature_key_algorithm }}</p>
                    <p><b>Site Listed:</b> {{ resultado.site_listed }}</p>
                    <p><b>Trusted:</b> {% if resultado.chain_isTrusted_mozilla == 'Y' and resultado.chain_isTrusted_microsoft == 'Y' %}Yes{% else %}No{% endif %}</p>

                    <hr>

                    <p><b>Subject DN:</b> <br> {{ resultado.cert_subject_DN|linebreaksbr }}</p>

                    <hr>

                    <p><b>Issuer Company:</b> {{ resultado.cert_issuer_O }}</p>
                    <p><b>Issuer DN:</b> <br> {{ resultado.cert_issuer_DN|linebreaksbr }}</p>

                    <p><b>SANS:</b> {{ resultado.cert_sans }}</p>
                {% else %}
                    <p>Não foi encontrado certificado SSL em {{ form_ssl_checker.url.value }}. Tenha certeza que a url está correta e que a porta SSL está aberta no firewall.</p>
                {% endif %}
            {% endif %}
        </div>
    </form>
</div>