{% extends 'certificados/wizard_base.html' %}
{% load static %}

{% block coluna-esquerda %}
    {% include 'certificados/includes/dados_cliente.html' %}
    {% include 'certificados/includes/form_callback.html' %}
{% endblock %}

{% block coluna-direita %}
    <h2>Dados Específicos do Produto Escolhido</h2>

    {{ form.non_field_errors }}

    <table>
        {% include 'certificados/includes/dados_produto.html' %}

        {% if form.precisa_carta_cessao %}
            <tr><th></th><td>Verificamos que a razão social da empresa diverge da razão social do proprietário de pelo menos um domínio. Por isso é necessário anexar a carta abaixo para cada domínio divergente.<br><br></td></tr>
            <tr><th>Carta de Cessão:</th><td>{{ form.emission_assignment_letter}} {{ form.emission_assignment_letter.errors }}
            <a href="/static/portal/documentos/carta-de-cessao.pdf" target="_blank">Documento Modelo</a></td></tr>
        {% endif %}

        <tr><th>Tipo do Servidor:</th><td>{{ form.emission_server_type }} {{ form.emission_server_type.errors }}</td></tr>
        <tr><th>E-mail para envio do certificado:</th><td>{{ form.emission_publickey_sendto }} {{ form.emission_publickey_sendto.errors }}</td></tr>
        <tr>
            <th>Lista de {% if voucher.ssl_product == voucher.PRODUTO_SAN_UCC %}FQDN's{% else %}domínios{% endif %}:</th>
            <td></td>
        </tr>
        <tr id="lista-fqdns">
            <td colspan="2">
                <table class="table fqdn-table">
                    <tr>
                        <th>{% if voucher.ssl_product == voucher.PRODUTO_SAN_UCC %}FQDN{% else %}Domínio{% endif %}</th>
                        <th>E-mail</th>
                    </tr>
                    {% for fqdn in form.get_domains_csr %}
                        <tr data-fqdn="{{ fqdn }}" id="fqdn-{{ forloop.counter0 }}">
                            <td>{{ fqdn }}</td>
                            <td><span></span> <a data-toggle="modal" data-fqdn="{{ fqdn }}" href="#windowEscolheEmail">escolher</a></td>
                        </tr>
                    {% endfor %}
                </table>

                {{ form.emission_dcv_emails }} {{ form.emission_dcv_emails.errors }}
            </td>
        </tr>
        <tr><th></th><td>Para emissão do certificado EV, é necessário anexar os documentos abaixo:<br><br></td></tr>
        <tr><th>Constrato Social:</th><td>{{ form.emission_articles_of_incorporation }} {{ form.emission_articles_of_incorporation.errors }}</td></tr>
        <tr><th>Comprovante de Endereço:</th><td>{{ form.emission_address_proof }} {{ form.emission_address_proof.errors }}</td></tr>
        <tr><th>CCSA:</th><td>{{ form.emission_ccsa }} {{ form.emission_ccsa.errors }}
                            <a href="/static/portal/documentos/ccsa.pdf" target="_blank">Documento Modelo</a></td></tr>
        <tr><th>EVCR:</th><td>{{ form.emission_evcr }} {{ form.emission_evcr.errors }}
                        <a href="/static/portal/documentos/ev_certificate_request.pdf" target="_blank">Documento Modelo</a></td></tr>

    </table>
    {{ form.emission_url }}
    {{ form.emission_csr }}

    {% include 'certificados/includes/escolher_email_window.html' %}

{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{% static "certificados/js/certificados.js" %}"></script>
{% endblock %}