{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta_title %}Certificados Digitais SSL | TrustSign Segurança para Websites{% endblock %}

{% block meta_description %}Conheça e Compre on-line certificado digital SSL e soluções de segurança para e-commerces e websites: blindagem, bloqueio de ataques,WAF,CDN. Seu site seguro{% endblock %}
{% block meta_keywords %}certificado ssl,segurança ssl,Autenticação forte,certificados digitais,certificação digital,certificado de segurança, certificado e-mail{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static "products/css/comparar.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block one_row %}
    <div class="span12 left home">
        {% include 'home/1-slider.html' %}
        {% include 'includes/8-voce-sabia.html' %}
        {% include 'includes/7-social.html' %}
        {% include 'includes/6-customers.html' %}
    </div>
{% endblock %}
