{% extends "base.html" %}
{% load i18n staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block meta_description %}Soluções de segurança da informação para o e-commerce, websites e ambientes de internet. Garantimos ambientes mais seguros com certificados digitais, identidade protegida, autenticação Forte e selos reconhecidos. {% endblock %}
{% block meta_keywords %}certificado ssl,segurança ssl,Autenticação forte,certificados digitais,certificação digital,certificado de segurança, certificado e-mail{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static "products/css/comparar.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block one_row %}
    <div class="span12 left home">
        {% include 'home/1-slider.html' %}
        {% include 'includes/8-voce-sabia.html' %}
        {% include 'includes/7-social.html' %}
        {% include 'includes/6-customers.html' %}
    </div>
{% endblock %}
