{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block headers %}
    <header>
        {% include 'includes/1-header-logo.html' %}
        {% include 'includes/2-header-atendimento.html' %}
        {% include 'includes/3-header-produtos.html' %}
        <br><br>
    </header>
{% endblock %}

{% block title %}
    {% editable page.title %}
        <h1>{{ page.title }}</h1>
    {% endeditable %}
{% endblock %}

{% block one_row %}
    <section class="container productbgw certificado-digital">
        <section class="featurette">
            <section class="row-fluid">
                <aside class="span6 all-body-text1">
                    <article class="tblrp510">
                        <div>
                            <h2>
                                Mostre aos seus clientes mais segurança. Gere confiabilidade e aumento de
                                receita
                            </h2>
                            {% for p in page.children.all.order_by %}
                                {% if forloop.counter < 7 and p.product %}
                                    {# Hardcoded Product Separator #}
                                    {% if p.title == 'S/MIME' %}
                                        <h2>e-Mails assinados digitalmente</h2>
                                    {% endif %}
                                    {% if p.title == 'JRE' %}
                                        <h2>Maior segurança em downloads com assinatura de códigos</h2>
                                    {% endif %}
                                    {% editable p.title %}
                                        <a href="/{{ p.get_slug }}">
                                            <h3>{{ p.title }}</h3></a>
                                    {% endeditable %}
                                    {% editable p.product.youtube_title %}
                                        <p class="all-body-text5 borderp bp10">
                                            {{ p.product.youtube_title }}
                                        </p>
                                    {% endeditable %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </article>
                </aside>

                <aside class="span6 all-body-text1">
                    <article class="tblrp510">
                        <div>
                            {% for p in page.children.all.order_by %}
                                {% if forloop.counter >= 7 and p.product %}
                                    {# Hardcoded Product Separator #}
                                    {% if p.title == 'S/MIME' %}
                                        <h2>e-Mails assinados digitalmente</h2>
                                    {% endif %}
                                    {% if p.title == 'JRE' %}
                                        <h2>Maior segurança em downloads com assinatura de códigos</h2>
                                    {% endif %}
                                    {% editable p.title %}
                                        <a href="/{{ p.get_slug }}">
                                            <h3>{{ p.title }}</h3></a>
                                    {% endeditable %}
                                    {% editable p.product.youtube_title %}
                                        <p class="all-body-text5 borderp bp10">
                                            {{ p.product.youtube_title }}
                                        </p>
                                    {% endeditable %}
                                {% endif %}
                            {% endfor %}
                            <div class="buttons">
                                <a href="{% url 'page' 'certificado-digital/comparar-certificados-digitais' %}" class="btn btn-large btn-orange btn-block">Veja as diferenças
                                    entre os certificados
                                </a>
                            </div>
                        </div>
                    </article>
                </aside>
            </section>
        </section>
    </section>



    {#    <div class="span12 left">#}
    {#        <h2>#}
    {#            {% editable page.richtextpage.content %}#}
    {#                {{ page.richtextpage.content|richtext_filter|safe }}#}
    {#            {% endeditable %}#}
    {#        </h2>#}
    {##}
    {#        {% for p in page.children.all.order_by %}#}
    {# Hardcoded Product Separator #}
    {#            {% if p.title == 'S/MIME' %}#}
    {#                <h2>Envie e-mails codificados para que apenas o destinatário possa ver</h2>#}
    {#            {% endif %}#}
    {#            {% if p.title == 'JRE' %}#}
    {#                <h2>Moribunduns aliquos pietem piú</h2>#}
    {#            {% endif %}#}
    {##}
    {#            {% editable p.title %}#}
    {#                <a href="/{{ p.get_slug }}">#}
    {#                    <h3>{{ p.title }}</h3></a><br>#}
    {#            {% endeditable %}#}
    {#            {% editable p.product.youtube_title %}#}
    {#                {{ p.product.youtube_title }}<br><br>#}
    {#            {% endeditable %}#}
    {#        {% endfor %}#}
    {#    </div>#}
{% endblock %}
