{% extends "base.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static "products/css/comparar.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block headers %}
    <header>
        {% include 'includes/1-header-logo.html' %}
        {% include 'includes/2-header-atendimento.html' %}
        {% include 'includes/3-header-produtos.html' %}
        <br><br>
    </header>
{% endblock %}

{% block title %}
    {% editable page.product.title %}
        {{ page.product.title }}
    {% endeditable %}
    {% editable page.product.subtitle %}
        <span style="color:#ddd; margin: 0 10px;">|</span>
        <span class=h1-complement>{{ page.product.subtitle }}</span>
    {% endeditable %}
{% endblock %}

{% block one_row %}
    <div class="span12 left">
        {% editable page.product.youtube_title %}
            <h2>{{ page.product.youtube_title }}</h2>
        {% endeditable %}

        <div class="youtube-container">
            {% editable page.product.youtube_url %}
                    <iframe title="YouTube video player" class="youtube-player" type="text/html" width="720" height="390"
                            src="{{ page.product.youtube_url }}?rel=0" frameborder="0" allowFullScreen></iframe>
            {% endeditable %}
            <div class="product-sharebar">
                {% include 'includes/sharebar.html' %}
            </div>
        </div>
        <br><br>

        {% editable page.product.tab_title %}
            <h2>{{ page.product.tab_title }}</h2>
        {% endeditable %}

        {# Esquema de Abas #}
        <section class="nav nav-tabs" style="display:inline-block; width:100%; margin-bottom: 0;">
            {% for tab in page.product.tabs.all %}
                <aside class="product-tabs" style="">
                    {% editable tab.tab_title %}
                        <h3>{{ tab.tab_title }}</h3>
                    {% endeditable %}
                    {% editable tab.tab_short_description %}
                        <h4>{{ tab.tab_short_description }}</h4>
                        <a class="btn" style="color: #555;" href="#{{ tab.tab_title|slugify }}" data-toggle="tab">Entenda
                        </a>
                    {% endeditable %}
                </aside>
            {% endfor %}
        </section>
        <div class="tab-content">
            {% for tab in page.product.tabs.all %}
                <div class="tab-pane product-tabs-content" id="{{ tab.tab_title|slugify }}" style="text-align: justify;">
                    {% editable tab.tab_description %}
                        {{ tab.tab_description }}
                    {% endeditable %}
                </div>
            {% endfor %}
        </div>

        <div id="product-price">
            <div class="pull-right">

                <div class="box-price tblrp10" style="margin-top: 40px; width: 133px; border: 1px solid #ddd">

                    {% if precos.na.termsubscription_1m.price_regular %}
                        <div class="promotion-line">
                            <span class="old-price">de R$ {{ precos.na.termsubscription_1m.price_regular }}</span> <span class="new-price">por</span>
                        </div>
                    {% endif %}

                    <h3>R$ {{ precos.na.termsubscription_1m.price_tpl.0 }},<sub>{{ precos.na.termsubscription_1m.price_tpl.1 }}</sub></h3>
                    Mensalidade
                    <a href="" data-comprar-produto="{{ product_code }}" data-line="na" data-term="subscription_1m" class="btn btn-orange">
                        <img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                        {% if precos.na.termsubscription_1m.label %}
                            <img src="/static/ecommerce/{{ precos.na.termsubscription_1m.label }}" />
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div id="comprar-message" class="tm20" style="margin-top: 20px !important"></div>

        {# Inclusão da área 'você sabia' #}
        <div style="margin-top:20px;">
{#            {% include "includes/voce-sabia.html" %}#}

            <section class="sslcolor" style="display:inline-block; margin-top:20px;">
                <section class="container">
                    <section class="featurette boderhide">

                        <aside class="">
                            <section class="row-fluid">

                                <aside class="span4">
                                    <div class="as-text1 tblrp10" style="margin-bottom: -10px">VOCÊ SABIA?</div>
                                    <div class="all-body-text5 tblrp10">"70% dos internautas compram somente se a loja virtual apresentar algum selo de segurança”<br>
                                    </div>
                                </aside>

                                <aside class="span4">
                                    <div class="as-text1 tblrp10" style="margin-bottom: -10px">CHAVES DE 4096 BITS</div>
                                    <div class="all-body-text5 tblrp10">Ataques de DdoS podem afetar diferentes plataformas assim como várias camadas de infraestrutura de rede diferentes.</div>
                                    <div class="site-body-text2 tblrp10 "><a href='{{ url_portal }}certificado-digital/chaves-de-4096-bits/'>Entenda</a></div>
                                </aside>


                                <aside class="span4">
                                    <div class="as-text1 tblrp10" style="margin-bottom: -10px">CERTIFICADO DIGITAL – COMO USAR</div>
                                    <div class="all-body-text5 tblrp10">Três dicas fundamentais para não errar na administração dos certificados digitais da sua empresa online.</div>
                                    <div class="site-body-text2 tblrp10"><a href="{{ url_portal }}certificado-digital/certificado-digital-como-usar-e-como-nao-usar">Entenda</a></div>
                                </aside>

                            </section>
                        </aside>
                    </section>
                </section>
            </section>

        </div>

    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'products/js/produtos.js' %}"/>
{% endblock %}
