{% extends "base.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static "products/css/comparar.css" %}" rel="stylesheet">
{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block headers %}
    <header>
        {% include 'includes/1-header-logo.html' %}
        {% include 'includes/2-header-atendimento.html' %}
        {% include 'includes/3-header-produtos.html' %}
        <br><br>
    </header>
{% endblock %}

{% block title %}
    {% editable page.product.title %}
        {{ page.product.title }}
    {% endeditable %}
    {% editable page.product.subtitle %}
        <span style="color:#ddd; margin: 0 10px;">|</span>
        <span class=h1-complement>{{ page.product.subtitle }}</span>
    {% endeditable %}
{% endblock %}

{% block one_row %}
    <div class="span12 left">
        {% editable page.product.youtube_title %}
            <h2>{{ page.product.youtube_title }}</h2>
        {% endeditable %}

        <div class="youtube-container">
            {% editable page.product.youtube_url %}
                    <iframe title="YouTube video player" class="youtube-player" type="text/html" width="720" height="390"
                            src="{{ page.product.youtube_url }}?rel=0" frameborder="0" allowFullScreen></iframe>
            {% endeditable %}
            <div class="product-sharebar">
                {% include 'includes/sharebar.html' %}
            </div>
        </div>
        <br><br>

        {% editable page.product.tab_title %}
            <h2>{{ page.product.tab_title }}</h2>
        {% endeditable %}

        {# Esquema de Abas #}
        <section class="nav nav-tabs" style="display:inline-block; width:100%; margin-bottom: 0;">
            {% for tab in page.product.tabs.all %}
                <aside class="product-tabs" style="">
                    {% editable tab.tab_title %}
                        <h3>{{ tab.tab_title }}</h3>
                    {% endeditable %}
                    {% editable tab.tab_short_description %}
                        <h4>{{ tab.tab_short_description }}</h4>
                        <a class="btn" style="color: #555;" href="#{{ tab.tab_title|slugify }}" data-toggle="tab">Entenda
                        </a>
                    {% endeditable %}
                </aside>
            {% endfor %}
        </section>
        <div class="tab-content">
            {% for tab in page.product.tabs.all %}
                <div class="tab-pane product-tabs-content" id="{{ tab.tab_title|slugify }}" style="text-align: justify;">
                    {% editable tab.tab_description %}
                        {{ tab.tab_description }}
                    {% endeditable %}
                </div>
            {% endfor %}
        </div>

        <section class="featurette tabmid tm30">
            <table class="table ssltab">
                <thead>
                    <tr>
                        <th rowspan="2">
                            <div class="textac">ENTENDA NOSSAS LINHAS</div>
                        </th>
                        <th>BASIC</th>
                        <th>PRO</th>
                        <th>PRIME</th>
                    </tr>
                    <tr class="all-body-text5 bbs subtitle">
                        <td class="tdbls">Para pequenas e médias empresas</td>
                        <td class="tdbls">Para aplicaçoes criticas. Link de 10MB</td>
                        <td class="tdbls tdbrs">Para grandes empresas ou e-commerces. Link a partir de 20MB</td>
                    </tr>
                </thead>
                <tbody>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>SaaS (zero impacto na implantação)</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>CDN Global</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Proteção contra backdoors em aplicações</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Proteção de SQL Injection e Cross Site Scripting (XSS)</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Proteção do TOP 10 de ameaças OWASP</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Proteção DoS nível de aplicação</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Possibilidade de contratação adicional DDoS nível de rede <span title="Contratação não disponível online. Para contratação de DDoS, entre em contato com a equipe comercial para que seja verificada em qual plano se adequa à sua necessidade." data-toggle="tooltip">*</span></b></td>
                        <td class="tdbls sslwrong"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Bloqueio de bots maliciosos</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Bloqueio de ataques do tipo Illegal Resource Acess e RFI</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Bloqueio de comentários SPAM</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Blacklist por país e IP de origem</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Verificação de segurança (CAPTCHA)</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Cache de conteúdo estático, avançado e dinâmico</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Estatísticas do tráfego do site e de updates</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Link dedicado</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Suporte 8x5</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Selo de Segurança</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5  price">
                        <td style="background: #FFF"></td>
                        <td class="tdbls bbs">
                            <h3 class="textac">Mensalidade</h3>
                            <h2 class="textac price-color">R$ {{ precos.basic.termsubscription_1m.price_tpl.0 }},<sub>{{ precos.basic.termsubscription_1m.price_tpl.1 }}</sub></h2>
                            <a class="btn btn-orange btn-block" data-term="subscription_1m" data-line="basic" data-comprar-produto="site-monitorado" href=""><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar</a>
                        </td>
                        <td class="tdbls bbs">
                            <h3 class="textac">Mensalidade</h3>
                            <h2 class="textac price-color">R$ {{ precos.pro.termsubscription_1m.price_tpl.0 }},<sub>{{ precos.pro.termsubscription_1m.price_tpl.1 }}</sub></h2>
                            <a class="btn btn-orange btn-block" data-term="subscription_1m" data-line="pro" data-comprar-produto="site-monitorado" href=""><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar</a>
                        </td>
                        <td class="tdbls bbs tdbrs" style="vertical-align: middle">
                            <a href="/portal/suporte-trustsign/atendimento-por-e-mail/" class="textac price-color display-inlineblock">Consulte nossa equipe</a>
                        </td>
                    </tr>

                </tbody>
            </table>


            <div id="comprar-message"></div>

            <div class="clearfix"></div>


            </section>
            <div class="site-body-text2 pull-right btn btn-large" style="display:none;">
                <a href='#'>ENTENDA NOSSO PROCESSO DE COMPRA ON-LINE</a>
            </div>

        {# Inclusão da área 'você sabia' #}
        <div style="margin-top:20px;">
{#            {% include "includes/voce-sabia.html" %}#}

            <section class="sslcolor" style="display:inline-block; margin-top:20px;">
                <section class="container">
                    <section class="featurette boderhide">

                        <aside class="">
                            <section class="row-fluid">

                                <aside class="span4">
                                    <div class="as-text1 tblrp10" style="margin-bottom: -10px">VOCÊ SABIA?</div>
                                    <div class="all-body-text5 tblrp10">
                                        74% das empresas acreditam que a segurança na Web é tão crítica quanto outros problemas de segurança enfrentados por suas empresas.
                                        <br/><br/>
                                        <span style="font-size: 10px">Fonte: Ponemon Institute</span>
                                    </div>
                                </aside>

                                <aside class="span4">
                                    <div class="as-text1 tblrp10" style="margin-bottom: -10px">ATAQUES DDOS</div>
                                    <div class="all-body-text5 tblrp10">Ataques de DdoS podem afetar diferentes plataformas assim como várias camadas de infraestrutura de rede diferentes.</div>
                                    <div class="site-body-text2 tblrp10 "><a href='{{ url_portal }}site-monitorado/ataque-de-ddos/'>Entenda</a></div>
                                </aside>


                                <aside class="span4">
                                    <div class="as-text1 tblrp10" style="margin-bottom: -10px">51% DO TRÁFEGO SÃO BOTS</div>
                                    <div class="all-body-text5 tblrp10">Mais da metade do tráfego de um site é formado por visitantes não humanos e as ferramentas de gestão de acessos não mostram essa informação</div>
                                    <div class="site-body-text2 tblrp10"><a href="{{ url_portal }}site-monitorado/51-do-trafego-sao-bots/">Entenda</a></div>
                                </aside>


                            </section>
                        </aside>
                    </section>
                </section>
            </section>

        </div>

    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'products/js/produtos.js' %}"/>
{% endblock %}
