{% extends "base.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static "products/css/comparar.css" %}" rel="stylesheet">
{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block headers %}
    <header>
        {% include 'includes/1-header-logo.html' %}
        {% include 'includes/2-header-atendimento.html' %}
        {% include 'includes/3-header-produtos.html' %}
        <br><br>
    </header>
{% endblock %}

{% block title %}
    {% editable page.product.title %}
        {{ page.product.title }}
    {% endeditable %}
    {% editable page.product.subtitle %}
        <span style="color:#ddd; margin: 0 10px;">|</span>
        <span class=h1-complement>{{ page.product.subtitle }}</span>
    {% endeditable %}
{% endblock %}

{% block one_row %}
    <div class="span12 left">
        {% editable page.product.youtube_title %}
            <h2>{{ page.product.youtube_title }}</h2>
        {% endeditable %}

        <div class="youtube-container">
            {% editable page.product.youtube_url %}
                    <iframe title="YouTube video player" class="youtube-player" type="text/html" width="720" height="390"
                            src="{{ page.product.youtube_url }}?rel=0" frameborder="0" allowFullScreen></iframe>
            {% endeditable %}
            <div class="product-sharebar">
                {% include 'includes/sharebar.html' %}
            </div>
        </div>
        <br><br>

        {% editable page.product.tab_title %}
            <h2>{{ page.product.tab_title }}</h2>
        {% endeditable %}

        {# Esquema de Abas #}
        <section class="nav nav-tabs" style="display:inline-block; width:100%; margin-bottom: 0;">
            {% for tab in page.product.tabs.all %}
                <aside class="product-tabs" style="">
                    {% editable tab.tab_title %}
                        <h3>{{ tab.tab_title }}</h3>
                    {% endeditable %}
                    {% editable tab.tab_short_description %}
                        <h4>{{ tab.tab_short_description }}</h4>
                        <a class="btn" style="color: #555;" href="#{{ tab.tab_title|slugify }}" data-toggle="tab">Entenda
                        </a>
                    {% endeditable %}
                </aside>
            {% endfor %}
        </section>
        <div class="tab-content">
            {% for tab in page.product.tabs.all %}
                <div class="tab-pane product-tabs-content" id="{{ tab.tab_title|slugify }}" style="text-align: justify;">
                    {% editable tab.tab_description %}
                        {{ tab.tab_description }}
                    {% endeditable %}
                </div>
            {% endfor %}
        </div>

        <section class="featurette tabmid tm30">
            <table class="table ssltab">
                <thead>
                    <tr>
                        <th rowspan="2">
                            <div class="textac">ENTENDA NOSSAS LINHAS</div>
                        </th>
                        <th>BASIC</th>
                        <th>PRO</th>
                        <th>PRIME</th>
                    </tr>
                    <tr class="all-body-text5 bbs subtitle">
                        <td class="tdbls">Scan para uma URL/IP até 25 páginas</td>
                        <td class="tdbls">Scan para uma URL/IP de 26 a 99 páginas</td>
                        <td class="tdbls tdbrs">Scan para uma URL/IP acima de 100 páginas</td>
                    </tr>
                </thead>
                <tbody>



                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Análise de vulnerabilidade diária</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Mais de 50.000 vulnerabilidades analisadas</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Análise de malware diária</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Ferramenta homologada CVE</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Ativação sem setup de instalação</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Mensalidade fixa (independente do número de page views)</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Contratação no modelo de assinatura</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Testa a segurança de servidores (IPs públicos)</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Testa a segurança da aplicações web</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Alertas de ameaças automatizados</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Descrição dos problemas de segurança</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Descrição das soluções dos problemas de segurança</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Plataforma em português</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Suporte 8x5</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5 bbs">
                        <td class="tdbls"><b>Selo de Segurança</b></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright"></td>
                        <td class="tdbls sslright tdbrs"></td>
                    </tr>

                    <tr class="all-body-text5  price">
                        <td style="background: #FFF"></td>
                        <td class="tdbls bbs td-price">
                            {% if precos.basic.termsubscription_1m.price_regular %}
                                <div class="promotion-line">
                                    <span class="old-price">de R$ {{ precos.basic.termsubscription_1m.price_regular }}</span> <span class="new-price">por</span>
                                </div>
                            {% endif %}
                            <h3 class="textac">Mensalidade</h3>
                            <h2 class="textac price-color">R$ {{ precos.basic.termsubscription_1m.price_tpl.0 }},<sub>{{ precos.basic.termsubscription_1m.price_tpl.1 }}</sub></h2>
                            <a class="btn btn-orange btn-block" data-term="subscription_1m" data-line="basic" data-comprar-produto="site-mais-seguro" href="">
                                <img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                                {% if precos.basic.termsubscription_1m.label %}
                                    <img src="/static/ecommerce/{{ precos.basic.termsubscription_1m.label }}" />
                                {% endif %}
                            </a>
                        </td>
                        <td class="tdbls bbs td-price">
                            {% if precos.pro.termsubscription_1m.price_regular %}
                                <div class="promotion-line">
                                    <span class="old-price">de R$ {{ precos.pro.termsubscription_1m.price_regular }}</span> <span class="new-price">por</span>
                                </div>
                            {% endif %}
                            <h3 class="textac">Mensalidade</h3>
                            <h2 class="textac price-color">R$ {{ precos.pro.termsubscription_1m.price_tpl.0 }},<sub>{{ precos.pro.termsubscription_1m.price_tpl.1 }}</sub></h2>
                            <a class="btn btn-orange btn-block" data-term="subscription_1m" data-line="pro" data-comprar-produto="site-mais-seguro" href="">
                                <img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                                {% if precos.pro.termsubscription_1m.label %}
                                    <img src="/static/ecommerce/{{ precos.pro.termsubscription_1m.label }}" />
                                {% endif %}
                            </a>
                        </td>
                        <td class="tdbls bbs tdbrs td-price">
                            {% if precos.prime.termsubscription_1m.price_regular %}
                                <div class="promotion-line">
                                    <span class="old-price">de R$ {{ precos.prime.termsubscription_1m.price_regular }}</span> <span class="new-price">por</span>
                                </div>
                            {% endif %}
                            <h3 class="textac">Mensalidade</h3>
                            <h2 class="textac price-color">R$ {{ precos.prime.termsubscription_1m.price_tpl.0 }},<sub>{{ precos.prime.termsubscription_1m.price_tpl.1 }}</sub></h2>
                            <a class="btn btn-orange btn-block" data-term="subscription_1m" data-line="prime" data-comprar-produto="site-mais-seguro" href="">
                                <img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar
                                {% if precos.prime.termsubscription_1m.label %}
                                    <img src="/static/ecommerce/{{ precos.prime.termsubscription_1m.label }}" />
                                {% endif %}
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div id="comprar-message"></div>

            <div class="clearfix"></div>
            <br/><br/>

            </section>
            <div class="site-body-text2 pull-right btn btn-large" style="display:none;">
                <a href='#'>ENTENDA NOSSO PROCESSO DE COMPRA ON-LINE</a>
            </div>

        {# Inclusão da área 'você sabia' #}
        <div style="margin-top:20px;">
{#            {% include "includes/voce-sabia.html" %}#}

            <section class="sslcolor" style="display:inline-block; margin-top:20px;">
                <section class="container">
                    <section class="featurette boderhide">

                        <aside class="">
                            <section class="row-fluid">

                                <aside class="span4">
                                    <div class="as-text1 tblrp10" style="margin-bottom: -10px">VOCÊ SABIA?</div>
                                    <div class="all-body-text5 tblrp10">
                                        "25%  das principais ameaças, como roubo de propriedade intelectual, sabotagem ou modificação do código fonte, são direcionadas à empresas de TI.”<br><br/>
                                        <span style="font-size: 10px">Fonte: FireEye</span>
                                    </div>
                                </aside>

                                <aside class="span4">
                                    <div class="as-text1 tblrp10" style="margin-bottom: -10px">PRINCIPAIS VUNERABILIDADES</div>
                                    <div class="all-body-text5 tblrp10">Lista das principais vulnerabilidades e uma breve descrição do funcionamento das mais comuns que normalmente são encontradas nas aplicações web.</div>
                                    <div class="site-body-text2 tblrp10 "><a href='{{ url_portal }}certificado-digital/principais-vulnerabilidades/'>Entenda</a></div>
                                </aside>


                                <aside class="span4">
                                    <div class="as-text1 tblrp10" style="margin-bottom: -10px">CERTIFICAÇÃO CVE</div>
                                    <div class="all-body-text5 tblrp10">A TrustSign é a única empresa no Brasil a possuir a certificação CVE. Confira <a href="http://cve.mitre.org/compatible/compatible.html#TrustSign">clicando aqui</a>
                                    </div>
                                    <div class="site-body-text2 tblrp10"><a href="{{ url_portal }}certificado-digital/certificacao-cve/">Entenda</a></div>
                                </aside>


                            </section>
                        </aside>
                    </section>
                </section>
            </section>

        </div>

    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'products/js/produtos.js' %}"/>
{% endblock %}
