{% extends "base.html" %}
{% load mezzanine_tags keyword_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static "products/css/comparar.css" %}" rel="stylesheet">
{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block headers %}
    <header>
        {% include 'includes/1-header-logo.html' %}
        {% include 'includes/2-header-atendimento.html' %}
        <br><br>
    </header>
{% endblock %}

{% block title %}
    {% editable page.product.title %}
        {{ page.product.title }}
    {% endeditable %}
    {% editable page.product.subtitle %}
        <span style="color:#ddd; margin: 0 10px;">|</span>
        <span class=h1-complement>{{ page.product.subtitle }}</span>
    {% endeditable %}
{% endblock %}

{% block one_row %}
    <div class="span12 left">
        {% editable page.product.youtube_title %}
            <h2>{{ page.product.youtube_title }}</h2>
        {% endeditable %}

        {% editable page.product.youtube_url %}
            <div style="text-align: center;">
                <iframe title="YouTube video player" class="youtube-player" type="text/html" width="640" height="390"
                        src="{{ page.product.youtube_url }}" frameborder="0" allowFullScreen></iframe>
            </div>
        {% endeditable %}

        <br><br>

        {% editable page.product.tab_title %}
            <h2>{{ page.product.tab_title }}</h2>
        {% endeditable %}

        {# Esquema de Abas #}
        <section class="nav nav-tabs" style="display:inline-block; width:100%; margin-bottom: 0px;">
            {% for tab in page.product.tabs.all %}
                <aside class="product-tabs" style="display:inline-block;">
                    {% editable tab.tab_title %}
                        <h3>{{ tab.tab_title }}</h3>
                    {% endeditable %}
                    {% editable tab.tab_short_description %}
                        <h4>{{ tab.tab_short_description }}</h4>
                        <a class="btn btn-large" style="color: #555;" href="#{{ tab.tab_title|slugify }}" data-toggle="tab">Entenda
                        </a>
                    {% endeditable %}
                </aside>
            {% endfor %}
        </section>
        <div class="tab-content">
            {% for tab in page.product.tabs.all %}
                <div class="tab-pane product-tabs-content" id="{{ tab.tab_title|slugify }}">
                    {% editable tab.tab_description %}
                        {{ tab.tab_description }}
                    {% endeditable %}
                </div>
            {% endfor %}
        </div>

        {# Inclusão da área 'você sabia' #}
        <div style="margin-top:100px;">
            {% include "includes/voce-sabia.html" %}
        </div>

    </div>
{% endblock %}
