{% load staticfiles i18n future %}

<section class="container" style="background-color:#FFFFFF;">
    <section class="featurette" style="padding-bottom:0;">
        <section class="row">
            <aside class="span3 logomedia">
                <a href="/portal/" ><img src="{% static "home/img/icons/mainlogo.png" %}" class="mainlogo"/></a>
            </aside>
            <aside class="span9 header1" style="">
                <div class="navbar">
                    <ul class="nav pull-right header1-text">
                        <li class="divider-vertical" style="margin-left:0; margin-right:0; height:85px;"></li>
                        <li class="activa"><a href="{{ url_portal }}a-trustsign/" class="limeh85x">A TRUSTSIGN</a></li>
                        <li class="divider-vertical" style="margin-left:0; margin-right:0; height:85px;"></li>
                        <li class="activa"><a href= "{{ url_portal }}blog/" class="limeh85x">BLOG</a></li>
                        <li class="divider-vertical" style="margin-left:0; margin-right:0; height:85px;"></li>

                        {%  if user.is_authenticated %}
                            <li class="activa"><a href="{{ url_ecommerce }}accounts/profile/" class="limeh85x">MINHA CONTA</a>
                        {% else %}
                            <li class="activa"><a href="{{ url_portal }}accounts/login/" class="limeh85x">ENTRAR</a>
                        {% endif %}
                        <li class="divider-vertical" style="margin-left:0; margin-right:0; height:85px;"></li>
                        <li class="cart-btn">
                            <a href="/ecommerce/basket/" class="limeh85x dobold disabled">
                                <img class="custom-icon" src="{% static "home/img/icons/cart-white.png" %}" alt=""/>
                                <span id="qtd_carrinho" class="badge badge-white">{#{{ request.basket.num_items }} #}0</span>
                            </a>
                        </li>
{#                        <li class="divider-vertical" style="margin-left:0; margin-right:0; height:100px;"></li>#}
                        <li>
                            <form action="{{ url_portal }}search/" class="search">
                                <input id="appendedInputButton" class="span2" type="text" width="350" name="q"
                                       placeholder="{% trans "Search" %}" value="{{ request.REQUEST.q }}">
                                <button class="btn spfox2" type="button" onclick="submit()"><i class="icon-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </aside>
        </section>
    </section>
