{% load pages_tags mezzanine_tags staticfiles %}


 <section class="featurette">
    <section class="textac borderh">
        <section class="row header2-text header2-area call-media-query2 lm0">
            <aside class="span3 tbmp10 borderm lm0">
                <div class="icon-reciever"></div> LIGUE: <b>(11) 3729-3945</b></aside>
            <aside class="span3 tbmp10 borderm lm0">
                <div class="icon-laptop"></div> <a href="/atendimento-por-e-mail/" style="color:#000000;"><span>ATENDIMENTO <b>ONLINE</b></span></a>
            </aside>
            <aside class="span3 tbmp10 borderm lm0">
                <div class="icon-arroba"></div>
                <a href="/atendimento-por-e-mail/" style="color:#000000;">ATENDIMENTO <b>POR E-MAIL</b></a>
            </aside>
            <aside class="span3 tbmp10 lm0">
                <div class="icon-microphone"></div>
                <a {# href="/ligamos-para-voce/" #} href="/atendimento-por-e-mail/" style="color:#000000;">LIGAMOS <b>PARA VOCÊ</b></a>
            </aside>
        </section>
    </section>
 </section>
