{% load pages_tags mezzanine_tags staticfiles %}


 <section class="featurette">
    <section class="textac borderh">
        <section class="row header2-text header2-area call-media-query2 lm0">
            <aside class="span3 borderm">
                <i class="icon-reciever"></i> LIGUE: <b>(11) 3729-3945</b></aside>
            <aside class="span3 borderm">
                <i class="icon-laptop"></i> <a href="suporte-trustsign/atendimento-por-e-mail/" style="color:#000000;"><span>ATENDIMENTO <b>ONLINE</b></span></a>
            </aside>
            <aside class="span3 borderm atendimento-email">
                <i class="icon-arroba"></i>
                <a href="suporte-trustsign/atendimento-por-e-mail/" style="color:#000000;">ATENDIMENTO <b>POR E-MAIL</b></a>
            </aside>
            <aside class="span3">
                <i class="icon-microphone"></i>
                <a href="suporte-trustsign/ligamos-para-voce/" style="color:#000000;">LIGAMOS <b>PARA VOCÊ</b></a>
            </aside>
        </section>
    </section>
 </section>
