{% load pages_tags mezzanine_tags staticfiles %}


 <section class="featurette">
    <section class="textac borderh">
        <section class="row header2-text header2-area call-media-query2">
            <aside class="span3 tbmp10 borderm">
                <img src="{% static "home/img/icons/reciever.png" %}" style="height: 30px;" /> LIGUE AGORA: <b>(11)3729-3945</b></aside>
            <aside class="span3 tbmp10 borderm">
                <img src="{% static "home/img/icons/laptop.png" %}" style="height: 30px;" />
                <span style="color: #aaa;">ATENDIMENTO <b>ONLINE</b></span>
            </aside>
            <aside class="span3 tbmp10 borderm">
                <img src="{% static "home/img/icons/attherait.png" %}" style="height: 30px;" />
                <a href="/atendimento-por-e-mail/" style="color:#000000;">ATENDIMENTO <b>POR E-MAIL</b></a>
            </aside>
            <aside class="span3 tbmp10 lm0">
                <img src="{% static "home/img/icons/microphone.png" %}" style="height: 30px;" />
                <a href="/ligamos-para-voce/" style="color:#000000;">LIGAMOS <b>PARA VOCÊ</b></a>
            </aside>
        </section>
    </section>
 </section>
