{% load pages_tags mezzanine_tags staticfiles %}

<section class="featurette">
    <section class="textac tbm5 fiximh">
        <section class="row">
            <aside class="span2">
                <a href= {% url 'page' 'site-seguro' %} >
                    <div class="tbm2"><div class="icon-green-lock"></div></div>
                    <div class="tbm2 header3-title-text">SITE + SEGURO</div>
                </a>

                <div class="tbm2 header3-body-text">ANÁLISES DE VULNERABILIDADES</div>
            </aside>

            <aside class="span2">
                <a href= {% url 'page' 'site-monitorado' %} >
                    <div class="tbm2"><div class="icon-h-3-2nd"></div></div>
                    <div class="tbm2 header3-title-text">SITE MONITORADO</div>
                </a>

                <div class="tbm2 header3-body-text">MONITORAMENTO E BLOQUEIO DE ATAQUES</div>
            </aside>

            <aside class="span2">
                <a href= {% url 'page' 'pki' %}>
                    <div class="tbm2"><div class="icon-pki"></div></div>
                    <div class="tbm2 header3-title-text">PKI</div>
                </a>

                <div class="tbm2 header3-body-text">GERENCIAMENTO DE CERTIFICADOS</div>
            </aside>

            <aside class="span2 terg-hdmgmenu">
                <a href= {% url 'page' 'certificado-digital' %} >
                    <div class="tbm2"><div class="icon-digital" style="height: 30px"></div></div>
                    <div class="tbm2 header3-title-text">CERTIFICADO DIGITAL</div>
                </a>

                <div class="tbm2 header3-body-text">TRANSAÇÕES MAIS SEGURAS</div>
            </aside>

            <aside class="span2">
                <a href= {% url 'page' 'melhor-solucao' %} >
                    <div class="tbm2"><div class="icon-h-3-5th" style="height: 30px"></div></div>
                    <div class="tbm2 header3-title-text {# coloroff #}">
                        MELHOR SOLUÇÃO
                    </div>
                </a>

                <div class="tbm2 header3-body-text">DESCUBRA A SOLUÇÃO IDEAL</div>
            </aside>

            <aside class="span2 sort-menu-parent">
                <a href= {% url 'page' 'suporte-trustsign' %} >
                    <div class="tbm2"><div class="icon-h-3-6th" style="height: 30px"></div></div>
                    <div class="tbm2 header3-title-text">SUPORTE</div>
                </a>

                <div class="tbm2 header3-body-text">TUTORIAIS, FAQ E FERRAMENTAS</div>
                <!--
                <div class="sortmune" style="z-index: 10;">
                    <ul>
{#                        <li>#}
{#                            <aa href="/tutoriais-em-video/"><b>Tutoriais em vídeo</b></aa>#}
{#                            <p>Aprenda a instalar e configurar nossas soluções</p>#}
{#                        </li>#}
                        <li>
                            <a href="/suporte-trustsign/faq-e-manuais/"><b>FAQ</b></a>
                            <p>Tire suas dúvidas com o FAQ da TrustSign</p>
                        </li>
                        <li>
                            <a href="/suporte-trustsign/manuais/"><b>Manuais</b></a>
                            <p>Tire suas dúvidas com os Manuais da TrustSign</p>
                        </li>
                        <li>
                            <a href="/suporte-trustsign/glossario/"><b>Glossário</b></a>
                            <p>Tire suas dúvidas com o Glossário da TrustSign</p>
                        </li>
                        <li>
                            <a href="/suporte-trustsign/ferramentas/"><b>Ferramentas</b></a>
                            <p>SSL Checker,
                                CSR Decoder,
                                Certificate Key Matcher e
                                SSL Converter</p>
                        </li>

                    </ul>
                </div>
                -->
            </aside>
        </section>
    </section>
</section>
