{% load pages_tags mezzanine_tags staticfiles %}

<section class="featurette">
    <section class="textac tbm5 fiximh">
        <section class="row">
            <aside class="span2">
                <a href='/site-seguro/'>
                    <div class="tbm2"><img src="{% static "home/img/icons/green-lock.png" %}"/></div>
                    <div class="tbm2 header3-title-text">SITE + SEGURO</div>
                </a>

                <div class="tbm2 header3-body-text">ANÁLISES DIÁRIAS QUE DETECTAM OS PONTOS VULNERÁVEIS</div>

                <!--   start Site + Seguro-->
                <section class="featurette hdmgmenu">
                    <section class="row">
                        <aside class="span8 all-body-text1">
                            <div class="site-body-text tblrp10" style="background-color:#F2F2F2;">
                                Mostre aos seus clientes o quanto seu site é seguro</br> e aumente a confiança e receita
                            </div>


                            <section class="row">
                                <aside class="span4">
                                    <article class="tblrp510">

                                        <p><b>SSL</b></p>

                                        <p class="all-body-text5">Autenticidade e Confiabilidade</br>para seu
                                            negocio</p>

                                        <p><b>EV (Extended Validation SSM)</b></p>

                                        <p class="all-body-text5">Percepção e Nível de Segurança</br>Maior para seu
                                            negócio</p>

                                        <p class=""><b>EV MDC</b></p>

                                        <p class="all-body-text5">Am tortor odio aliquet ac malesuada</br>id luctus ac
                                            diam</p>
                                    </article>
                                </aside>

                                <aside class="span4">
                                    <article class="tblrp510">
                                        <p class=""><b>SAN SSL</b></p>

                                        <p class="all-body-text5">Ideal para proteger diversos FQDNs</br>de uma única
                                            vez</p>

                                        <p class=""><b>MDC</b></p>

                                        <p class="all-body-text5">Certifique Multiplos Domínios</br>internos no mesmo
                                            servidor</p>

                                        <p class=""><b>Wildcard</b></p>

                                        <p class="all-body-text5">Certifique Infinitos subdomínios,com</br>um único
                                            certificado</p>
                                    </article>
                                </aside>

                            </section>


                            <div class="tblrp10" style="background-color:#F2F2F2;">
                                <p class="all-body-text3 tbm2">DUVIDAS?</p>

                                <p class="all-body-text4 tbm2">Não sabe a diferença entre os certificados?
                                    <button class="btn btn-large" type="button">Descubra agora!</button>
                                </p>
                            </div>


                        </aside>


                        <aside class="span4 all-body-text1">
                            <p class="site-body-text tblrp10" style="background-color:#F2F2F2;">
                                Envie e-mails codificados para que apenas o destinatário possa ver
                            </p>

                            <p class="lrp10"><b>S/MM</b></p>

                            <p class="all-body-text5 lrp10">Autenticidade e Assinatura de e-mails</p>


                            <p class="site-body-text tblrp10" style="background-color:#F2F2F2;">
                                In eu ante et tortor ullamcorper cgestas id vitae libero
                            </p>


                            <p class="lrp10"><b>JRE</b></p>

                            <p class="all-body-text5 lrp10">Para servidores baseados em java que permitem executar</br>
                                aplicações sem erros beneficiando usuários finais</p>

                            <p class="lrp10"><b>EV MDC</b></p>

                            <p class="all-body-text5 lrp10">Determina a procedência do software que é instalado</br>no
                                computador</p>


                        </aside>


                    </section>
                </section>

                <!--   end Site + Seguro-->
            </aside>

            <aside class="span2">
                <a href='/site-monitorado/'>
                    <div class="tbm2"><img src="{% static "home/img/icons/h-3-2nd.png" %}"/></div>
                    <div class="tbm2 header3-title-text">SITE MONITORADO</div>
                </a>

                <div class="tbm2 header3-body-text">ADMINISTRE AS VISITAS E TENTATIVAS DE INVASÕES</div>
            </aside>

            <aside class="span2">
                <a href='/pki/'>
                    <div class="tbm2"><img src="{% static "home/img/icons/pki-icon.png" %}"/></div>
                    <div class="tbm2 header3-title-text">PKI</div>
                </a>

                <div class="tbm2 header3-body-text">GERENCIAMENTO TOTAL E EFETIVO DE CERTIFICADOS DIGITAIS</div>
            </aside>

            <aside class="span2 terg-hdmgmenu">
                <a href='/certificado-digital/'>
                    <div class="tbm2"><img src="{% static "home/img/icons/digital-icon.png" %}"/></div>
                    <div class="tbm2 header3-title-text">CERTIFICADO DIGITAL</div>
                </a>

                <div class="tbm2 header3-body-text">GERE MAIS RECEITA COM SITE AUTÊNTICO</div>
            </aside>

            <aside class="span2">
                <div class="tbm2"><img src="{% static "home/img/icons/h-3-5 th.png" %}"/></div>
                <div class="tbm2 header3-title-text coloroff">SOLUÇÃO</div>
                <div class="tbm2 header3-body-text">DESCUBRA A MELHOR SOLUÇÃO PARA SEU NEGÓCIO</div>
            </aside>

            <aside class="span2 header3-t-h sort-menu-parent">
                <div class="tbm2"><img src="{% static "home/img/icons/h-3-6 th.png" %}"/></div>
                <div class="tbm2 header3-title-text coloroff">SUPORTE</div>
                <div class="tbm2 header3-body-text">TUTORIAL, WIKI E FERRAMENTAS PARA CERTIFICADOS DIGITAIS</div>
                <div class="sortmune">
                    <ul>
                        <li>
                            <p><b>TUTORIAL em video</b></p>

                            <p>Tire suas duvidas assistindo videos ou baixando nosso material</p>
                        </li>

                        <li>
                            <p><b>Ferramentas</b></p>

                            <p>Proin porttitor enim tincidunt ante sollicitudin a ultricies quam</p>
                        </li>

                        <li>
                            <p><b>Wiki Trustsign</b></p>

                            <p>Proin porttitor enim tincidunt ante sollicitudin a ultricies quam</p>
                        </li>
                    </ul>
                </div>
            </aside>
        </section>
    </section>
</section>
