{% load pages_tags mezzanine_tags staticfiles %}

<section class="featurette">
    <section class="textac tbm5 fiximh">
        <section class="row">
            <aside class="span2">
                <a href='/site-seguro/'>
                    <div class="tbm2"><div class="icon-green-lock"></div></div>
                    <div class="tbm2 header3-title-text">SITE + SEGURO</div>
                </a>

                <div class="tbm2 header3-body-text">ANÁLISES DE VULNERABILIDADES</div>
            </aside>

            <aside class="span2">
                <a href='/site-monitorado/'>
                    <div class="tbm2"><div class="icon-h-3-2nd"></div></div>
                    <div class="tbm2 header3-title-text">SITE MONITORADO</div>
                </a>

                <div class="tbm2 header3-body-text">MONITORAMENTO E BLOQUEIO DE ATAQUES</div>
            </aside>

            <aside class="span2">
                <a href='#'>
                    <div class="tbm2"><div class="icon-pki"></div></div>
                    <div class="tbm2 header3-title-text">PKI</div>
                </a>

                <div class="tbm2 header3-body-text">GERENCIAMENTO DE CERTIFICADOS DIGITAIS</div>
            </aside>

            <aside class="span2 terg-hdmgmenu">
                <a href='/certificado-digital/'>
                    <div class="tbm2"><div class="icon-digital" style="height: 30px"></div></div>
                    <div class="tbm2 header3-title-text">CERTIFICADO DIGITAL</div>
                </a>

                <div class="tbm2 header3-body-text">GARANTIA DE TRANSAÇÕES SEGURAS</div>
                <BR>
                <!--   start Certificado Digital -->
                <section class="featurette hdmgmenu">
                    <section class="row">
                        <aside class="span8 all-body-text1">
                            <div class="site-body-text tblrp10" style="background-color:#F2F2F2;">
                                Mostre aos seus clientes mais segurança - Gere confiabilidade e aumento de receita
                            </div>


                            <section class="row">
                                <aside class="span4">
                                    <article class="tblrp510 black_link">
                                        <a href="/certificado-digital/ssl"><b>SSL</b></a>

                                        <p class="all-body-text5 justified">Mostre que seu site é autêntico, confiável e possui criptografia de dados</p>

                                        <a href="/certificado-digital/ev-extended-validation-ssl"><b>EV (Extended Validation) SSL</b></a>

                                        <p class="all-body-text5 justified">Obtenha os benefícios do SSL e exiba a barra verde no navegador com o maior nível de segurança e validação</p>

                                        <a href="/certificado-digital/ev-mdc-ssl"><b>EV MDC SSL</b></a>

                                        <p class="all-body-text5 justified">Obtenha os benefícios do SSL, exiba a barra verde e certifique até 210 domínios com um único certificado</p>
                                    </article>
                                </aside>

                                <aside class="span4">
                                    <article class="tblrp510 black_link">
                                        <a href="/certificado-digital/san-ssl"><b>SAN SSL</b></a>

                                        <p class="all-body-text5 justified">Obtenha os benefícios do SSL para vários FQDNs
                                            em ambiente Microsoft (inclusive Exchange) com um único certificado</p>

                                        <a href="/certificado-digital/mdc-ssl"><b>MDC SSL</b></a>

                                        <p class="all-body-text5 justified">Obtenha os benefícios do SSL e certifique até 210
                                            domínios com um único certificado</p>

                                        <a href="/certificado-digital/wildcard-ssl"><b>WildCard SSL</b></a>

                                        <p class="all-body-text5 justified">Obtenha os benefícios do SSL e certifique infinitos
                                            sub-domínios com um único certificado WildCard</p>
                                    </article>
                                </aside>
                            </section>


                            <div class="tblrp10" style="background-color:#F2F2F2;">
                                <span class="all-body-text3 tbm2">DÚVIDAS?</span>

                                <span class="all-body-text4 tbm2">Não sabe a diferença entre os certificados?
                                    <a href="/certificado-digital/comparar-certificados-digitais/" style="margin-left: 35px;"
                                       class="btn btn-large" type="button">Descubra agora!</a>
                                </span>
                            </div>
                        </aside>


                        <aside class="span4 all-body-text1 black_link">
                            <div class="site-body-text tblrp10" style="background-color:#F2F2F2;">
                                Assine e-mails digitalmente
                            </div>

                            <a href="/certificado-digital/smime" class="tblrp10"><b>S/MIME</b></a>

                            <p class="all-body-text5 justified lrp10">Garanta a identidade do remetente e a integridade das informações</p>
                            <div class="site-body-text tblrp10" style="background-color:#F2F2F2;">
                                Segurança em downloads de códigos
                            </div>

                            <a href="/certificado-digital/jre" class="tblrp10"><b>JRE</b></a>

                            <p class="all-body-text5 justified lrp10">Confiabilidade em downloads de códigos JAVA</p>

                            <a href="/certificado-digital/code-signing" class="tblrp10"><b>Code Signing</b></a>

                            <p class="all-body-text5 justified lrp10">Confiabilidade em downloads de diversos códigos</p>
                        </aside>
                    </section>
                </section>
                <!--   end Certificado Digital -->
            </aside>

            <aside class="span2">
                <a href="/melhor-solucao/">
                    <div class="tbm2"><div class="icon-h-3-5th" style="height: 30px"></div></div>
                    <div class="tbm2 header3-title-text {# coloroff #}">
                        SOLUÇÃO
                    </div>
                </a>

                <div class="tbm2 header3-body-text">DESCUBRA A SOLUÇÃO IDEAL PARA SEU NEGÓCIO</div>
            </aside>

            <aside class="span2 header3-t-h sort-menu-parent">
                <a href="/suporte-trustsign/">
                    <div class="tbm2"><div class="icon-h-3-6th" style="height: 30px"></div></div>
                    <div class="tbm2 header3-title-text">SUPORTE</div>
                </a>

                <div class="tbm2 header3-body-text">TUTORIAIS, FAQ E FERRAMENTAS</div>
                <div class="sortmune" style="z-index: 10;">
                    <!--ul>
                        <li>
                            <aa href="{# /tutoriais-em-video/ #}"><b>Tutoriais em vídeo</b></aa>
                            <p>Aprenda a instalar e configurar nossas soluções</p>
                        </li>
                        <li>
                            <a href="/faq-e-manuais/"><b>FAQ e Manuais</b></a>
                            <p>Tire suas dúvidas com os manuais, FAQ e White papers da TrustSign</p>
                        </li>
                        <li>
                            <aa href="{# /ferramentas/ #}"><b>Ferramentas</b></aa>
                            <p>SSL Checker,
                                CSR Decoder,
                                Certificate Key Matcher e
                                SSL Converter</p>
                        </li>

                    </ul-->
                </div>
            </aside>
        </section>
    </section>
</section>
