{% load pages_tags mezzanine_tags staticfiles %}

<footer class="tbm250" style="background-color:#F7F7F7; display:block; padding-bottom:30px; margin-bottom:0;">
    <section class="container productbgn">
        <section class="featurette tbm5">
            <section class="row footer-title ">
                <aside class="span3 footer-item-icon footer-info-links">
                    <p class="footer-item-text">SOLUÇÕES</p>
                    <a href="{% static "/certificado-digital" %}" class="carsol"><b>&rsaquo;</b> Certicado Digital</a><br>
                    <a href="{% static "/pki" %}" class="carsol"><b>&rsaquo;</b> PKI</a><br>
                    <a href="{% static "/site-seguro" %}" class="carsol"><b>&rsaquo;</b> Site + Seguro</a><br>
                    <a href="{% static "/site-monitorado" %}" class="carsol"><b>&rsaquo;</b> Site Monitorado</a>
                </aside>

                <aside class="span3 footer-item-icon">
                    <p class="footer-item-text">FORMAS DE PAGAMENTO</p>
                    <a href="#"><img src="{% static "home/img/icons/card-visa.png" %}"/></a>
                    <a href="#" class=""><img src="{% static "home/img/icons/master-card.png" %}"/></a>
                    <a href="#" class=""><img src="{% static "home/img/icons/ex-card.png" %}"/></a>
                    <a href="#" class=""><img src="{% static "home/img/icons/club-card.png" %}"/></a>
                    <a href="#" class=""><img src="{% static "home/img/icons/aura-icon.png" %}"/></a><br>
                    <a href="#" class=""><img src="{% static "home/img/icons/hypercard.png" %}"/></a>
                    <a href="#" class=""><img src="{% static "home/img/icons/u-card.png" %}"/></a>
                    <a href="#" class=""><img src="{% static "home/img/icons/line-bar.png" %}"/></a>
                    <a href="#" class=""><img src="{% static "home/img/icons/itau-icon.png" %}"/></a>
                    <a href="#" class=""><img src="{% static "home/img/icons/s-icon.png" %}"/></a>
                </aside>

                <aside class="span3 footer-item-icon">
                    <p class="footer-item-text">SEGURANÇA</p>
                    <p class="child-mar5 lrp10">
                        <a href="#"><img src="{% static "home/img/icons/seguranca-1.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "home/img/icons/seguranca-2.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "home/img/icons/seguranca-3.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "home/img/icons/seguranca-4.png" %}"/></a>
                    </p>
                </aside>

                <aside class="span3 footer-item-icon">
                    <p class="footer-item-text">ACOMPANHE A<br> TRUSTSIGN NAS REDES</p>
                    <p>
                        <a href="#"><img src="{% static "home/img/icons/linkedin.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "home/img/icons/facebook.png" %}"/></a>
                    </p>
                </aside>
            </section>
        </section>
    </section>
</footer>