{% load pages_tags mezzanine_tags staticfiles %}

<footer class="tbm250" style="background-color:#EEEEEE; display:block; padding:20px 0px; margin-bottom: 0px;">
    <section class="container ">
        <section class="featurette tbm5">
            <section class="row footer-title ">
                <aside class="span6 footer-item-icon footer-info-links">
                    <p class="footer-item-text borderf">SOLUÇÕES</p>
                    <a href="{% static "/certificado-digital" %}" class="carsol"><b>&rsaquo;</b> Certicado Digital</a>
                    {#                    <a href="{% static "/pki" %}" class="carsol"><b>&rsaquo;</b> PKI</a>#}
                    <a href="{% static "/site-seguro" %}" class="carsol"><b>&rsaquo;</b> Site + Seguro</a>
                    <a href="{% static "/site-monitorado" %}" class="carsol"><b>&rsaquo;</b> Site Monitorado</a>
                </aside>

                <aside class="span6 footer-item-icon">
                    <p class="footer-item-text borderf">ACOMPANHE A TRUSTSIGN NAS REDES</p>
                    <a href="http://www.linkedin.com/company/trustsign" target="_blank"><img src="{% static "home/img/icons/linkedin.png" %}"/></a>
                    <a href="http://www.facebook.com/trustsign" target="_blank"><img
                            src="{% static "home/img/icons/facebook.png" %}"/></a>

                    <p></p>
                </aside>
                <aside class=span6></aside>
                {#                <aside class="span6 footer-item-icon">#}
                {#                    <p class="footer-item-text borderf">FORMAS DE PAGAMENTO</p>#}
                {#                    <a href="#" class="payment-icon"><img src="{% static "home/img/payment/thumb_boleto.gif" %}"/></a>#}
                {#                    <a href="#" class="payment-icon"><img src="{% static "home/img/payment/thumb_bb.gif" %}"/></a>#}
                {#                    <a href="#" class="payment-icon"><img src="{% static "home/img/payment/thumb_itau.gif" %}"/></a>#}
                {#                    <a href="#" class="payment-icon"><img src="{% static "home/img/payment/thumb_bradesco.gif" %}"/></a>#}
                {#                    <a href="#" class="payment-icon"><img src="{% static "home/img/payment/thumb_visa.gif" %}"/></a>#}
                {#                    <a href="#" class="payment-icon"><img src="{% static "home/img/payment/thumb_master.gif" %}"/></a>#}
                {#                    <a href="#" class="payment-icon"><img src="{% static "home/img/payment/thumb_amex.gif" %}"/></a>#}
                {#                </aside>#}

                <aside class="span6 footer-item-icon">
                    <p class="footer-item-text borderf">SEGURANÇA</p>
                    <a href="https://seals.trustsign.com.br/certificate.php?id=1&site=www.trustsign.com.br&lang=pt"
                       target="_blank">
                        <img name="trustseal" alt="Site Autêntico"
                             src="//seals.trustsign.com.br/cache/1/site_autentico_prime-www.trustsign.com.br-105x45.png"
                             border="0" title="Clique para Validar"/>
                    </a>

                    <a href="https://seals.trustsign.com.br/certificate.php?id=1&site=www.trustsign.com.br&lang=pt"
                       target="_blank">
                        <img name="trustseal" alt="Security Scanned Seal"
                             src="//seals.trustsign.com.br/cache/1/site+seguro-105x45.png" border="0"
                             title="Clique para Validar"/>
                    </a>

                    <a href="https://seals.trustsign.com.br/certificate.php?id=1&site=www.trustsign.com.br&lang=pt"
                       target="_blank">
                        <img name="trustseal" alt="Site Monitorado"
                             src="//seals.trustsign.com.br/cache/1/site_monitorado-www.trustsign.com.br-105x45.png"
                             border="0" title="Clique para Validar"/>
                    </a>
                    </p>
                </aside>

            </section>
        </section>
    </section>
</footer>