{% load staticfiles %}
<!------------principal clients area started here------------------------>


<section class="featurette" style="display: inline-block; width:100%;">

    <h2>PRINCIPAIS CLIENTES</h2>

    <section style=" width:100%; display:inline-block;">
        <ul class="principais-clientes" style="display: inline-block; width:100%;">
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/claro.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/danone.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/eletrobras.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/fleury.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/klabin.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/uninove.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/sebrae.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/tam.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/coelba.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/usiminas.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/pda.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/bridgestone.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/deloitte.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/dhl.png" %}"/></a></div>
            </li>
        </ul>
    </section>

</section>


<!------------principal clients area closed here------------------------>


