{% load staticfiles %}
<!------------principal clients area started here------------------------>


<section class="featurette" style="display: inline-block; width:100%;">

    <h2>PRINCIPAIS CLIENTES</h2>

    <section style=" width:100%; display:inline-block;">
        <ul class="principais-clientes" style="display: inline-block; width:100%;">
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-andrade-gutierrez.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-ciatech.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-claro-chile.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-clearsale.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-ecovias.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo_eletropaulo.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-febraban.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-fleury.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-hdi.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-multiplus.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-neoenergia.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-pao-acucar.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-saraiva.png" %}"/></a></div>
            </li>
            <li>
                <div><a href="#"><img src="{% static "home/img/customers/logo-tam-airlines.png" %}"/></a></div>
            </li>
        </ul>
    </section>

</section>


<!------------principal clients area closed here------------------------>


