{% load staticfiles %}
<!------------principal clients area started here------------------------>


<section class="featurette" style="display: inline-block; width:100%;">

    <p class="as-text1 bm20 tm30" style="text-align: center;">JÁ SÃO QUASE 1.000 CLIENTES ATIVOS E SATISFEITOS, FAÇA COMO ELES!</p>

    <section style=" width:100%; display:inline-block;">
        <ul class="principais-clientes" style="display: inline-block; width:100%;">
            <li>
                <div><img src="{% static "home/img/customers/logo-andrade-gutierrez.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/customers/logo-ciatech.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/customers/logo-claro-chile.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/customers/logo-clearsale.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/customers/logo-ecovias.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/customers/logo_eletropaulo.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/customers/logo-febraban.png" %}"/></div>
            </li>
            <li class="no-bottom">
                <div><img src="{% static "home/img/customers/logo-fleury.png" %}"/></div>
            </li>
            <li class="no-bottom">
                <div><img src="{% static "home/img/customers/logo-hdi.png" %}"/></div>
            </li>
            <li class="no-bottom">
                <div><img src="{% static "home/img/customers/logo-multiplus.png" %}"/></div>
            </li>
            <li class="no-bottom">
                <div><img src="{% static "home/img/customers/logo-neoenergia.png" %}"/></div>
            </li>
            <li class="no-bottom">
                <div><img src="{% static "home/img/customers/logo-pao-acucar.png" %}"/></div>
            </li>
            <li class="no-bottom">
                <div><img src="{% static "home/img/customers/logo-saraiva.png" %}"/></div>
            </li>
            <li class="no-bottom">
                <div><img src="{% static "home/img/customers/logo-tam-airlines.png" %}"/></div>
            </li>
        </ul>
    </section>

</section>


<!------------principal clients area closed here------------------------>


