{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags staticfiles pages_tags %}


<!--
<section class="featurette homemain">
    <p class="as-text1" style="text-align: center; margin-top: 40px;">ACOMPANHE A TRUSTSIGN NAS REDES</p>
</section>
-->
<!-- youtube area closed here -->


<section class="featurette" style="display: inline-block;">

    <div>
        <a href="http://www.youtube.com.br/trustsignbr" target="_blank">
            <img src="{% static "home/img/icons/youtube.png" %}" style="float:left; margin-right:10px;margin-top:-6px;">
        <h2>YOUTUBE</h2>
        </a>
    </div>
    <section class="margin-top" style="text-align:center;">
        <section class="ytube">

            <aside class="video-thumb">
                <div style="text-align: center;">
                    <a data-toggle="modal" href="#modal-video" onclick="abreVideo('https://www.youtube.com/embed/u7jnNn2LP94?rel=0&autoplay=1');">
                        <img src="{% static "home/img/youtube/youtube-site-seguro.jpg" %}" alt="" width="180" height="100" />
                        <p class="home-text4" style="text-align: center;">Conheça o Site + Seguro</p>
                    </a>

                </div>
{#                <p class="home-text4">Comprando pela Internet</p>#}
            </aside>

            <aside class="video-thumb">
                <div style="text-align: center;">
                    <a data-toggle="modal" href="#modal-video" onclick="abreVideo('https://www.youtube.com/embed/pn7cncN4wuE?rel=0&autoplay=1');">
                        <img src="{% static "home/img/youtube/youtube-site-monitorado.jpg" %}" alt="" width="180" height="100" />
                        <p class="home-text4" style="text-align: center;">Conheça o Site Monitorado</p>
                    </a>
                </div>
{#                <p class="home-text4">Entrevista de Ivo Machado para Record News</p>#}
            </aside>

            <aside class="video-thumb">
                <div style="text-align: center;">
                    <a data-toggle="modal" href="#modal-video" onclick="abreVideo('https://www.youtube.com/embed/VAiWTiVAbP8?rel=0&autoplay=1');">
                        <img src="{% static "home/img/youtube/youtube-ev-ssl.jpg" %}" alt="" width="180" height="100" />
                        <p class="home-text4" style="text-align: center;">Conheça o certificado EV SSL</p>
                    </a>
                </div>
{#                <p class="home-text4">Prêmio MPE Brasil Etapa SP</p>#}
            </aside>

            <aside class="video-thumb">
                <div style="text-align: center;">
                    <a data-toggle="modal" href="#modal-video" onclick="abreVideo('https://www.youtube.com/embed/ELol4jktdmg?rel=0&autoplay=1');">
                        <img src="{% static "home/img/youtube/youtube-ssl.jpg" %}" alt="" width="180" height="100" />
                        <p class="home-text4" style="text-align: center;">Conheça o certificado SSL</p>
                    </a>
                </div>
{#                <p class="home-text4">Dicas de segurança para evitar crimes na internet</p>#}
            </aside>
        </section>

        <div id="modal-video" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
            <a href="#" class="modal-close" data-dismiss="modal">Fechar</a>
            <div class="modal-body youtube-container">
                <iframe src="" class="youtube-player" width="560" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                {% include 'includes/sharebar.html' %}
            </div>
        </div>

    </section>

</section>

<!--------------youtube area closed here---------------------------------->


<!------------blog and tweeter area started here---------------->



<section class="featurette">
    <section class="row-fluid">
        <aside class="span6" style="padding-right: 30px;">
            <section class="tm30">
                <div>
                    <a href="{{ url_portal }}blog/">
                        <img src="{% static "home/img/icons/blog.png" %}" style="float:left; margin-right:10px;margin-top:-6px;">
                    <h2>BLOG</h2>
                    </a>
                </div>
                {% blog_recent_posts 2 as recent_posts %}
                {% for blog_post in recent_posts %}
                    <div class="margin-top" style="clear: both;">
                        <a class="home-text3" href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
                        <span class="all-body-text5 line-height-140">{{ blog_post.content | safe | striptags |truncatewords_html:24 }}</span>
                        <a href="{{ blog_post.get_absolute_url }}">[Leia mais]</a>
                    </div>
                {% endfor %}
            </section>
        </aside>


        <aside class="span6" style="padding-left: 30px;">
            <section class="tm30">
                <div>
                    <a href="http://www.twitter.com/trustsign" target="_blank">
                        <img src="{% static "home/img/icons/twitter-t.png" %}" style="float:left; margin-right:10px; margin-top:-6px;">
                    <h2>TWEETS</h2>
                    </a>

                </div>

                {% include 'twitter/tweets.html' %}
            </section>

        </aside>
    </section>
</section>


<!------------blog and tweeter area closed here---------------->


