<section class="voce-sabia lm0 boderhide" style="display:inline-block;">
    <section class="span12 bordowns lm0 boderhide">
        <section class="row-fluid">

            <aside class="span3 tdbrs tblrp10" style="height:150px;padding-left:0px;">
                <div class="as-text1 tblrp10" style="padding-left:0px;">VOCÊ SABIA?</div>
                <div class="all-body-text5 tblrp10 line-height-140" style="padding-left:0px;">70% DOS INTERNAUTAS COMPRAM APENAS SE A LOJA TIVER SELO DE SEGURANÇA</div>
                <div class="site-body-text2 tblrp10" style="padding-left:0px; font-size: 80%;">(PESQUISA DE CRIMES VIRTUAIS – IBM)</div>
            </aside>

            <aside class="span6 textac tblrp10" style="height:150px;">
                <div class="as-text1 tblrp10 line-height-140">SEU CERTIFICADO ESTÁ INSTALADO CORRETAMENTE? TESTE AQUI!</div>
                <br>
                <section class="row-fluid">
                    <aside class="span6 site-body-text2 tblrp10">VERIFIQUE A SITUAÇÃO DO SSL NO SEU SITE</aside>
                    <aside class="span6 site-body-text2 tblrp10">ESTOU COM PROBLEMAS</br>NA INSTALAÇÃO</aside>
                </section>
            </aside>

            <aside class="span3 tdbls tblrp10" style="height:150px;">
                <div class="as-text1 tblrp10">SUPORTE</div>
                <div class="all-body-text5 tblrp10 line-height-140 tm50">VÍDEOS, TUTORIAIS, MANUAIS E FERRAMENTAS DE APOIO</div>
                <a href="/suporte-trustsign/"><div class="site-body-text2 tblrp10">ACESSAR SUPORTE</div></a>
            </aside>

        </section>
    </section>
</section>
