<section class="featurette voce-sabia tbp10 lm0 boderhide" style="display:inline-block;">
    <section class="span12 bordowns lm0 boderhide">
        <section class="row-fluid">

            <aside class="span3 tdbrs tblrp10" style="height:170px;padding-left:0px;">
                <div class="as-text1 tblrp10" style="padding-left:0px;">VOCÊ SABIA?</div>
                <div class="all-body-text5 tblrp10" style="padding-left:0px;">QUE CERTIFICADO DIGITAL NÃO É</br>SINÔNIMO DE SEGURANÇA?</div>
                <div class="site-body-text2 tblrp10" style="padding-left:0px;">SAIBA O PORQUÊ</div>
            </aside>

            <aside class="span6 textac tblrp10" style="height:170px;">
                <div class="as-text1 tblrp10">SEU CERTIFICADO ESTÁ INSTALADO CORRETAMENTE? TESTE AQUI!</div>
                <section class="row-fluid">
                    <aside class="span6 site-body-text2 tblrp10">VERIFIQUE A SITUAÇÃO DO SSL</br>NO SEU SITE</aside>
                    <aside class="span6 site-body-text2 tblrp10">ESTOU COM PROBLEMAS</br>NA INSTALAÇÃO</aside>
                </section>
            </aside>

            <aside class="span3 tdbls tblrp10" style="height:170px;">
                <div class="as-text1 tblrp10">SUPORTE</div>
                <div class="all-body-text5 tblrp10">VÍDEOS, TUTORIAIS, MANUAIS E FERRAMENTAS DE APOIO</div>
                <div class="site-body-text2 tblrp10">ACESSAR SUPORTE</div>
            </aside>

        </section>
    </section>
</section>
