<!--
<section class="voce-sabia lm0 boderhide" style="display:inline-block;">
    <section class="span12 bordowns lm0 boderhide">
        <section class="row-fluid">

            <aside class="span4 tdbrs tblrp10" style="height:130px;padding-left:0px;">
                <div class="as-text1 tblrp10" style="padding-left:0px;">VOCÊ SABIA?</div>
                <div class="all-body-text5 line-height-140" style="padding-left:0px;">70% dos internautas compram apenas se a loja tiver selo de segurança</div>
                <div class="site-body-text2 tblrp10" style="padding-left:0px;">(PESQUISA: IBM)</div>
            </aside>

            <aside class="span4 textac tblrp10" style="height:130px;">
                <div class="as-text1 tblrp10 line-height-140">SEU CERTIFICADO ESTÁ INSTALADO CORRETAMENTE?</div>
                <br>
                <section class="row-fluid" style="margin-top: -5px; text-align: center;">
                    <ul>
                        <li><aside class=" site-body-text2 ">VERIFIQUE A SITUAÇÃO DO SSL</aside></li>
                        <li><aside class=" site-body-text2 tm10">PROBLEMAS NA INSTALAÇÃO?</aside></li>
                    </ul>
                </section>
            </aside>

            <aside class="span4 tdbls tblrp10" style="height:130px;">
                <div class="as-text1 tblrp10">SUPORTE</div>
                <div class="all-body-text5 line-height-140 tm50" style="padding-left: 10px">Vídeos, tutoriais, manuais e ferramentas de apoio</div>
                <a href="/suporte-trustsign/"><div class="site-body-text2 tblrp10">ACESSAR SUPORTE</div></a>
            </aside>

        </section>
    </section>
</section>
-->