{% load static %}
<section class="featurette" style="display: inline-block; width:100%;">

    <p class="as-text1" style="text-align: center; margin: 20px;">O QUE FAZ NOSSA DIFERENÇA</p>

    <section style=" width:100%; display:inline-block;">
        <ul class="nossa-diferenca">
            <li>
                <div><img src="{% static "home/img/diferenca/nist.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/diferenca/cve.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/diferenca/mpe.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/diferenca/ecommerce-brasil.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/diferenca/protecao.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/diferenca/2roots.png" %}"/></div>
            </li>
        </ul>
    </section>

</section>