{% load static %}
<section class="featurette" style="display: inline-block; width:100%; margin-top: 20px">

    <p class="as-text1 tm30 bm20" style="text-align: center; padding-bottom: 20px;">O QUE FAZ NOSSA DIFERENÇA</p>

    <section style=" width:100%; display:inline-block; margin-bottom: 20px;">
        <ul class="nossa-diferenca">
            <li>
                <div><img src="{% static "home/img/diferenca/nist.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/diferenca/cve.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/diferenca/mpe.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/diferenca/ecommerce-brasil.png" %}"/></div>
            </li>
            <li>
                <div><img src="{% static "home/img/diferenca/protecao.png" %}"/></div>
            </li>
            <li class="suporte-especializado">
                <p>Atendimento Especializado</p>
            </li>
        </ul>
    </section>

</section>