/*.emissao table{
    width: 100%;
}

.emissao th{
    vertical-align: top;
    text-align: left;
}

.emissao td{
    text-align: right;
}
*/
.emissao input[type=text],
.emissao textarea{
    width: 235px;
}

.emissao select, .emissao input[type=file]{
    width: 249px;
}

.emissao .nome input[type=text] {
    width: 109px;
}

.emissao th{
    padding: 10px;
    text-align: right;
    width: 120px;
}

.fqdn-table{
    width: 100%;
    background: #ccc;
    border-spacing: 1px;
    border-collapse: separate;
}

.fqdn-table th, .fqdn-table td{
    text-align: center;
    border-top: none;
    background: #fff;
}
.emissao.th{
    padding: 10px;
}

ul, li{
    list-style: none;
}

ul.errorlist{
    color: #c33;
    font-weight: bold;
}

/*
.escolha-voucher table{
    width: 100%;
    border: 1px solid #bbb;
}

.escolha-voucher th{
    background: #bbb;
}
.escolha-voucher td{
    text-align: center;
}
.escolha-voucher tr:nth-child(even) td{
    background: #efefef;
}
*/

.escolha-voucher .large{
    width: 200px;
}
#windowEscolheEmail td{
    text-align: left;
}

#windowEscolheEmail label{
    display: inline-block;
}

#windowEscolheEmail input[type=radio]{
    margin: 4px
}

.emissao .botoes{
    margin-top: 10px;
    clear: both;
    text-align: center;
    /*width: 390px;*/
    /*float: right;*/
}

/*.emissao .botoes .btn{*/
    /*float: none;*/
/*}*/

.emissao .botoes input[type=button]{
    margin-right: 4px;
    width: 121px;
}