{% extends 'oscar/checkout/payment_details.html' %}
{% load i18n %}
{% load staticfiles %}
{% load currency_filters %}
{% block payment_details %}

    <div class="page-header">
        <h1>{% trans "Enter payment details" %}</h1>
    </div>

    <div class="row bm30">
        <div class="span9">
            <div class="basket-title">
                <div class="row-fluid">
                    <h4 class="span6">Descrição dos produtos</h4>
                    <h4 class="span2">{% trans "Quantity" %}</h4>
                    <h4 class="span2">{% trans "Price" %}</h4>
                    <h4 class="span2">{% trans "Total" %}</h4>
                </div>
            </div>
            {% for line in basket.all_lines %}
                <div class="basket-items">
                    <div class="row-fluid">
                        <div class="span6">
                            {#                            <h4>{{ line.product.stockrecord.partner.name }}</h4>#}
                            <h4><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h4>
                        </div>
                        <div class="span2">
                            <p class="price_color price_total">{{ line.quantity }}</p>
                        </div>
                        <div class="span2">
                            <p class="price_color price_total">{{  line.unit_price_incl_tax|currency }}</p>
                        </div>
                        <div class="span2">
                            <p class="price_color price_total">{{ line.line_price_incl_tax|currency }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="span3" style="margin-left: 1px; width: 201px;">
            <div class="basket-title hidden-phone">
                <div class="row-fluid">
                    <h4 class="span12 align-right">RESUMO DO CARRINHO</h4>
                </div>
            </div>
            <div id="total">
                <h4>
                    Total
                </h4>
                <h3>{{ basket.total_incl_tax|currency }}</h3>
{#                <button class="btn btn-orange btn-block" onclick="$('#form-compra').submit()">Concluir</button>#}
                <br><br><br>
                <a href="{% url 'basket:summary' %}" class="pull-right tm10">Editar pedido</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    {% block payment_details_content %}
        {% include 'checkout/akatus/payment_details_content.html' %}
    {% endblock %}




{% endblock payment_details %}

{% block extrascripts %}
    <script src="{% static 'ecommerce/js/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'ecommerce/js/custom.js' %}"></script>
{% endblock %}