{% extends 'oscar/checkout/payment_details.html' %}
{% load i18n %}
{% load currency_filters %}
{% block payment_details %}

    <div class="page-header">
        <h1>{% trans "Enter payment details" %}</h1>
    </div>

    <h3>{% trans "Order contents" %}</h3>
    <div class="row bm30">
        <div class="span9">
            <div class="basket-title">
                <div class="row-fluid">
                    <h4 class="span8">{% trans "Items in basket" %}</h4>
                    <h4 class="span2 align-center">{% trans "Quantity" %}</h4>
                    <h4 class="span2">{% trans "Price" %}</h4>
                </div>
            </div>
            {% for line in basket.all_lines %}
                <div class="basket-items">
                    <div class="row-fluid">
                        <div class="span8">
{#                            <h4>{{ line.product.stockrecord.partner.name }}</h4>#}
                            <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                        </div>
                        <div class="span2 align-center">
                            <h3>{{ line.quantity }}</h3>
                        </div>
                        <div class="span2">
                            <h3>{{ line.line_price_incl_tax|currency }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="span3">
            <div class="basket-title hidden-phone">
                <div class="row-fluid">
                    <h4 class="span12">RESUMO DO PEDIDO </h4>
                </div>

            </div>
            <div id="total">
                <h4>
                    Total
                </h4>
                <h3>{{ basket.total_incl_tax|currency }}</h3>
                <a href="{% url 'basket:summary' %}" class="btn btn-large btn-block">Editar pedido</a>
            </div>
        </div>
    </div>


    {% block payment_details_content %}

        <div class="accordion" id="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Cartão de crédito
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <form action="{% url 'checkout:preview' %}" class="form-horizontal" method="post">
                            <div class="">
                                {% csrf_token %}
                                {% include 'partials/form_fields.html' with form=bankcard_form %}
                                {#<div class="alert alert-warning">#}
                                {#<h4>{% trans "Demo site help" %}</h4>#}
                                    {#<p>{% trans "You can use a magic card number of 1000010000000007 together with an CVV number." %}</p>#}
                                {#</div>#}
                            </div>
                            <button type="submit" class="pull-right btn btn-orange btn-large">Confirmar pagamento</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Boleto bancário
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Conteúdo para boleto
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Transferência bancária
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Conteúdo para transferência
                    </div>
                </div>
            </div>
        </div>



    {% endblock %}




{% endblock payment_details %}
