{% extends 'oscar/checkout/payment_details.html' %}
{% load i18n %}
{% load staticfiles %}
{% load currency_filters %}
{% block payment_details %}

    <div class="page-header">
        <h1>{% trans "Enter payment details" %}</h1>
    </div>

    <h3>{% trans "Order contents" %}</h3>
    <div class="row bm30">
        <div class="span9">
            <div class="basket-title">
                <div class="row-fluid">
                    <h4 class="span6">{% trans "Items in basket" %}</h4>
                    <h4 class="span2 align-right">{% trans "Quantity" %}</h4>
                    <h4 class="span2 align-right">{% trans "Price" %}</h4>
                    <h4 class="span2 align-right">{% trans "Total" %}</h4>
                </div>
            </div>
            {% for line in basket.all_lines %}
                <div class="basket-items">
                    <div class="row-fluid">
                        <div class="span6">
{#                            <h4>{{ line.product.stockrecord.partner.name }}</h4>#}
                            <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                        </div>
                        <div class="span2  align-right">
                            <h3>{{ line.quantity }}</h3>
                        </div>
                        <div class="span2 align-right">
                            <h3>{{  line.unit_price_incl_tax|currency }}</h3>
                        </div>
                        <div class="span2 align-right">
                            <h3>{{ line.line_price_incl_tax|currency }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="span3" style="margin-left: 1px; width: 201px;">
            <div class="basket-title hidden-phone">
                <div class="row-fluid">
                    <h4 class="span12 align-right">RESUMO DO CARRINHO</h4>
                </div>
            </div>
            <div id="total">
                <h4>
                    Total
                </h4>
                <h3>{{ basket.total_incl_tax|currency }}</h3>
                <a href="{% url 'basket:summary' %}" class="btn btn-large btn-orange btn-block">FINALIZAR COMPRA</a>
                <a href="{% url 'basket:summary' %}" class="pull-right tm10">Editar pedido</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    {% block payment_details_content %}

        <div class="accordion" id="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Cartão de crédito
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <form action="{% url 'checkout:preview' %}" class="form-horizontal" method="post">
                            <input type="hidden" name="source-type" value="credito" />
                            <div class="">
                                {% csrf_token %}
                                {% include 'partials/form_fields.html' with form=bankcard_form %}
                                {#<div class="alert alert-warning">#}
                                {#<h4>{% trans "Demo site help" %}</h4>#}
                                    {#<p>{% trans "You can use a magic card number of 1000010000000007 together with an CVV number." %}</p>#}
                                {#</div>#}
                            </div>
                            <button type="submit" class="pull-right btn btn-orange btn-large">Concluir compra</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Boleto bancário
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <form action="{% url 'checkout:preview' %}" class="form-horizontal" method="post">
                            <input type="hidden" name="source-type" value="boleto" />
                            <button type="submit" class="pull-right btn btn-orange btn-large">Concluir compra</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Cartão de Débito / Débito em conta
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <p>Para débito em conta, o banco nos envia uma confirmação de pagamento em até <strong>dois dias íteis</strong>.</p>
                        <p>Após essa confirmação o pedido é liberado para emissão.</p>
                        <p>Escolha seu banco abaixo, e ao confirmar sua compra, você será encaminhado para uma página do banco, onde deverá fazer o pagamento online.</p>



                        <form action="{% url 'checkout:preview' %}" class="form-inline">
                                <input type="hidden" name="source-type" value="debito" />
                                <button type="submit" class="pull-right btn btn-orange btn-large">Concluir compra</button>

                                <label>
                                    <input type="radio" name="banco" value="bb"/>
                                    <img src="{% static 'home/img/payment/thumb_bb.gif' %}" alt=""/>
                                </label>

                                <label>
                                    <input type="radio" name="banco" value="itau"/>
                                    <img src="{% static 'home/img/payment/thumb_itau.gif' %}" alt=""/>
                                </label>

                                <label>
                                    <input type="radio" name="banco" value="bradesco"/>
                                    <img src="{% static 'home/img/payment/thumb_bradesco.gif' %}" alt=""/>
                                </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    {% endblock %}




{% endblock payment_details %}
