{% extends 'certificados/wizard_base.html' %}
{% load static %}

{% block coluna-esquerda %}
    {% include 'certificados/includes/dados_cliente.html' %}
    {% include 'certificados/includes/form_callback.html' %}
{% endblock %}

{% block coluna-direita %}

    <h2>Dados Específicos do Produto Escolhido</h2>

    {{ form.non_field_errors }}

    <table>
        {% include 'certificados/includes/dados_produto.html' %}
        {% if form.precisa_carta_cessao %}
            <tr><th>Carta de Cessão:</th><td>{{ form.emission_assignment_letter}} {{ form.emission_assignment_letter.errors }}
                <a href="/static/portal/documentos/carta-de-cessao.pdf" target="_blank">Documento Modelo</a></td></tr>
        {% endif %}
        <tr><th>E-mail para validação do domínio:</th><td class="emails-validacao">{{ form.emission_dcv_emails }} {{ form.emission_dcv_emails.errors }} <a href="/portal/suporte-trustsign/metodos-alternativos-de-validacao-de-dominio/" target="_blank">Não tenho acesso a nenhum dos e-mails acima</a></td></tr>
        <tr><th>E-mail para envio do certificado:</th><td>{{ form.emission_publickey_sendto }} {{ form.emission_publickey_sendto.errors }}</td></tr>
        <tr><th>Tipo do Servidor:</th><td>{{ form.emission_server_type }} {{ form.emission_server_type.errors }}</td></tr>
    </table>
    {{ form.emission_url }}
    {{ form.emission_csr }}
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script>window.sem_tabela=true;</script>
    <script src="{% static "certificados/js/certificados.js" %}"></script>
{% endblock %}