{% extends 'pages/product.html' %}

{% block price %}
{#    <div class="box-price tblrp10 well pull-right tm30">#}
{#        <h3 class="textac">3 anos</h3>#}
{#        <h2 class="textac price-color">R$ {{ precos.na.term3years.price_tpl.0 }},<sub>{{ precos.na.term3years.price_tpl.1 }}</sub></h2>#}
{#        <a href="" data-comprar-produto="{{ product_code }}" data-line="na" data-term="3years" class="btn btn-orange">Comprar</a>#}
{#    </div>#}
{#    <div class="box-price tblrp10 well pull-right tm30">#}
{#        <h3 class="textac">2 anos</h3>#}
{#        <h2 class="textac price-color">R$ {{ precos.na.term2years.price_tpl.0 }},<sub>{{ precos.na.term2years.price_tpl.1 }}</sub></h2>#}
{#        <a href="" data-comprar-produto="{{ product_code }}" data-line="na" data-term="2years" class="btn btn-orange">Comprar</a>#}
{#    </div>#}
{#    <div class="box-price tblrp10 well pull-right tm30">#}
{#        <h3 class="textac">1 ano</h3>#}
{#        <h2 class="textac price-color">R$ {{ precos.na.term1year.price_tpl.0 }},<sub>{{ precos.na.term1year.price_tpl.1 }}</sub></h2>#}
{#        <a href="" data-comprar-produto="{{ product_code }}" data-line="na" data-term="1year" class="btn btn-orange">Comprar</a>#}
{#    </div>#}

    <div id="product-price" class="container" style="margin-top: 30px">

        <div>
            <div class="tabbable tabs-left" style="width: 246px;">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#lA" data-toggle="tab">1 ano</a></li>
                <li><a href="#lB" data-toggle="tab">2 anos</a></li>
                <li><a href="#lC" data-toggle="tab">3 anos</a></li>
              </ul>
              <div class="tab-content" style="width: 146px">
                <div class="tab-pane " id="lC">
                    <div class="box-price tblrp10" style="width: 130px">
                        <h3>R$ {{ precos.na.term3years.price_tpl.0 }},<sup>{{ precos.na.term3years.price_tpl.1 }}</sub></h3>
                        Economize {{ precos.na.term3years.discount }}%
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="na" data-term="3years" class="btn btn-orange" style="margin-left: -54px"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar</a>
                    </div>
                </div>
                <div class="tab-pane" id="lB">
                    <div class="box-price tblrp10" style="width: 130px">
                        <h3>R$ {{ precos.na.term2years.price_tpl.0 }},<sup>{{ precos.na.term2years.price_tpl.1 }}</sup></h3>
                        Economize {{ precos.na.term2years.discount }}%
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="na" data-term="2years" class="btn btn-orange" style="margin-left: -54px"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar</a>
                    </div>
                </div>
                <div class="tab-pane active" id="lA">
                    <div class="box-price tblrp10" style="width: 130px">
                        <h3>R$ {{ precos.na.term1year.price_tpl.0 }},<sup>{{ precos.na.term1year.price_tpl.1 }}</sup></h3>
                        <a href="" data-comprar-produto="{{ product_code }}" data-line="na" data-term="1year" class="btn btn-orange" style="margin-left: -54px"><img style="margin-top: -4px;" alt="" src="{% static "home/img/icons/cart-white.png" %}" class="custom-icon" width="14"> Adicionar</a>
                    </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div id="comprar-message"></div>

        </div>
    </div>
{% endblock %}
{% block linhas_ssl %}{% endblock %}