<h3>Dados do cliente para emissão</h3>
<table>
    <tr><th>CNPJ:</th><td><input type="text" value="{{ voucher.cliente_cnpj }}" disabled="disabled"/></td></tr>
    <tr><th>Razão Social:</th><td><input type="text" value="{{ voucher.cliente_razaosocial }}" disabled="disabled"/></td></tr>
    <tr><th>Logradouro:</th><td><input type="text" value="{{ voucher.cliente_logradouro }}" disabled="disabled"/></td></tr>
    <tr><th>Número:</th><td><input type="text" value="{{ voucher.cliente_numero }}" disabled="disabled"/></td></tr>
    <tr><th>Complemento:</th><td><input type="text" value="{{ voucher.cliente_complemento }}" disabled="disabled"/></td></tr>
    <tr><th>Bairro:</th><td><input type="text" value="{{ voucher.cliente_bairro }}" disabled="disabled"/></td></tr>
    <tr><th>Cidade:</th><td><input type="text" value="{{ voucher.cliente_cidade }}" disabled="disabled"/></td></tr>
    <tr><th>UF:</th><td><input type="text" value="{{ voucher.cliente_uf }}" disabled="disabled"/></td></tr>
    <tr><th>CEP:</th><td><input type="text" value="{{ voucher.cliente_cep }}" disabled="disabled"/></td></tr>
    <tr><th>Situação Cadastral:</th><td><input type="text" value="{{ voucher.cliente_situacao_cadastral }}" disabled="disabled"/></td></tr>
</table>