<h2>Dados de Callback</h2>
<table>
    <tr class="nome"><th>Nome:</th><td><input type="text" value="{{ voucher.customer_callback_firstname }}" disabled="disabled"/>
    <input type="text" value="{{ voucher.customer_callback_lastname }}" disabled="disabled"/></td></tr>
    <tr><th>E-mail:</th><td><input type="text" value="{{ voucher.customer_callback_email }}" disabled="disabled"/></td></tr>
    <tr><th>Telefone Fixo:</th><td><input type="text" value="{{ voucher.customer_callback_phone }}" disabled="disabled"/></td></tr>
    <tr><th>Observação:</th><td><input type="text" value="{{ voucher.customer_callback_note }}" disabled="disabled"/></td></tr>
</table>