<h3>Dados do cliente para emissão</h3>
<table>
    <tr><th>CNPJ:</th><td><input type="text" value="{{ voucher.customer_cnpj }}" disabled="disabled"/></td></tr>
    <tr><th>Razão Social:</th><td><input type="text" value="{{ voucher.customer_companyname }}" disabled="disabled"/></td></tr>
    <tr><th>Logradouro:</th><td><input type="text" value="{{ voucher.customer_address1 }}" disabled="disabled"/></td></tr>
    <tr><th>Número:</th><td><input type="text" value="{{ voucher.customer_address2 }}" disabled="disabled"/></td></tr>
    <tr><th>Complemento:</th><td><input type="text" value="{{ voucher.customer_address3 }}" disabled="disabled"/></td></tr>
    <tr><th>Bairro:</th><td><input type="text" value="{{ voucher.customer_address4 }}" disabled="disabled"/></td></tr>
    <tr><th>Cidade:</th><td><input type="text" value="{{ voucher.customer_city }}" disabled="disabled"/></td></tr>
    <tr><th>UF:</th><td><input type="text" value="{{ voucher.customer_state }}" disabled="disabled"/></td></tr>
    <tr><th>CEP:</th><td><input type="text" value="{{ voucher.customer_zip }}" disabled="disabled"/></td></tr>
    <tr><th>Situação Cadastral:</th><td><input type="text" value="{{ voucher.customer_registration_status }}" disabled="disabled"/></td></tr>
</table>