<h3>Dados de Callback</h3>
<table>
    <tr class="nome"><th>Nome:</th><td><input type="text" value="{{ voucher.cliente_callback_nome }}" disabled="disabled"/>
    <input type="text" value="{{ voucher.cliente_callback_sobrenome }}" disabled="disabled"/></td></tr>
    <tr><th>E-mail:</th><td><input type="text" value="{{ voucher.cliente_callback_email }}" disabled="disabled"/></td></tr>
    <tr><th>Telefone Fixo:</th><td><input type="text" value="{{ cliente_callback_telefone }}" disabled="disabled"/></td></tr>
    <tr><th>Observação:</th><td><input type="text" value="{{ cliente_callback_observacao }}" disabled="disabled"/></td></tr>
</table>