<div id="windowEscolheEmail" class="modal hide" tabindex="-1" role="dialog">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>Escolha os e-mails de validação para o FQDN.</h3>
    </div>
    <div class="modal-body">
        <span class="dominio"></span>
        <table>
            <tr><th rowspan="5">E-mail</th>
                <td><input type="radio" name="email" id="email1"><label class="email-1" for="email1"></label></td>
            </tr>
            <tr><td><input type="radio" name="email" id="email2"><label class="email-2" for="email2"></label></td></tr>
            <tr><td><input type="radio" name="email" id="email3"><label class="email-3" for="email3"></label></td></tr>
            <tr><td><input type="radio" name="email" id="email4"><label class="email-4" for="email4"></label></td></tr>
            <tr><td><input type="radio" name="email" id="email5"><label class="email-5" for="email5"></label></td></tr>
            <tr><td colspan="2"><a href="">Não tenho acesso a nenhum dos e-mails acima</a></td></tr>
        </table>
    </div>
    <div class="modal-footer">
        <a class="prev-icon" href="#">Anterior</a> - <a class="next-icon" href="#">Próximo</a>
        <a href="#" class="btn" data-dismiss="modal">Ok</a>
    </div>
</div>