<h2>Dados de Callback</h2>
<table>
    <tr class="nome"><th>Nome:</th><td>
        <input type="text" disabled="disabled" value="{{ dados_form2.callback_nome }}"/>
        <input type="text" disabled="disabled" value="{{ dados_form2.callback_sobrenome }}"/>
    </td></tr>
    <tr><th>E-mail:</th><td><input type="text" disabled="disabled" value="{{ dados_form2.callback_email }}"/></td></tr>
    <tr><th>Telefone fixo:</th><td><input type="text" disabled="disabled" value="{{ dados_form2.callback_telefone }}"/></td></tr>
    <tr><th>Observação:</th><td><input type="text" disabled="disabled" value="{{ dados_form2.callback_observacao }}"/></td></tr>
</table>