{% extends 'certificados/wizard_base.html' %}

{% block coluna-esquerda %}
    {% include 'certificados/includes/dados_cliente.html' %}
{% endblock %}

{% block coluna-direita %}
    <h3>Dados Específicos do Produto Escolhido</h3>
    {{ form.non_field_errors }}

    <table class="emissao">
        {% include 'certificados/includes/dados_produto.html' %}

    </table>

    <h3>Dados de Callback</h3>

    <table class="emissao">
        <tr class="nome"><th>Nome</th><td>{{ form.callback_nome }} {{ form.callback_sobrenome }}
            {{ form.callback_nome.errors }}{{ form.callback_sobrenome.errors }}</td></tr>
        <tr><th>e-mail Corporativo</th><td>{{ form.callback_email }} {{ form.callback_email.errors }}</td></tr>
        <tr><th>Telefone fixo</th><td>{{ form.callback_telefone }} {{ form.callback_telefone.errors }}</td></tr>
        <tr><th>Observação</th><td>{{ form.callback_observacao }} {{ form.callback_observacao.errors }}</td></tr>
        <tr><th>Doc Identif. c/ Foto</th><td>{{ form.emission_id }} {{ form.emission_id.errors }}</td></tr>
        <tr><th>Senha p/ Revogação*</th><td>{{ form.emission_revoke_password }} {{ form.emission_revoke_password.errors }}</td></tr>
        <tr><th>Confirmação</th><td>{{ form.callback_password_validacao }} {{ form.callback_password_validacao.errors }}</td></tr>
    </table>
    <i class="pull-right">Sem esta senha será impossivel revogar o certificado no futuro</i>
{% endblock %}