{% extends 'pages/page.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block one_row %}
    <div class="span9">

        <h1 style="line-height: 1.5">O ESPECIALISTA TRUSTSIGN ORIENTA VOCÊ A ENCONTRAR A MELHOR SOLUÇÃO PARA SEU NEGÓCIO</h1>
        <p>Você pode voltar a qualquer pergunta a qualquer momento, clicando na pergunta desejada</p>

        <div class="tabbable tabs-melhor-solucao" style="margin-top: 65px;">

            <ul class="nav nav-tabs perguntas ativa-1">
                <li class="pergunta-1"><a href="#tab-pergunta-1" data-toggle="tab"><b>JÁ TEM UM SITE?</b><i></i></a><span>&nbsp;</span></li>
                <li class="pergunta-2"><a href="#tab-pergunta-2" data-toggle="tab"><b>É UM E-COMMERCE?</b><i></i></a><span>&nbsp;</span></li>
                <li class="pergunta-3"><a href="#tab-pergunta-3" data-toggle="tab"><b>É UM WEBMAIL?</b><i></i></a><span>&nbsp;</span></li>
                <li class="pergunta-4"><a href="#tab-pergunta-4" data-toggle="tab"><b>É UMA APLICAÇÃO WEB?</b><i></i></a><span>&nbsp;</span></li>
                <li class="pergunta-5"><a href="#tab-pergunta-5" data-toggle="tab"><b>É ASSINATURA DE CÓDIGO?</b><i></i></a><span>&nbsp;</span></li>
                <li class="pergunta-final hidden"><a href="#tab-final" data-toggle="tab"></a></li>
                <li class="linha-pergunta-bg"><div class="linha-pergunta-concluida"></div></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab-pergunta-1">
                    <div class="pergunta">
                        <p>JÁ TEM UM SITE?</p>
                        <a class="btn btn-primary span1" id="btn-p1-sim">SIM</a>
                        <a class="btn btn-primary span1" id="btn-p1-nao">NÃO</a>
                    </div>
                </div>
                <div class="tab-pane" id="tab-pergunta-2">
                    <div class="pergunta">
                        <p>É UM E-COMMERCE?</p>
                        <a class="btn btn-primary span1" id="btn-p2-sim">SIM</a>
                        <a class="btn btn-primary span1" id="btn-p2-nao">NÃO</a>
                    </div>
                    <div class="resposta">
                        <h2>A MELHOR SOLUÇÃO PARA SEU E-COMMERCE:</h2>

                        <div class="row-fluid">
                            <div class="span6">
                                <h3 class="title">SEU E-COMMERCE PRECISA SER CONFIÁVEL PARA SEUS CLIENTES</h3>

                                <div>
                                    <a href="{% url 'page' 'certificado-digital/ssl' %}"><h3 class="tm20">SSL</h3></a>
                                    <p class="all-body-text5 bp10">Autenticidade e Confiabilidade para aplicações e negócios na web</p>
                                    <a href="{% url 'page' 'certificado-digital/ssl' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>

                                <div>
                                    <a href="{% url 'page' 'certificado-digital/ssl-ev' %}"><h3 class="tm20">EV (Extended Validation) SSL</h3></a>
                                    <p class="all-body-text5 bp10">Nível de Segurança ainda maior com barra verde</p>
                                    <a href="{% url 'page' 'certificado-digital/ssl-ev' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>
                            </div>

                            <div class="span6">
                                <h3 class="title">ADICIONE UM ALTO NÍVEL DE PROTEÇÃO PARA SEU NEGÓCIO NA WEB</h3>

                                <div>
                                    <a href="{% url 'page' 'site-mais-seguro' %}"><h3 class="tm20">Site + Seguro</h3></a>
                                    <p class="all-body-text5 bp10">Análises diárias para identificar vulnerabilidades em seu e-commerce ou website</p>
                                    <a href="{% url 'page' 'site-mais-seguro' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>
								
								 <div>
                                    <a href="{% url 'page' 'site-monitorado' %}"><h3 class="tm20">Site Protegido</h3></a>
                                    <p class="all-body-text5 bp10">Solução WAF para monitoramento e bloqueio de ataques em tempo real</p>
                                    <a href="{% url 'page' 'site-monitorado' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>
								
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="tab-pergunta-3">
                    <div class="pergunta">
                        <p>É UM WEBMAIL?</p>
                        <a class="btn btn-primary span1" id="btn-p3-sim">SIM</a>
                        <a class="btn btn-primary span1" id="btn-p3-nao">NÃO</a>
                    </div>
                    <div class="resposta">
                        <h2>A MELHOR SOLUÇÃO PARA SEU WEBMAIL:</h2>

                        <h3 class="title">Seu webmail precisa ser protegido!</h3>

                        <div class="row-fluid">
                            <div class="span6">
                                <div>
                                    <a href="{% url 'page' 'certificado-digital/ssl' %}"><h3 class="tm20">SSL</h3></a>
                                    <p class="all-body-text5 bp10">Autenticidade e Confiabilidade para aplicações e negócios na web</p>
                                    <a href="{% url 'page' 'certificado-digital/ssl' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>
                            </div>
                            <div class="span6">

                                <div>
                                    <a href="{% url 'page' 'certificado-digital/ssl-san' %}"><h3 class="tm20">SAN SSL</h3></a>
                                    <p class="all-body-text5 bp10">Garanta a funcionalidade de seu Exchange com FQDNs em um único certificado</p>
                                    <a href="{% url 'page' 'certificado-digital/ssl-san' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="tab-pane" id="tab-pergunta-4">
                    <div class="pergunta">
                        <p>É UMA APLICAÇÃO WEB?</p>
                        <a class="btn btn-primary span1" id="btn-p4-sim">SIM</a>
                        <a class="btn btn-primary span1" id="btn-p4-nao">NÃO</a>
                    </div>
                    <div class="resposta">
                        <h2>A MELHOR SOLUÇÃO PARA SUA APLICAÇÃO WEB:</h2>

                        <div class="row-fluid">
                            <div class="span6">
                                <h3 class="title">SUA APLICAÇÃO WEB PRECISA DE CONFIANÇA PARA SEUS CLIENTES</h3>

                                <div>
                                    <a href="{% url 'page' 'certificado-digital/ssl' %}"><h3 class="tm20">SSL</h3></a>
                                    <p class="all-body-text5 bp10">Autenticidade e Confiabilidade para aplicações e negócios na web</p>
                                    <a href="{% url 'page' 'certificado-digital/ssl' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>

                                <div>
                                    <a href="{% url 'page' 'certificado-digital/ssl-ev' %}"><h3 class="tm20">EV (Extended Validation) SSL</h3></a>
                                    <p class="all-body-text5 bp10">Nível de Segurança ainda maior com barra verde</p>
                                    <a href="{% url 'page' 'certificado-digital/ssl-ev' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>

                                <div>
                                    <a href="{% url 'page' 'certificado-digital/ssl-mdc' %}"><h3 class="tm20">MDC SSL</h3></a>
                                    <p class="all-body-text5 bp10">Certifique múltiplos domínios com um único certificado</p>
                                    <a href="{% url 'page' 'certificado-digital/ssl-mdc' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>

                                <div>
                                    <a href="{% url 'page' 'certificado-digital/ssl-ev-mdc' %}"><h3 class="tm20">EV MDC SSL</h3></a>
                                    <p class="all-body-text5 bp10">Certifique até 100 domínios com um único certificado EV</p>
                                    <a href="{% url 'page' 'certificado-digital/ssl-ev-mdc' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>

                                <div>
                                    <a href="{% url 'page' 'certificado-digital/ssl-wildcard' %}"><h3 class="tm20">Wildcard SSL</h3></a>
                                    <p class="all-body-text5 bp10">Certifique infinitos subdomínios com um único certificado</p>
                                    <a href="{% url 'page' 'certificado-digital/ssl-wildcard' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>
                            </div>
                            <div class="span6">
                                <h3 class="title">ADICIONE UM ALTO NÍVEL DE PROTEÇÃO PARA SEU NEGÓCIO NA WEB</h3>

                                <div>
                                    <a href="{% url 'page' 'site-mais-seguro' %}"><h3 class="tm20">Site + Seguro</h3></a>
                                    <p class="all-body-text5 bp10">Análise diária de milhares de vulnerabilidades e relatórios detalhados sobre como aplicar correções</p>
                                    <a href="{% url 'page' 'site-mais-seguro' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="tab-pane" id="tab-pergunta-5">
                    <div class="pergunta">
                        <p>É ASSINATURA DE CÓDIGO?</p>
                        <a class="btn btn-primary span1" id="btn-p5-sim">SIM</a>
                        <a class="btn btn-primary span1" id="btn-p5-nao">NÃO</a>
                    </div>
                    <div class="resposta">
                        <h2>A MELHOR SOLUÇÃO PARA SUA APLICAÇÃO WEB:</h2>
                        <h3 class="title">SUA APLICAÇÃO WEB PRECISA TRANSMITIR CONFIANÇA PARA OS USUÁRIOS!</h3>

                        <div class="">

                            <div class="row-fluid">
                                <div class="span6">
                                    <a href="{% url 'page' 'certificado-digital/ssl-cs' %}"><h3 class="tm20">CODE SIGNING</h3></a>
                                    <p class="all-body-text5 bp10">Mais confiabilidade em downloads para os diversos códigos </p>
                                    <a href="{% url 'page' 'certificado-digital/ssl-cs' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>

                                <div class="span6">
                                    <a href="{% url 'page' 'certificado-digital/ssl-jre' %}"><h3 class="tm20">JRE</h3></a>
                                    <p class="all-body-text5 bp10">Mais confiabilidade em downloads para os códigos JAVA</p>
                                    <a href="{% url 'page' 'certificado-digital/ssl-jre' %}" class="btn btn-orange">Conheça e compre</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="tab-final">
                    <h2>ENTRE EM CONTATO AGORA PARA O ESPECIALISTA TRUSTSIGN ENTENDER SEU NEGÓCIO. ESCOLHA UM DOS CANAIS AO LADO:</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <img src="{% static "melhor_solucao/img/melhor_solucao.jpg" %}" alt="" class="tm10 bm30" />
        <section class="left-menu hidden" style="white-space: nowrap;">
            <aside>
                <i class="icon-reciever" style="margin-left: 0; margin-right: 15px;"></i> LIGUE: <b>(11) 3729-3945</b></aside>
            <aside>
                <i class="icon-laptop"></i> <a href="{% url 'page' 'suporte-trustsign/atendimento-por-e-mail' %}" style="color:#000000;"><span>ATENDIMENTO <b>ONLINE</b></span></a>
            </aside>
            <aside class="atendimento-email">
                <i class="icon-arroba"></i>
                <a href="{% url 'page' 'suporte-trustsign/atendimento-por-e-mail' %}" style="color:#000000;">ATENDIMENTO <b>POR E-MAIL</b></a>
            </aside>
            <aside>
                <i class="icon-microphone"></i>
                <a href="{% url 'page' 'suporte-trustsign/ligamos-para-voce' %}" style="color:#000000;">LIGAMOS <b>PARA VOCÊ</b></a>
            </aside>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "melhor_solucao/js/melhor_solucao.js" %}" type="text/javascript"></script>
{% endblock %}