{% extends 'certificados/wizard_base.html' %}
{% load static %}

{% block content %}
    <div class="fix-row-margin escolha-voucher">
        <h2>Escolha o produto disponível e a ação desejada</h2>
        {% if vouchers %}
            {% include "certificados/includes/filter_form.html" %}
            <table class="table table-bordered table-striped table-vcenter">
                <tr>
                    <th class="large">Produto</th>
                    <th>Linha</th>
                    <th>Validade</th>
                    <th>Saldo</th>
                    <th>Pedido</th>
                    <th>Meu Cliente?</th>
                    <th>Status / Ação</th>
                </tr>

                {% for voucher in vouchers %}
                    <tr data-product-code="{{ voucher.ssl_product }}" data-status="{% if voucher.emissao.is_complemento_disponivel %}disponivel{% else %}utilizado{% endif %}" data-line="{{ voucher.get_ssl_line_display }}" data-term="{{ voucher.get_ssl_term_display }}">
                        <td>{{ voucher.get_ssl_product_display }}</td>
                        <td>{{ voucher.get_ssl_line_display }}</td>
                        <td>{{ voucher.get_ssl_term_display }}</td>
                        <td class="saldo">1</td>
                        <td>
                            {% if not voucher.emissao.is_complemento_certificado %}
                                {{ voucher.order_number }}
                            {% endif %}
                        </td>
                        <td>
                            {% if voucher.is_my_cliente %}
                                <img src="{% static "home/img/table-warning.png" %}" alt=""/>
                            {% endif %}
                        </td>
                        <td width="70">
                            {% with emissao=voucher.emissao %}
                                {% if not emissao %}
                                    {% if voucher.has_emissao_url %}
                                        {% if perms.certificados.issue_all_vouchers or perms.certificados.issue_client_vouchers and voucher.is_my_client %}
                                            {% if voucher.ssl_product == 'ssl-san' %}
                                                <a class="btn btn-success span1 no-uppercase" style="margin: 0" href="/portal/suporte-trustsign/emissao-de-certificado-tipo-san/">EMITIR</a>
                                            {% else %}
                                                <a class="btn btn-success span1 no-uppercase" style="margin: 0" href="{{ voucher.get_emissao_url }}">EMITIR</a>
                                            {% endif %}
                                        {% else %}
                                            Sem Autorização
                                        {% endif %}
                                    {% endif %}
                                {% elif emissao.em_processamento %}
                                    Em processamento
                                {% elif emissao.emitido %}

                                    {% if perms.certificados.issue_all_vouchers or perms.certificados.issue_client_vouchers and voucher.is_my_client %}

                                        <div class="btn-group btn-block">
                                            <button class="btn dropdown-toggle span2 btn-success no-uppercase" style="margin: 0" data-toggle="dropdown">Ação <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ voucher.get_reemissao_url }}">Reemitir</a></li>
                                                <li><a href="{{ voucher.get_revogacao_url }}">Revogar</a></li>
                                                <li><a href="{{ voucher.get_sealcode_url }}">HTML Selo</a></li>
                                                <li><a href="{{ voucher.get_publickey_url }}">Certificado</a></li>
                                            </ul>
                                        </div>

                                    {% endif %}

                                {% else %}
                                    {{ emissao.get_emission_status_display }}
                                {% endif %}

                            {% endwith %}
                            {# Para tratar o status dos FQDNs, Domínios e Servidores Adicionais #}
                            {% if voucher.is_complemento_disponivel %}
                                Disponível para uso
                            {% elif voucher.is_complemento_utilizado %}
                                Já utilizado
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </table>

            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}&hide_status_final={{ request.GET.hide_status_final }}">anterior</a>
                        {% endif %}
                        <span class="page-current">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}&hide_status_final={{ request.GET.hide_status_final }}">próximo</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}

        {% else %}
            {% if request.GET.q %}
                {% include "certificados/includes/filter_form.html" %}
                <a href="/ecommerce/escolha-voucher/" class="btn span2 pull-right">Voltar</a>
                <h3>Nenhum certificado encontrado para o CPNJ {{ request.GET.q }}</h3>
            {% else %}
                <p>Você ainda não possui certificados para emitir.
                    Se você acabou de realizar a compra, aguarde alguns instantes após o pagamento ter sido aprovado.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script type="application/javascript">
        $(function(){

            var $products = $('[data-product-code=ssl-ev-mdc-domain],[data-product-code=ssl-mdc-domain], [data-product-code=ssl-san-fqdn]');


            for(var i=0; i < $products.length; i++){

                var prod_code = $products.eq(i).data('product-code');
                var prod_status = $products.eq(i).data('status');
                var prod_line = $products.eq(i).data('line');
                var prod_term = $products.eq(i).data('term');

                for(var j=i+1; j < $products.length; j++){

                    if(prod_code == $products.eq(j).data('product-code'))
                        if(prod_status == $products.eq(j).data('status'))
                            if(prod_line == $products.eq(j).data('line'))
                                if(prod_term == $products.eq(j).data('term')){
                                    $products.eq(j).remove();
                                    $products.eq(i).find('.saldo').text(parseInt($products.eq(i).find('.saldo').text()) + 1);
                                }

                }
            }

        });
    </script>
{% endblock %}
