{% extends 'certificados/wizard_base.html' %}
{% load static %}

{% block content %}
    <div class="fix-row-margin escolha-voucher">
        <h2>Escolha o produto disponível e a ação desejada</h2>
        {% if vouchers %}
        <table class="table table-bordered table-striped">
            <tr>
                <th class="large">Produto</th>
                <th>Linha</th>
                <th>Validade</th>
                <th>Saldo</th>
                <th>Expira em</th>
                <th></th>
            </tr>

                {% for voucher in vouchers %}
                    <tr>
                        <td>{{ voucher.get_ssl_product_display }}</td>
                        <td>{{ voucher.get_ssl_line_display }}</td>
                        <td>{{ voucher.get_ssl_term_display }}</td>
                        <td>1 {# TODO: como calcular saldo voucher? #}</td>
                        <td>{{ voucher.ssl_valid_to|date:"d/m/Y" }}</td>
                        <td>
                        {% with emissao=voucher.emissao %}


                            {% if not emissao %}
                                {% if voucher.has_emissao_url %}
                                    <a class="btn btn-inverse btn-primary btn-block no-uppercase" href="{{ voucher.get_emissao_url }}">Emitir</a>
                                {% endif %}
                            {% elif emissao.em_processamento %}
                                Em processamento
                            {% elif emissao.emitido %}

                                <div class="btn-group btn-block">
                                    <button class="btn dropdown-toggle btn-block btn-primary no-uppercase" data-toggle="dropdown">Ação <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ voucher.get_reemissao_url }}">Reemitir</a></li>
                                        <li><a href="{{ voucher.get_revogacao_url }}">Revogar</a></li>
                                        <li><a href="{{ voucher.get_sealcode_url }}">HTML Selo</a></li>
                                        <li><a href="{{ voucher.get_publickey_url }}">Certificado</a></li>
                                    </ul>
                                </div>

                            {% endif %}
                        {% endwith %}
                        </td>
                    </tr>
                {% endfor %}

            </table>

        {% else %}
            <p>Você ainda não possui certificados para emitir. Se você acabou de realizar a compra, aguarde alguns minutos após o pagamento ter sido aprovado.</p>
        {% endif %}
    </div>
{% endblock %}