{% extends 'certificados/wizard_base.html' %}
{% load static cnpj_filter %}

{% block content %}
    <div class="escolha-voucher fix-row-margin">
        <h2>Certificados pendentes de envio à Comodo</h2>
        <table class="table">
            <tr>
                <th>CNPJ</th>
                <th>Produto</th>
                <th>Linha</th>
                <th>Validade</th>
                <th>Data Solicitação</th>
                <th>Tempo de Espera</th>
                <th>Ação Solicitada</th>
                <th>Ação</th>
            </tr>
            {% for voucher in vouchers %}
                {% with emissao=voucher.emissao %}
                <tr>
                    <td><div title="{{ voucher.customer_companyname }}">{{ voucher.customer_cnpj|format_cnpj }}</div></td>
                    <td>{{ voucher.get_ssl_product_display }}</td>
                    <td>{{ voucher.get_ssl_line_display }}</td>
                    <td>{{ voucher.get_ssl_term_display }}</td>
                    <td{% if voucher.sla_estourado %} class="red"{% endif %}>{{ voucher.order_date|date:"d/m/Y" }}</td>
                    <td{% if voucher.sla_estourado %} class="red"{% endif %}>{{ voucher.sla_since }}h / {{ voucher.tempo_em_espera }}h</td>
                    <td>
                        {% if emissao.emission_status == emissao.STATUS_EMISSAO_APROVACAO_PENDENTE or emissao.emission_status == emissao.STATUS_EMISSAO_ERRO_COMODO %}
                            Emissão
                        {% elif emissao.emission_status == emissao.STATUS_REEMISSAO_ERRO_COMODO %}
                            Reemissão
                        {% elif emissao.emission_status == emissao.STATUS_REVOGACAO_APROVACAO_PENDENTE or emissao.emission_status == emissao.STATUS_REVOGACAO_ERRO_COMODO%}
                            Revogação
                        {% endif %}

                        {% if emissao.ocorreu_erro and emissao.emission_error_message %}
                            <span class="badge badge-important" title="{{ emissao.emission_error_message }}" rel="tooltip">!</span>
                        {% endif %}
                    </td>
                    <td>

                        <div class="btn-group btn-block">
                            <button class="span2 btn dropdown-toggle btn-block btn-success no-uppercase" data-toggle="dropdown">Ação <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ voucher.get_revisao_url }}" target="_blank">Revisar</a></li>
                                {% if emissao.emission_reviewer %}
                                    {% if emissao.ocorreu_erro %}
                                        <li>
                                            <a href="{{ voucher.get_reenvio_comodo_url }}" target="_blank">Reenviar a Comodo</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ voucher.get_aprova_voucher_pendente_url }}" target="_blank">Aprovar</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>

                    </td>

                </tr>
                {% endwith %}

            {% empty %}
                <tr><td colspan="8">Nenhum voucher pendente no momento</td></tr>
            {% endfor %}
        </table>
    <i class="pull-right">Para aprovar é necessário revisar antes.</i>
    </div>
{% endblock %}