body{
    background: #FFFFFF;
}

h4{
    font-size: 130%;
}

.page{
    background: inherit;
    border-right: 0;
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ms-box-shadow: none;
         -o-box-shadow: none;
    box-shadow: none;
}

.page_inner{
    padding: 0;
    margin-top: 20px;
}

.price_color{
    font-size: 10px !important;
}

.login_form form, .register_form form{
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ms-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
    border: 0;
    border-radius: 0;
    background: #f7f7f7;
    padding: 17px;
}
.register_form.span8{
    margin-left: 0.2%;
    width: 67.8%;
}
.register_form form{
    background: #f0f0f0;
}

#voucher_form_container{
    margin-top: 20px;
    padding-bottom: 0px;
}

#voucher_form_container label{
    margin-right: 20px;
}

#form-history-filter input[type=text]{
    width: 90px;
    margin: 0 15px 0 10px;
}
.basket-items .price_color{
    font-weight: normal;
    color: rgb(74, 74, 74);
    font-size: 120% !important;
    margin-top: 3px;
}

.basket-items .control-group{
    margin-bottom: 0;
}

.basket-items .price_color{
    margin-bottom: 0;
}
.accordion-heading {
    border-bottom: 0px none;
    background: #DDD;
    padding: 10px 0;
    font-size: 120%;
}

footer{
    margin-top: 100px !important;
}