{% extends 'oscar/base.html' %}
{% load i18n compress %}
{% load staticfiles %}

{% block mainstyles %}

    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/responsive.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "ecommerce/css/bootstrap-custom.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "ecommerce/css/basket.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "ecommerce/css/progress-bar.css" %}" />

{% endblock %}