{% extends 'oscar/base.html' %}
{% load i18n compress %}
{% load staticfiles %}
{% block extrastyles %}
    {{ block.super }}
    <script type="text/javascript">
        url_ecommerce = "{{ url_ecommerce }}";
    </script>
{% endblock %}

{% block mainstyles %}


    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/responsive.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "ecommerce/css/bootstrap-custom.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "ecommerce/css/basket.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "ecommerce/css/progress-bar.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "ecommerce/css/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "home/css/style.css" %}" />

{% endblock %}

{% block layout %}

{% endblock %}

{% include "partials/5-footer.html" %}