{% load pages_tags mezzanine_tags staticfiles %}

<section class="container" style="background-color:#F7F7F7;">
    <section class="featurette" style="padding-bottom:0;">
        <section class="row">
            <aside class="span4">
                <a href=""><img src="{% static "home/img/icons/mainlogo.png" %}" class="mainlogo"/></a>
            </aside>
            <aside class="span8 header1" style="">
                <div class="navbar">
                    <ul class="nav pull-right header1-text">
                        <li class="divider-vertical" style="margin-left:0; margin-right:0; height:120px;"></li>
                        <li class="activa"><a href="#" class="limeh100x">A TRUSTSIGN</a></li>
                        <li class="divider-vertical" style="margin-left:0; margin-right:0; height:120px;"></li>
                        <li><a href="#" class="limeh100x">BLOG</a></li>
                        <li class="divider-vertical" style="margin-left:0; margin-right:0; height:120px;"></li>
                        <li class="activoverfl"><a href="#" class="limeh100x">ENTRAR</a>

                            <div class="foty"
                                 style=" position:absolute; display:none; height:100px; width:200px; background:#F00;">
                                HELLO2
                            </div>
                        </li>
                        <li class="divider-vertical" style="margin-left:0; margin-right:0; height:120px;"></li>
                        <li><a href="#" class="limeh100x dobold">CARRINHO <i class="icon-shopping-cart"></i></a></li>
                        <li class="divider-vertical" style="margin-left:0; margin-right:0; height:120px;"></li>
                        <li>
                            <form action="" class="navbar-search pull-left limeh100x">
                                <!--<input type="text" placeholder="Search" class="search-query span2">-->
                                <!--<button type="submit" class="btn">Search</button>-->
                                &nbsp;&nbsp;<i class="icon-search" style="margin-top:5px;"></i>&nbsp;&nbsp;
                            </form>
                        </li>
                    </ul>
                </div>
            </aside>
        </section>
    </section>

{#<div class="navbar navbar-static-top">#}
{#<div class="navbar-inner">#}
{#<div class="container">#}
{#    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#    </a>#}
{#    <a class="brand" href="/">TrustSign</a>#}
{#    <ul class="nav pull-right">#}
{#        <li><a href='#'>A TrustSign</a></li>#}
{#        <li class="divider-vertical"></li>#}
{#        <li><a href='#'>Blog</a></li>#}
{#        <li class="divider-vertical"></li>#}
{#        <li><a href='#'>Entrar</a></li>#}
{#        <li class="divider-vertical"></li>#}
{#        <li><a href='#'>Carrinho</a></li>#}
{#        <li class="divider-vertical"></li>#}
{#        <li>{% search_form "all" %}</li>#}
{#    </ul>#}
{#    <div class="nav-collapse">#}
{#        {% page_menu "pages/menus/dropdown.html" %}#}
{#    </div>#}
{#</div>#}
{#</div>#}
{#</div>#}
