{% load pages_tags mezzanine_tags staticfiles %}


 <section class="featurette">
    <section class="textac borderh">
        <section class="row header2-text">
            <aside class="span3 tbmp5 borderm"><img src="{% static "home/img/icons/reciever.png" %}"/> LIGUE AGORA: <b>(11)3729-3945</b></aside>
            <aside class="span3 tbmp5 borderm"><img src="{% static "home/img/icons/laptop.png" %}"/> ATENDIMENTO <b>ONLINE</b></aside>
            <aside class="span3 tbmp5 borderm"><img src="{% static "home/img/icons/attherait.png" %}"/> ATENDIMENTO <b>POR EMAIL</b></aside>
            <aside class="span3 tbmp5 lm0"><img src="{% static "home/img/icons/microphone.png" %}"/> LIGAMOS <b>PARA VOCÊ</b></aside>
        </section>
    </section>
 </section>
