{% load pages_tags mezzanine_tags staticfiles  %}

<footer class="margin-top">
    <section class="container" style="background-color:#F7F7F7;">
        <section class="featurette tbm5">
            <section class="row footer-title">
                    <aside class="span6">
                          	  <p class="borderf"><b class="bg-footer font-normal lrp105">SOLUÇÕES</b></p>
                              <p class="child-mar5 lrp10">
                                    <a href="#" class="carsol"><b>&rsaquo;</b> Certicado Digital</a>
                                    <a href="#" class="carsol"><b>&rsaquo;</b> PKI</a>
                                    <a href="#" class="carsol"><b>&rsaquo;</b> Site + Seguro</a>
                                    <a href="#" class="carsol"><b>&rsaquo;</b> Site Monitorado</a>
                              </p>
                    </aside>
                
                
                    <aside class="span5 offset1">
                        <p class="borderf"><b class="bg-footer font-normal lrp105">TRUSTSIGN NAS REDES</b></p>
                        
                         <p class="child-mar5 lrp10">
                           <a href="#"><img src="{% static "trustsign/img/icons/linkedin.png" %}"/></a>
                            <a href="#" class=""><img src="{% static "trustsign/img/icons/facebook.png" %}"/></a>
                        </p>
                    </aside>
            </section>
        </section>
        
        
        <section class="row footer-title">
            <aside class="span6">
                  <p class="borderf"><b class="bg-footer font-normal lrp105">FORMAS DE PAGAMENTO</b></p>

                  <p class="child-mar5 lrp10">
                        <a href="#" class=""><img src="{% static "trustsign/img/icons/card-visa.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "trustsign/img/icons/master-card.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "trustsign/img/icons/ex-card.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "trustsign/img/icons/club-card.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "trustsign/img/icons/aura-icon.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "trustsign/img/icons/hypercard.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "trustsign/img/icons/u-card.png" %}"/></a>
                  </p>
            </aside>
            <aside class="span5 offset1">
                   <p class="borderf"><b class="bg-footer font-normal lrp105">SEGURANÇA</b></p>

                   <p class="child-mar5 lrp10">
                        <a href="#"><img src="{% static "trustsign/img/icons/seguranca-1.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "trustsign/img/icons/seguranca-2.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "trustsign/img/icons/seguranca-3.png" %}"/></a>
                        <a href="#" class=""><img src="{% static "trustsign/img/icons/seguranca-4.png" %}"/></a>
                  </p>
            </aside>
            
        </section>
    </section>
</footer>