{% extends 'certificados/wizard_base.html' %}

{% block coluna-esquerda %}
    {% include 'certificados/includes/dados_cliente.html' %}
    <h3>Dados de Callback</h3>
    <table>
        <tr class="nome"><th>Nome:</th><td>{{ form.callback_nome }} {{ form.callback_sobrenome }} {{ form.callback_nome.errors }}{{ form.callback_sobrenome.errors }}</td></tr>
        <tr><th>E-mail:</th><td>{{ form.callback_email }} {{ form.callback_email.errors }}</td></tr>
        <tr><th>Telefone fixo:</th><td>{{ form.callback_telefone }} {{ form.callback_telefone.errors }}</td></tr>
        <tr><th>Observação:</th><td>{{ form.callback_observacao }} {{ form.callback_observacao.errors }}</td></tr>
    </table>
{% endblock %}

{% block coluna-direita %}


    <h3>Dados Específicos do Produto Escolhido</h3>

    {{ form.non_field_errors }}

    <table>
        {% include 'certificados/includes/dados_produto.html' %}

        {% if voucher.product == voucher.PRODUTO_SAN_UCC %}
            <tr><th>Domínio:</th><td>{{ form.emission_url}} {{ form.emission_url.errors }}</td></tr>
        {% endif %}
    
        <tr><th>CSR:</th><td>{{ form.emission_csr }} {{ form.emission_csr.errors }}</td></tr>
    </table>
{% endblock %}