{% extends "base.html" %}

{% load mezzanine_tags %}

{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.middle :input:visible:enabled:first').focus();});
</script>
{% endblock %}

{% block one_row %}
{#{{ block.super }}#}
    <div class="lm30 fix-row-margin">

    {% block img %}{% endblock %}

{% if request.GET.sent %}
    {% editable page.form.response %}
        {{ page.form.response|richtext_filter|safe }}
    {% endeditable %}
{% else %}
    {% with page.form as page_form %}
        {% editable page_form.content %}
        {{ page_form.content|richtext_filter|safe }}
        {% endeditable %}
    {% endwith %}
    <form class="form-horizontal pull-left" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        {% fields_for form %}
        <div class="{# form-actions #}">
            <input class="btn btn-primary pull-right" style="margin-right: 7px" type="submit" value="{{ page.form.button_text }}">
        </div>
    </form>
{% endif %}
</div>
{% endblock %}

