{% extends 'customer/emails/base.html' %}

{% block title %}Emissão Solicitada com Sucesso{% endblock %}

{% block body %}
<p>Olá, você acabou de solicitar a emissão do certificado tipo {{ voucher.get_ssl_product_display }}, linha {{ voucher.get_ssl_line_display }} com vigência de {{ voucher.get_ssl_term_display }}.</p>
<p>Durante todo o processo de emissão cada vez que o status for alterado você receberá um novo e-mail avisando isso.</p>
{% endblock %}

{# voucher.emissao.emitido = True #}
{#Bolinha 1: Pedido Realizado#}
{#Bolinha 2: Pedido Pago#}
{#Bolinha 3: Emissão Solicitada#}
{#Bolinha 4: Emissão Concluída#}

{#Link para termos de uso do certificado.#}