{% extends 'customer/emails/base.html' %}

{% block title %}Emissão Solicitada com Sucesso{% endblock %}

{% block body %}
<p><font face="Tahoma">Olá, você acabou de solicitar a emissão do certificado tipo {{ voucher.get_ssl_product_display }}, linha {{ voucher.get_ssl_line_display }} com vigência de {{ voucher.get_ssl_term_display }}.</font></p>
<p><font face="Tahoma">Durante todo o processo de emissão cada vez que o status for alterado você será avisado por meio de um novo e-mail.</font></p>
{% endblock %}

{% block informacoes %}
    <li><font face="Tahoma">Consulte seus dados cadastrais no link "<a href="https://{{ site.domain }}/ecommerce/accounts/">Minha Conta</a>" que é disponibilizado após a autenticação no sistema por meio do link "Entrar".</font></li>
    <li><font face="Tahoma">Consulte seus pedidos acessando o link "<a href="https://{{ site.domain }}/ecommerce/accounts/orders/">Histórico de Pedidos</a>" na página "<a href="https://{{ site.domain }}/ecommerce/accounts/">Minha Conta</a>"</font></li>
    <li><font face="Tahoma">Solicite a emissão dos certificados adquiridos acessando o link "<a href="https://{{ site.domain }}/ecommerce/escolha-voucher/">Processo de Emissão</a>" na página "<a href="https://{{ site.domain }}/ecommerce/accounts/">Minha Conta</a>"</font></li>
{% endblock %}