CERTIFICADO TRUSTSIGN

A requisição de emissão do seu certificado digital foi aprovada e está concluída. O registro
em anexo foi emitido para a URL:  www.XXXXXXXXX.com.br
Recomendamos fortemente que seja realizado um backup de seu certificado por precaução.
Se houver alguma dificuldade na instalação do seu certificado, entre outras dúvidas técnicas, entre em contato com o nosso suporte.


SELO TRUSTSIGN

Segue abaixo o código de exibição do selo de validação da TrustSign.
Para exibi-lo, favor inseri-lo no local desejado, dentro do código fonte do site.

SUPORTE
Padrão