{% extends "base.html" %}
{% load mezzanine_tags keyword_tags static %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% editable page.title %}
        {{ page.title }}
    {% endeditable %}
{% endblock %}

{% block one_row %}
    <div class="tabbable ferramentas">
        <ul class="nav nav-tabs">
            <li {% if op == 'ssl-checker' or op == '' %}class="active"{% endif %}>
                <a href="#tab-ssl-checker" data-toggle="tab" class="title"><h3>SSL Checker</h3></a>
                <a href="#tab-ssl-checker" data-toggle="tab" class="descr"><h4>Identifique se seu certificado está corretamente instalado</h4></a>
            </li>
            <li {% if op == 'csr-decoder' %}class="active"{% endif %}>
                <a href="#tab-csr-decoder" data-toggle="tab" class="title"><h3>CSR Decoder</h3></a>
                <a href="#tab-csr-decoder" data-toggle="tab" class="descr"><h4>Decodifique seu CSR</h4></a>
            </li>
            <li {% if op == 'certificate-key-matcher' %}class="active"{% endif %}>
                <a href="#tab-certificate-key-matcher" data-toggle="tab" class="title"><h3>Certificate Key Matcher</h3></a>
                <a href="#tab-certificate-key-matcher" data-toggle="tab" class="descr"><h4>Valide a combinação entre um certificado e a chave privada</h4></a>
            </li>
            <li {% if op == 'ssl-converter' %}class="active"{% endif %}>
                <a href="#tab-ssl-converter" data-toggle="tab" class="title"><h3>SSL Converter</h3></a>
                <a href="#tab-ssl-converter" data-toggle="tab" class="descr"><h4>Altere o formato do seu certificado</h4></a>
            </li>
        </ul>
        <div class="tab-content">
            {% include 'includes/tab-ssl-checker.html' %}
            {% include 'includes/tab-csr-decoder.html' %}
            {% include 'includes/tab-certificate-key-matcher.html' %}
            {% include 'includes/tab-ssl-converter.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/ferramentas.js" %}" type="text/javascript"></script>
{% endblock %}